[viewBag]
==
<li class="cabinet-chat-user online">
    <a href="javascript:">
        <div class="cabinet-chat-user-image">
            <img src="{{ 'assets/dist/img/cabinet/cabinet-chat/girl-1.png'|theme }}" alt="img" />
        </div>
        <div class="cabinet-chat-user-info">
            <div class="cabinet-chat-user-name">
                <h6>Jennifer Fritz</h6>
            </div>
            <div class="cabinet-chat-user-text">
                <p>I'm looking to work with a designer that...</p>
            </div>
        </div>
        <div class="cabinet-chat-user-actions">
            <div class="cabinet-chat-user-actions-last-seen"><span>3:15 PM</span></div>
            <div class="cabinet-chat-user-actions-messages"><span>7</span></div>
        </div>
    </a>
</li>