[viewBag]
==
<div class="cabinet-nav pb-1">
    <div class="cabinet-nav-headline">
        <h5>Личный кабинет</h5>
    </div>
	<ul class="cabinet-nav-items">
	  <li class="cabinet-nav-item">
	    <a href="{{ 'market-store/info'|page }}" class="disabled">
	      <span class="icon-user"></span>
	      <p>Мой кабинет </p>
	    </a>
	  </li>
	  <li class="cabinet-nav-item">
	    <a href="{{ 'account/orders'|page }}" class="{{ this.page.id == "account-orders" ? "active" }}">
	      <span class="icon-bag"></span>
	      <p>Мои заказы</p>
	    </a>
	  </li>
	  <li class="cabinet-nav-item">
	    <a href="{{ 'account/chat'|page }}" class="{{ this.page.id == "account-chat" ? "active" }}">
	      <span class="icon-email"></span>
	      <p>Сообщения</p>
	    </a>
	  </li>
	  <li class="cabinet-nav-item">
	    <a href="{{ 'market-store/info'|page }}" class="disabled">
	      <span class="icon-manuscript"></span>
	      <p>Мои желания </p>
	    </a>
	  </li>
	  <li class="cabinet-nav-item">
	    <a href="{{ 'account/stores'|page }}" class="{{ this.page.id == "account-stores" ? "active" }}">
	      <span class="icon-heart"></span>
	      <p>Любимые магазины</p>
	    </a>
	  </li>
	  <li class="cabinet-nav-item">
	    <a href="{{ 'account/settings'|page }}" class="{{ this.page.id == "account-settings" ? "active" }}">
	      <span class="icon-settings"></span>
	      <p>Настройки профиля</p>
	    </a>
	  </li>
	  <li class="cabinet-nav-item">
		  <a data-request="onLogout" data-request-data="redirect: '/'">
	      <span class="icon-sign-out"></span>
	      <p>Выйти</p>
	    </a>
	  </li>
	</ul>
</div>