[viewBag]
==
<div class="cabinet-nav pb-1">
    <div class="cabinet-nav-headline">
        <h5>Личный кабинет</h5>
    </div>
    
    <ul class="cabinet-nav-items">
        <li class="cabinet-nav-item">
            <a href="javascript:"
                ><img src="{{ 'assets/dist/img/cabinet/conversetion.svg'|theme }}" alt="icon" /> <span>Мой кабинет</span></a
                >
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:"><img src="{{ 'assets/dist/img/cabinet/manuscript.svg'|theme }}" alt="icon" /> <span>Мои заказы</span></a>
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:"><img src="{{ 'assets/dist/img/cabinet/transaction.svg'|theme }}" alt="icon" /> <span>Сообщения</span></a>
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:"><img src="{{ 'assets/dist/img/cabinet/list.svg'|theme }}" alt="icon" /> <span>Мои желания</span></a>
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:"
                ><img src="{{ 'assets/dist/img/cabinet/notification.svg'|theme }}" alt="icon" /> <span>Любимые магазины</span></a
                >
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:" class="active"
                ><img src="{{ 'assets/dist/img/cabinet/like.svg'|theme }}" alt="icon" /> <span>настройки профиля</span></a
                >
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:"><img src="{{ 'assets/dist/img/cabinet/news.svg'|theme }}" alt="icon" /> <span>Новости</span></a>
        </li>
        <li class="cabinet-nav-item">
            <a href="javascript:"><img src="{{ 'assets/dist/img/cabinet/logout.svg'|theme }}" alt="icon" /> <span>Выйти</span></a>
        </li>
    </ul>
</div>