[viewBag]
==
<form data-request="onSignin" data-request-flash>
	<div class="form-row">
		<div class="col-md-12">
			<label for="loginLogin">Введите логин</label>
			<input type="text" class="input-kervan" id="loginLogin" name="login" required>
		</div>
	</div>
	
	<div class="form-row tab-sign-form-password">
		<div class="col-md-12">
			<label for="loginPassword">Пароль</label>
			<input type="password" class="input-kervan" id="loginPassword" name="password" required>
		</div>
	</div>
	
	{% if rememberLoginMode == 'ask' %}
	<div class="custom-control custom-radio tab-sign-form-checkbox">
		<input type="checkbox" class="custom-control-input" id="loginRemember" name="radio-stacked">
		<label class="custom-control-label" for="loginRemember">Запомнить пароль</label>
	</div>
	{% endif %}
	
	<button data-attach-loading class="btn tab-register-form-btn mt-2" type="submit">
		Вход
	</button>
</form>