[viewBag]
==
<form data-request="onUpdate" data-request-flash>
    <div class="cabinet-account-form">
        <div class="cabinet-account-inputs">
            <label>
            	<span>Текущий пароль</span>
            	<input type="password" class="input-kervan" />
            </label>
        </div>
        
        <div class="cabinet-account-inputs">
            <label>
            	<span>Новый пароль</span>
            	<input type="password" name="password" class="input-kervan" />
            </label>
            
            <label>
            	<span>Повторите пароль</span>
            	<input type="password" name="password_confirmation" class="input-kervan"/>
            </label>
        </div>
        
        <button data-attach-loading type="submit" class="btn btn-kervan"> Сохранить </button>
    </div>
</form>