.cards {
  @include row-flex;
  flex-direction: row;
  align-items: stretch;
}

.card {
  @include col();
  @include size(3);
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 0 .5rem;
  background: #fff;
  margin-bottom: .5rem;

  &:before {
    position: absolute;
    display: none;
    top: 1rem;
    left: 1rem;
    content: 'Sale';
    background-color: #ff2600;
    padding: .25rem .5rem;
    border-radius: 4px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
  }

  &:after {
    position: absolute;
    display: none;
    top: 1rem;
    right: 1rem;
    content: 'New';
    background-color: #68d20b;
    padding: .25rem .5rem;
    border-radius: 4px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
  }

  &.new {
    &:after {
      display: block;
    }
  }

  &.sale {
    &:before {
      display: block;
    }
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 0 .5rem;
    min-height: 200px;
    width: 100%;
    img {
      max-height: 176px;
      object-fit: contain;
    }
  }

  &-name {
    flex: 1;
    a {
      color: #000000;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &-brand {
    margin-top: -6px;

    a {
      color: #636363;
      font-size: 11px;
      font-weight: 400;
    }
  }

  &-cost {
    padding-bottom: 8px;

    span {
      color: #ff6f55;
      font-size: 13px;
      font-weight: 500;

      &.inactive-price {
        color: #7a7a7a;
        font-size: 11px;
        font-weight: 300;
        text-decoration: line-through;
      }
    }
  }

  &-period {
    background-color: #ff6f55;
    border-radius: 10px;
    padding: .25rem .5rem;

    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
