@import "/cards.scss";


body {
  font-family: "Montserrat";
  color: #000711;
  position: relative;
  width: 100%;

  &.layout {
    background: url("../img/layouts/chat.png") no-repeat top;
    height: 5000px;
    background-size: 1600px;
    position: relative;
    opacity: .75;
    z-index: -20;
  }

  &.overflow {
    position: relative;

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background: rgba(25, 23, 24, .4);
      z-index: 2;
    }
  }
}

header {
  position: relative;
  z-index: 3;
}

.header {
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;

  &-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;
  }

  &-info {
    display: flex;
    align-items: center;

    .icon-map {
      font-size: rem(18);
      padding: 0;
    }

    span {
      padding-left: .75rem;
      font-size: .875rem;
    }
  }

  &-language {
    display: flex;
    align-items: center;
    z-index: 2;

    & > div {
      padding: 0 .25rem;
      display: flex;
      align-items: center;
    }

    .icon-global {
      font-size: rem(16);
    }
  }
}

.header-exim {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 0;

  &-back {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-left: rem(10);

    &:hover {
      color: black;
      text-decoration: none;

      P {
        text-decoration: none;
      }
    }

    img {
      transform: rotate(180deg);
    }

    span {
      font-family: "Montserrat";
      font-size: rem(14);
      font-weight: 400;
      text-decoration: underline;
      margin: 0 rem(16);
    }
  }

  &-other {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
      color: #000711;
      font-family: "Montserrat";
      font-size: rem(14);
      font-weight: 400;
      padding: 0 rem(20);
    }
  }

  &-call {
    display: flex;
    align-items: center;
    padding-left: rem(60);

    .icon-support {
      font-size: rem(32);
    }

    &-info {
      padding-left: rem(10);
      color: #000711;

      &:hover {
        text-decoration: none;
      }

      h5 {
        font-family: "Montserrat";
        font-size: rem(14);
        font-weight: 400;
        text-decoration: underline;
        color: #000711;
        margin: 0;
      }

      p {
        color: #8995a6;
        font-family: "Montserrat";
        font-size: rem(12);
        font-weight: 400;
        margin: 0;
      }
    }
  }

  @include md-block() {
    &-back {
      p {
        margin-right: 0;
      }
    }
    &-other {
      margin: 0;
      justify-content: space-around;
      width: 44%;

      a {
        padding: 0;
      }
    }
    &-call {
      padding: 0;
    }
  }
  @include xs-block() {
    flex-wrap: wrap;
    &-back {
    }
    &-other {
      order: 1;
      width: 100%;
      padding-top: rem(15);
    }
  }
}

.nav-exim {
  background: white;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(23) 0;
  }

  &-logo {
    padding-left: rem(5);
  }

  &-menu {
    position: relative;
    z-index: 2;

    &-categories {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-category {
      border-radius: 1.5rem;
      transition: all .1s ease-in;
      margin: 0 .25rem;
      display: flex;
      align-items: center;

      &:hover {
        box-shadow: 0 0 1px 1px #ff6f55;
      }

      & > a {
        color: #000711;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: .625rem 2rem;
      }
    }
  }

  &-btn {
    &:hover {
      box-shadow: none;

      & > a {
        color: white;
      }
    }

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff6f55;
      box-shadow: 0 3px 20px rgba(255, 111, 85, 0.3);
      color: white;
      font-family: "Montserrat";
      font-size: rem(13);
      font-weight: 500;
      width: rem(200);
      min-height: rem(44);
      border-radius: 1.5rem;
    }
  }

  @include lg-block() {
    &-menu {
      &-category {
        padding: rem(10) rem(15);
        white-space: nowrap;
      }
    }
  }
  @include md-block() {
    &-btn > a {
      width: rem(135);
    }
    &-menu {
      &-categories {
        overflow-x: scroll;
        flex-wrap: nowrap;
      }
    }
  }
  @include sm-block() {
    &-container {
      flex-wrap: wrap;
    }
    &-logo {
      width: 50%;
    }
    &-menu {
      width: 100%;
      order: 1;

      &-categories {
        justify-content: space-evenly;
      }
    }
    &-btn {
      width: 50%;

      a {
        margin-left: auto;
      }
    }
  }
  @include xs-block() {
    &-menu {
      padding-top: rem(16);

      &-category {
        padding: 0;
      }
    }
  }
}

//LANGUAGE_PANEL
.sl-nav {
  display: inline;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
  }

  li {
    cursor: pointer;

    ul {
      display: none;

      li {
        text-align: left;
        background: transparent;
        z-index: 2;
        font-size: rem(14);
        color: #3c3c3c;

        &:last-of-type {
          padding-bottom: 15px;
        }

        a {
          display: block;
          padding: 1rem;

          &:hover, .sl-nav li ul li a.active {
            color: #146c78;
          }
        }
      }
    }

    &:hover {
      ul {
        position: absolute;
        top: 29px;
        right: -15px;
        display: block;
        background: #fff;
        width: 150px;
        padding-top: 0px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      }

      .triangle {
        position: absolute;
        top: 15px;
        right: -10px;
        z-index: 10;
        height: 14px;
        overflow: hidden;
        width: 30px;
        background: transparent;
      }

      .triangle:after {
        content: '';
        display: block;
        z-index: 20;
        width: 15px;
        transform: rotate(45deg) translateY(0px) translatex(10px);
        height: 15px;
        background: #fff;
        border-radius: 2px 0px 0px 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  p {
    font-size: rem(14);
  }
}

//STARS
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
  color: #c2c2c2;
  font-size: 16px;
  padding-right: 3px;

  &.active {
    color: #ffc107;
  }
}

//END-LANGUAGE_PANEL
.nav {
  position: relative;
  z-index: 1;
  background: #fff;

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include md-block() {
      overflow-x: hidden;
    }
  }

  //NAV-TOP
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &-search {
    flex: 1;
    padding-left: 27px;
    padding-right: 56px;

    &-form {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
      border: 2px solid #ff6f55;
      background-color: #ffffff;
      border-radius: 1.5rem;
      //overflow: hidden;
      &.focused {
        box-shadow: 0 0 5px 1px #ff6f55;
      }

      label {
        flex: 1;
        margin-bottom: 0;

        & > input {
          width: 100%;
          height: 100%;
          border: 0;
          text-indent: 1rem;
          font-size: 1rem;
          font-weight: 400;
          border-radius: 500rem;

          &::placeholder {
            color: #bebebe;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }

    &-btn {
      height: 100%;
      padding: 0 1.5rem;
      border-radius: 20px;
      background-color: #ff6f55;
      padding-right: 20px;

      &:focus {
        outline: none;
      }
    }

    &-verticalLine {
      border-left: 1px solid #ddd;
      height: 30px;
    }

    &-select {
      display: flex;
      align-items: center;

      label {
        padding-left: 15px;
        padding-right: 20px;
      }

      select {
        height: 60px;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        border: 0;
        background: transparent;
        color: #ff6f55;
        font-size: 16px;
        font-weight: 400;
        background-image: url(./../img/search-arrow-down.png);
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 20px;
      }
    }

    &-container {
      display: none;
      position: absolute;
      top: 55px;
      width: 100%;
      border: 1px solid #BCCBD9;
      background: white;
      border-radius: 5px;
      z-index: 100;

      a {
        padding: rem(10) rem(40);
        display: block;
        color: black;
        font-size: rem(14);
        font-weight: 400;
        text-decoration: none;

        &:hover {
          background: #E9EEF7;
        }

        &:first-letter {
          font-weight: 600;
        }
      }

      &.show {
        display: block;
      }


      &.show {
        display: block;
      }
    }

  }

  &-elements {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &-element {
    padding-left: 21px;
    position: relative;

    & .information-rectangle {
      position: absolute;
      content: '';
      top: 0px;
      right: -2px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1px 4px;
      color: #ffffff;
      font-size: 11px;
      border-radius: 50%;
      background-color: #ff4f33;
    }

    &-profile {
      img {
        border: 1px solid #b2b2b2;
        border-radius: 50%;
      }
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 9px;
    }

    i, span:before {
      font-size: rem(24);
      color: #000711;
    }

    &-login {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover {
          span {
            text-decoration: underline;
          }
        }

        span + span{
          padding-left: rem(12);
        }

        span {
          font-weight: 600;
          font-size: rem(14);
          color: #FF6F55;
          opacity: 1;

          &:before {
            font-size: rem(18);
            color: #FF6F55;
          }
        }
      }
    }

  }

  //NAV-MENU
  &-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;


    &-categories {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      @include lg-block() {
        justify-content: flex-start;
      }
      @include md-block() {
        overflow-x: scroll;
        padding: 1rem 0;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
    }

    &-category {
      border-radius: 20px;
      display: flex;
      margin: 0 .5rem;
      transition: all .2s linear;
      justify-content: center;

      a {
        .arrow {
          padding-right: .5rem;
        }

        @include md-block() {
          white-space: nowrap;
        }
      }

      &:hover {
        box-shadow: 0 0 1px 1px #ff6f55;

        > a {
          color: #ff6f55;
        }

      }

      &:first-of-type {
        padding-left: 0;
      }

      & > a {
        padding: rem(6) rem(12);
        color: #000711;
        font-size: rem(15);
        font-weight: 500;
        text-decoration: none;
      }

      &-inner {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        padding-top: 20px;
        margin-top: 27px;

        &-wrapper {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.08);
          background: white;
          padding: 2rem 3rem;
          border: 1px solid rgba(60, 60, 60, 0.08);
          border-radius: 1rem;
          @include bd-block() {
            max-width: 100%;
          }
          @include md-block() {
            padding: 1rem;
          }
        }
      }
    }

    &-column {
      width: 25%;
      margin: 0 15px;
    }

    &-item {
      &.rec {
        position: relative;

        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 7px;
          left: -10px;
          width: 5px;
          height: 5px;
          background: rgba(0, 96, 210, 0.8);
          border-radius: 50%;
          opacity: 0;
          animation: pulse 2s infinite;
        }
      }

      &.headline {
        a {
          font-weight: 500;
        }
      }

      a {
        display: block;
        color: #000;
        font-size: .75rem;
        margin-bottom: 7px;
        text-decoration: none;

        &:hover {
          color: rgba(0, 96, 210, 0.8);
        }
      }
    }

    &-allCategories {

      &-burger {
        span {
          display: block;
          width: 15px;
          height: 2px;
          margin-bottom: 2px;
          position: relative;
          background: #cdcdcd;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          opacity 0.55s ease;

          &:first-child {
            transform-origin: 0% 0%;
          }

          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }

      input[type='checkbox'] {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: .375rem .75rem;
        margin-bottom: 0;
        transition: all .2s linear;
        border-radius: 60rem;
        cursor: pointer;
        user-select: none;

        & > span {
          padding-left: 1rem;
          color: #000711;
          font-size: .9375rem;
          font-weight: 500;
          text-decoration: none;
          white-space: nowrap;
        }

        &:hover {
          box-shadow: 0 0 1px 1px #ff6f55;
        }
      }

      input:checked + label {
        box-shadow: 0 0 1px 1px #ff6f55;

        span {
          color: #ff6f55;
        }

        .nav-menu-allCategories-burger {
          span {
            opacity: 1;
            transform: rotate(45deg) translate(-1px, -7px);
            background: #ff6f55;

            &:nth-last-child(3) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:nth-last-child(2) {
              transform: rotate(-45deg) translate(0, 8px);
            }
          }
        }
      }

    }
  }

  @include md-block() {
    &-top {
      flex-wrap: wrap;
    }
    &-logo {
      width: 50%;
    }
    &-search {
      width: 100%;
      order: 1;
      padding: rem(15) 0 0;
    }
    &-elements {
      width: 50%;
      justify-content: flex-end;
    }
  }

  &-allCategories {
    width: 100vw;
    position: absolute;
    top: 8.25rem;
    left: 0;
    content: '';
    background: white;
    box-shadow: 0 1rem 20px 1px #0202023b;
    border-top: 2px solid rgba(0, 0, 0, .06);
    transition: all .2s linear;
    transform: translateY(-45rem);
    border-top: 2px solid rgba(0, 0, 0, .06);

    &.show {
      opacity: 1;
      transform: translateY(3rem);
      @include lg-block() {
        transform: translateY(5.125rem);
      }
      @include md-block() {
        transform: translateY(8.75rem);
      }
    }

    &-container {
      display: flex;
      align-items: stretch;
      height: 100%;
      @include lg-block() {
        max-width: calc(100% - 4rem);
      }
      @include md-block() {
        max-width: calc(100% - 2rem);
      }
      @include sm-block() {
        max-width: calc(100% - 1rem);
      }
    }

    &-links {
      width: 256px;
      margin-left: -9px;
      border-right: 1px solid rgba(0, 0, 0, .09);
      padding: 15px 10px 15px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      @include sm-block() {
        width: 180px;
      }
    }

    &-link {
      a {
        display: flex;
        align-items: center;
        padding: rem(8) rem(8) rem(8) rem(11);
        width: 100%;
        color: #0a0a0a;
        text-decoration: none;
        font-size: .75rem;
        border-radius: .25rem;

        span {
          flex: 1;
        }

        &:after {
          position: absolute;
          right: 0;
          content: '';
        }
      }

      &.active {
        background: #f4f4f4;
      }

      &-image {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        background: transparent 50% 50% no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100%;
        background-size: 100%;
      }
    }

    &-content {
      flex: 1;
      min-height: 510px;
      @include lg-block() {
        min-height: auto;
      }

      a {
        color: #222;
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
          color: #ff6f55;
        }
      }

      h2 {
        font-weight: 700;
        font-size: 28px;
      }

      &-element {
        padding: 2.25rem 3.5rem;
        display: none;
        flex-direction: column;
        flex-grow: 1;
        @include md-block() {
          padding: 1rem .75rem;
        }

        &:first-of-type {
          display: block;
        }

        &-container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
        }
      }

      &-category {
        overflow: hidden;
        height: 400px;
        margin-top: -8px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        @include lg-block() {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
        }

        &-items {
          width: 234px;
          break-inside: avoid;
          page-break-inside: avoid;
          -webkit-column-break-inside: avoid;
          padding: rem(32) rem(42) 0 0;
          @include md-block() {
            break-inside: unset;
            padding: 1rem 1.5rem 0 0;
          }
          @include sm-block() {
            width: auto;
          }
        }
      }

      &-banners {
        @include lg-block() {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

//CONTENT
.content {
  &-container {
    display: flex;
    flex-direction: column;
    padding-top: 58px;
  }

  &.grey {
    background-color: #f9fafc;
  }
}

//END-CONTENT
footer {
  background-color: #1a1a1a;
}

.footer {
  &-container {
    padding: 50px 0 25px;
  }

  &-headline {
    padding-bottom: 28px;

    h6 {
      color: #ffffff;
      font-family: "SF Pro Display";
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    border-bottom: 1px solid #343434;
  }

  &-links {
    padding-top: 30px;
  }

  &-link {
    a {
      color: #888888;
      font-size: 16px;
      font-weight: 400;
      line-height: 38px;
      text-decoration: none;
      transition: all .2s ease;

      &:hover {
        color: #ffffff;
      }
    }
  }

  &-soc {
    &-items {
      display: flex;
      flex-direction: row;
      padding-bottom: 40px;
    }

    &-item {
      padding-right: 15px;

      &:last-of-type {
        padding-right: 0;
      }

      a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #707070;
        color: #707070;
        border-radius: 10px;
        text-decoration: none;
        transition: all .2s ease;

        &:hover {
          border: 1px solid #ffffff;
          background-color: #ffffff;
          color: #ff6f55;
        }
      }
    }
  }

  &-payment {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-item {
      padding-right: 12px;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  &-app {
    &-items {
      display: flex;
      flex-direction: row;
    }

    &-item {
      &:first-of-type {
        padding-right: 15px;
      }
    }

  }

  &-reserved {
    padding-top: 35px;

    p {
      color: #888888;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  @include md-block() {
    &-nav {
      flex-wrap: wrap;
      padding-bottom: rem(20);
    }
    &-app {
      margin: auto;
    }
  }
  @include sm-block() {
    &-app {
      margin: 0;
    }
  }
  @include xs-block() {
    &-app {
      padding-top: rem(15);
    }
  }
}

//STATIC-TOP-BANNER
.static-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-inner {
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: #000000;
    text-transform: none;
    font-family: "Montserrat";
    font-size: 46px;
    font-weight: 500;
  }

  p {
    color: black;
  }

  img {
    min-height: 200px;

  }
}

.breadcrumbs {
  &-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-item {
    padding-right: 24px;
    position: relative;

    a {
      color: #7d8b9d;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 500;
    }

    &.active {
      a {
        color: #ff6f55;
      }
    }

    &:before {
      position: absolute;
      display: block;
      content: '/';
      left: -.75rem;
      color: #bccbd9;
      font-size: 14px;
      font-weight: 400;
    }

    &:first-of-type {
      &:before {
        display: none;
      }
    }

    &:last-of-type {
      a {
        pointer-events: none;
      }
    }
  }

  @include md-block() {
    &-items {
      overflow: auto;
    }
    &-item {
      white-space: nowrap;
    }
  }
}


// product-item
.product-container {
  @include row-flex();
  padding-top: 1rem;

  &.line {
    & > li {
      width: auto;
      display: grid;
      grid-template-areas: "img desc cost" "img stars fav";
      grid-template-rows: 3fr 2fr;
      grid-template-columns: 1fr 3fr 2.25fr;
      grid-gap: .5rem .625rem;
      padding: .5rem;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .product-item-img {
      grid-area: img;
      min-height: auto;
      justify-content: flex-start;

      img {
        max-height: none;
      }
    }

    .product-item-name {
      display: block;
    }

    .product-item-desc {
      grid-area: desc;
      display: flex;
    }

    .product-item-cost {
      grid-area: cost;

      & > span {
        font-size: 18px;
      }

      & > strong {
        padding-left: 5px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .product-item-favourite {
      display: flex;
    }
  }
}

.product-item {
  @include col();
  @include size(3);
  background-color: #fff;
  box-shadow: 0 16px 50px #E9EEF780;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: .75rem;

  &:hover {
    box-shadow: 0 0 1px 1px #bccbd9;
  }

  &:before {
    position: absolute;
    display: none;
    top: 1rem;
    left: 1rem;
    content: 'Sale';
    background-color: #ff2600;
    padding: .25rem .5rem;
    border-radius: 4px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
  }

  &:after {
    position: absolute;
    display: none;
    top: 1rem;
    right: 1rem;
    content: 'New';
    background-color: #68d20b;
    padding: .25rem .5rem;
    border-radius: 4px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
  }

  &.new {
    &:after {
      display: block;
    }
  }

  &.sale {
    &:before {
      display: block;
    }
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    min-height: 180px;

    img {
      max-height: 176px;
      object-fit: contain;
    }
  }

  &-name {
    padding-top: 13px;

    a {
      color: #000000;
      font-size: rem(14);
      font-weight: 500;
    }
  }

  &-desc {
    display: none;
    padding-top: 8px;

    p {
      color: #000000;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &-sale {
    p {
      font-size: rem(16);
      font-weight: 500;
      margin: 0;
      color: #ff6f55;
    }
  }

  &-brand {
    a {
      color: #636363;
      font-size: 11px;
      font-weight: 300;
    }
  }

  &-cost {
    span {
      color: #ff6f55;

      font-size: 18px;
      font-weight: 500;
    }

    strong {
      color: #bfbfbf;
      font-size: 10px;
      font-weight: 400;
      text-decoration: line-through;
    }
  }

  &-send {
    margin-bottom: 10px;

    span {
      color: #636363;
      font-size: 11px;
      font-weight: 400;
    }
  }

  &-period {
    background-color: #ff6f55;
    border-radius: 10px;
    padding: .25rem .5rem;

    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-favourite {
    padding-top: 8px;
    display: none;

    a {
      align-items: center;
      display: flex;

      &.active {
        svg {
          path {
            fill: #ff6f55;
            stroke: #ff6f55;

          }
        }

        span {
          color: black;
        }
      }
    }

    span {
      color: #636363;
      font-size: 11px;
      font-weight: 400;
      padding-left: 11px;
    }

    &:hover {
      svg {
        path {
          fill: #ff6f55;
        }
      }
    }
  }

  @include size-md(6);
}