//COLORS
$border-hover: #BCCBD9;


//Methods
$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

//BOOTSTRAP CUSTOM GRID CONTAINER

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}


@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 80%;
  }
}


@media (min-width: 2560px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1800px;
  }
}

//CLASSES
h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
#bg-switcher {
  position: fixed;
  top: 3rem;
  right: 0;
  width: 60px;
  height: 60px;
  background: red;
  z-index: 10;
  cursor: pointer;
}
.btn-kervan {
  min-width: 10rem;
  background-color: #ff6f55;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  padding: .75rem 1.5rem;
  border-radius: 500rem;
  text-decoration: none;
  transition: all.3s ease;
  text-align: center;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
  }
  &:hover {
    box-shadow: 0px 3px 20px #FF6F554D;
    color: white;
    text-decoration: none;
    .btn-arr {
      opacity: 0;
    }
  }
  &.btn-arr {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 3rem;
    &:after {
      position: absolute;
      display: block;
      content: '';
      right: 1.5rem;
      width: 9px;
      height: 14px;
      background: url("../img/btn-arr.png") no-repeat right;
      background-size: cover;
    }
  }
  &.without-bg {
    border: 1px solid #ff6f55;
    background: transparent;
    color: #ff6f55;
    &:hover {
      color: #ff6f55;
      border: 1px solid inherit;
    }
    &-arr {
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 3rem;
      &:after {
        position: absolute;
        display: block;
        content: '';
        right: 1.5rem;
        width: 9px;
        height: 14px;
        background: url("../img/right-arr-red.png") no-repeat right;
        background-size: cover;
      }
    }
  }
  &.longer {
    padding: .5rem 4rem;
  }
}
.input-kervan {
  max-width: 100%;
  height: 2.625rem;
  border: 1px solid #d3d9de;
  background-color: #fff;
  border-radius: 500rem;
  color: #000;
  font-weight: 500;
  text-indent: 1rem;
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  &:disabled {
    background: #fafafa;
  }
}
.vertical-line {
  width: 100%;
  margin: .75rem 0;
  background: #e2e2e2;
  height: 1px;
}
.favourite-btn {
  font-size: 20px;
  color: black;
  &.active {
    color: #ff6f55;
  }
}
//STARS
.star-rating__stars {
  position: relative;
  background: url("../img/star-not-checked.png");
  height: 15px;
  width: 80px;
  background-size: 16px 15px;

}
.star-rating__label {
  position: absolute;
  height: 100%;
  background-size: 16px 15px!important;
  cursor: pointer;
}
.star-rating__input {
  margin: 0;
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.star-rating__stars .star-rating__label:nth-of-type(1) {
  z-index: 5;
  width: 20%;
}
.star-rating__stars .star-rating__label:nth-of-type(2) {
  z-index: 4;
  width: 40%;
}
.star-rating__stars .star-rating__label:nth-of-type(3) {
  z-index: 3;
  width: 60%;
}
.star-rating__stars .star-rating__label:nth-of-type(4) {
  z-index: 2;
  width: 80%;
}
.star-rating__stars .star-rating__label:nth-of-type(5) {
  z-index: 1;
  width: 100%;
}
.star-rating__input:checked + .star-rating__label,
.star-rating__input:focus + .star-rating__label,
.star-rating__label:hover {
  background: url("../img/star-checked.png");
}
.star-rating__label:hover ~ .star-rating__label {
  background: url("../img/star-not-checked.png");
}
.star-rating__input:focus ~ .star-rating__focus {
  position: absolute;
  top: -.25em;
  right: -.25em;
  bottom: -.25em;
  left: -.25em;
  outline: none;
}
//END_STARS


//Rulse for tags
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0;
}

button {
  border: 0;
}

legend {
  color: #000;
}


a, button {
  cursor: pointer;
}

main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:hover{
    color: #000000;
  }
}

b, strong {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
