[viewBag]
==
<div class="cabinet-sticker-company">
    <div class="cabinet-sticker-company-header">
        <div class="cabinet-sticker-company-img">
        	{% if exim.logo %}
        		<img src="{{ exim.logo.thumb(150, 150, {mode: 'crop'}) }}" alt="" />
        	{% else %}
        		<img src="{{'assets/dist/img/companies/pepsi.png' | theme}}" alt="" />
        	{% endif %}
        </div>
        
        <div class="cabinet-sticker-company-description">
            <h5> {{exim.name}} </h5>
            <span> {{exim.short_description}} </span>
        </div>
    </div>
    
    <div class="cabinet-sticker-company-info">
        <div class="cabinet-sticker-company-info-address">
            <span> {{exim.address}} </span>
        </div>
        
        <div class="cabinet-sticker-company-info-numbers">
            <a href="tel:{{exim.phone}}"><span> {{exim.phone}} </span> </a>
        </div>
        
        {% if exim.website %}
	        <div class="cabinet-sticker-company-info-site">
	            <a href="{{exim.website}}"><span> {{exim.website}} </span></a>
	        </div>
        {% endif %}
        
    </div>
	
	<div class="cabinet-sticker-company-replace">
		<a href="{{'exim-cabinet/settings'|page}}">Редактировать</a>
	</div>
</div>