[viewBag]
==
<form 
	data-request="onCreateRequest" 
	data-request-flash
	data-request-update="'exim/create-request-complete': '#create-request-container'"
	data-request-files
	class="cabinet-declaration-form">
	
	<div class="cabinet-declaration-form-top">
		<div class="cabinet-declaration-form-inputs">
			<label><span>Наименование товара</span>
				<input class="input-kervan" placeholder="Наименование товара" name="products[0][name]" id="declaration-input" rel="0"/>
			</label>
			<label><span>Количество товара</span>
				<input class="input-kervan" placeholder="шт" name="products[0][quantity]"/>
			</label>
		</div>
		
		<button type="button" id="add-switcher" class="add-switcher">
			<span>+</span>
		</button>
	</div>
	
	<div class="cabinet-declaration-form-wrapper" id="declaration-input-wrapper"></div>
	
	<div class="cabinet-declaration-form-condition">
		<div class="cabinet-declaration-form-inputs">
			<label>
				<span>Выберите условие доставки</span>
				<select name="delivery_type">
					<option value="standart" selected="selected">Стандарт</option>
				</select>
			</label>
			
			<label>
				<span>Грузополучатель</span>
				<input name="consignee" class="input-kervan" placeholder="ФИО"/>
			</label>
		</div>
		
		<div class="cabinet-declaration-form-inputs">
			<label>
				<span>Адрес</span>
				<input name="address" class="input-kervan" placeholder="адрес"/>
			</label>
			
			<label>
				<span>Условие оплаты</span> 
				<select name="payment_type">
					<option value="payme" selected="selected">Payme</option>
					<option value="visa" selected="selected">Visa</option>
				</select>
			</label>
		</div>
	</div>
	
	<div class="cabinet-declaration-form-button">
		<button data-attach-loading type="submit" class="btn-kervan">Отправить</button>
	</div>
</form>