[viewBag]
==
<form 
	data-request="onCreateRequest" 
	data-request-flash
	data-request-update="'exim/create-request-complete': '#create-request-container'"
	data-request-files
	class="cabinet-declaration-form">
	
	<div class="cabinet-declaration-form-top">
		<div class="form-row">
			<label class="col-lg-6 col-12">
				<span>Наименование товара</span>
				<input class="form-control" placeholder="Наименование товара" name="products[0][name]" id="declaration-input" rel="0"/>
				</label>
			<label class="col-lg-6 col-12">
				<span>Количество товара</span>
				<input class="form-control" placeholder="шт" name="products[0][quantity]"/>
			</label>
		</div>
		
		<button type="button" id="add-switcher" class="add-switcher">
			<span>+</span>
		</button>
	</div>
	
	<div class="cabinet-declaration-form-wrapper" id="declaration-input-wrapper"></div>
	
	<div class="cabinet-declaration-form-condition">
		<div class="form-row">
			<label class="col-lg-6 col-12 mb-3">
				<span>Выберите условие доставки</span>
				<select name="delivery_type" class="form-control">
					<option value="standart" selected="selected">Стандарт</option>
				</select>
			</label>
			
			<label class="col-lg-6 col-12 mb-3">
				<span>Грузополучатель</span>
				<input name="consignee" class="form-control" placeholder="ФИО"/>
			</label>
		</div>
		
		<div class="form-row">
			<label class="col-lg-6 col-12 mb-3">
				<span>Адрес</span>
				<input name="address" class="form-control" placeholder="адрес"/>
			</label>
			
			<label class="col-lg-6 col-12 mb-3">
				<span>Условие оплаты</span> 
				<select name="payment_type" class="form-control">
					<option value="payme" selected="selected">Payme</option>
					<option value="visa" selected="selected">Visa</option>
				</select>
			</label>
		</div>
	</div>
	
	<div class="cabinet-declaration-form-button">
		<button data-attach-loading type="submit" class="btn-kervan">Отправить</button>
	</div>
</form>