[viewBag]
==
<div class="cabinet-nav-headline"><h5>Личный кабинет</h5></div>
              <ul class="cabinet-nav-items">
                <li class="cabinet-nav-item">
                  <a href="javascript:" class="active"
                    ><img src="{{'assets/dist/img/cabinet/conversetion.svg' | theme}}" alt="icon" /> <span>Основные данные</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:" class="disabled"
                    ><img src="{{'assets/dist/img/cabinet/manuscript.svg' | theme}}" alt="icon" /> <span>История покупок</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="{{'assets/dist/img/cabinet/transaction.svg' | theme}}" alt="icon" /> <span>История транзакций</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="{{'assets/dist/img/cabinet/list.svg' | theme}}" alt="icon" /> <span>Список обязательных документов</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="{{'assets/dist/img/cabinet/notification.svg' | theme}}" alt="icon" /> <span>Уведомления</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="{{'assets/dist/img/cabinet/like.svg' | theme}}" alt="icon" /> <span>Понравившееся</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="{{'assets/dist/img/cabinet/news.svg' | theme}}" alt="icon" /> <span>Новости</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="{{'assets/dist/img/cabinet/checklist.svg' | theme}}" alt="icon" /> <span>Ассортимент</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="{{'assets/dist/img/cabinet/deal.svg' | theme}}" alt="icon" /> <span>Иностранные партнеры</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="{{'assets/dist/img/cabinet/building.svg' | theme}}" alt="icon" /> <span>Импортёры-компании РУз</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="{{'assets/dist/img/cabinet/term.svg' | theme}}" alt="icon" /> <span>Условия и правила</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="{{'assets/dist/img/cabinet/feedback.svg' | theme}}" alt="icon" /> <span>Отзывы обо мне</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="{{'assets/dist/img/cabinet/help.svg' | theme}}" alt="icon" /> <span>Центр поддержки</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="{{'assets/dist/img/cabinet/lock.svg' | theme}}" alt="icon" /> <span>Безопасность</span></a>
                </li>
              </ul>
              <div class="cabinet-nav-logout">
                <a href="javascript:"><img src="{{'assets/dist/img/cabinet/logout.svg' | theme}}" alt="icon" /> <span>Выйти</span></a>
              </div>