[viewBag]
==
<div class="container">
    <div class="header-exim">
        <a class="header-exim-back" href="/">
	        <i aria-hidden="true" class="fas fa-chevron-left"></i>
            <span>Вернуться на сайт kervanyol.com</span>
        </a>
        <div class="header-exim-other">
            <a href="javascript:">Помощь</a>
            <a href="javascript:">FAQ</a>
        </div>
        <div class="header-exim-call">
           <span class="icon-support"></span>
            <a class="header-exim-call-info" href="javascript:">
                <h5>( 97 ) 451 50 90</h5>
                <p>08:00 до 18:00</p>
            </a>
        </div>
    </div>
</div>

<div class="nav-exim">
    <div class="container">
        <div class="nav-exim-container">
            <div class="nav-exim-logo">
                <a href="/">
                    <img src="{{'assets/dist/img/exIm/logo-exim.png' | theme}}" alt="logo-exim"/>
                </a>
            </div>
            <nav class="nav-exim-menu">
                <ul class="nav-exim-menu-categories">
                    <li class="nav-exim-menu-category">
                        <a href="javascript:">Главная</a>
                    </li>
                    <li class="nav-exim-menu-category">
                        <a href="javascript:">О нас</a>
                    </li>
                    <li class="nav-exim-menu-category">
                        <a href="javascript:">Оптовые товары</a>
                    </li>
                    <li class="nav-exim-menu-category">
                        <a href="javascript:">Компании</a>
                    </li>
                </ul>
            </nav>
            <div class="nav-exim-btn">
            	{% if user.exim %}
                	<a href=" {{'exim-cabinet/settings'|page}} ">Личный кабинет</a>
                {% else %}
                	<a href=" {{'exim-cabinet/register'|page}} ">Войти в систему</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>