[viewBag]
==
<div class="cabinet-register-container-headline">
    <h5>Регистрация</h5>
</div>

<div class="cabinet-register-container-text">
    <p>Данный раздел позволит Вам пройти этап регистрации на нашем сайте.</p>
</div>

<div class="cabinet-register-container-warning">
    <div class="cabinet-register-container-warning-img">
        <img src="{{'assets/dist/img/cabinet/warning.png' | theme}}" alt="" />
    </div>
    
    <div class="cabinet-register-container-warning-text">
        <p><strong>Важно!</strong></p>
        <p>Все пункты должны быть заполнены поэтапно для возможности получения доступа.</p>
    </div>
    
    <div class="cabinet-register-container-warning-close">
        <a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;</a>
    </div>
</div>

<div class="cabinet-register-container-form">
    
    <form data-request="onRegister1" 
    	data-request-flash 
    	data-request-files 
    	data-request-update="
    		'exim/register-2': '#registrationFormContainer',
    		'exim/register-steps-nav': '#registrationFormSteeps'
    	">
        
        <div class="cabinet-register-container-form-inputs">
            <label>
            	<span>Название огранизации*</span>
            	<input class="input-kervan" name="name" value="{{exim.name}}" placeholder="_____" />
            </label>
            
            <label>
            	<span>Торговая марка*</span>
            	<input class="input-kervan" name="brand_name" value="{{exim.brand_name}}" placeholder="_____"/>
            </label>
        </div>
        
        <div class="cabinet-register-container-form-inputs">
            <label>
            	<span>ОГРН*</span> 
            	<input class="input-kervan" name="ogrn_number" value="{{exim.ogrn_number}}" placeholder="_____"/>
            </label>
            
            <label>
                <span>Принаддежность к отраслевым союзам</span>
                <select name="category_id">
                	{% for category in eximCategories %}
                    	<option value="{{category.id}}" {{exim.category_id == category.id ? 'selected="selected"' : ''}} >{{category.name}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        
        <div class="cabinet-register-container-form-inputs">
            <label>
            	<span>Описание</span>
            	<textarea name="short_description" placeholder="Краткая информация о компании...">{{exim.short_description}}</textarea>
            </label>
        </div>
        
        <div class="cabinet-register-container-form-inputs cabinet-register-container-form-upload">
            <div class="cabinet-register-container-form-input">
                <h6>Логотип компании</h6>
                <ul class="main-certificates">
                    <li class="cabinet-register-container-form-addFile-item">
                        <label>
                            <div class="addFile-inner">
                                <img src="{{'assets/dist/img/data-falling/plus.png' | theme}}" alt="plus" /> <span>Загрузить</span>
                            </div>
                            <input type="file" name="logo" class="addedPhotoAll"/>
                            <em class="hidden">замена изображения</em>
                        </label>
                    </li>
                </ul>
                <p>Максимальный</p>
                <p>размер фото 110x110</p>
            </div>
            
            <div class="cabinet-register-container-form-input">
                <h6>Свидетельство о регистрации</h6>
                <ul class="additional-certificates">
                    <li class="cabinet-register-container-form-addFile-item">
                        <label>
                            <div class="addFile-inner">
                                <img src="{{'assets/dist/img/data-falling/plus.png' | theme}}" alt="plus" /> <span>Загрузить</span>
                            </div>
                            
                            <input type="file" rel="0" name="regstration" class="addedPhotoAll" data-name="additional"/>
                            <em class="hidden">замена изображения</em>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        
        <button data-attach-loading type="submit" class="btn-kervan">Продолжить</button>
    </form>
</div>