[viewBag]
==
{% set countryId = countryId|default(form_value('country_id')) %}
{% set stateId = stateId|default(form_value('state_id')) %}


<div class="cabinet-register-container-headline">
    <h5>Регистрация</h5>
</div>
<div class="cabinet-register-container-text">
    <p>Контактные данные компании.</p>
</div>

<div class="cabinet-register-container-warning">
    <div class="cabinet-register-container-warning-img">
        <img src="{{'assets/dist/img/cabinet/warning.png' | theme}}" alt="" />
    </div>
    <div class="cabinet-register-container-warning-text">
        <p><strong>Важно!</strong></p>
        <p>Все пункты должны быть заполнены поэтапно для возможности получения дальнейшего доступа.</p>
    </div>
    <div class="cabinet-register-container-warning-close">
        <a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;</a>
    </div>
</div>

<div class="cabinet-register-container-form">

    <form 
    	data-request="onRegister2" 
    	data-request-files 
    	data-request-flash
    	data-request-update="
    		'exim/register-3': '#registrationFormContainer',
    		'exim/register-steps-nav': '#registrationFormSteeps'
    	">
    	
    	<div id="partialCountryState">
		    {% partial 'common/country-state' countryId=exim.country_id stateId=exim.state_id %}
		</div>
    	
        <div class="form-row">
    	    <label class="col-lg-6 col-12 mb-3">
        		<span>Web-сайт</span>
        		<input class="form-control" name="website" placeholder="www.kervanyol.com" value="{{exim.website}}"/>
            </label>
    	    <label class="col-lg-6 col-12 mb-3">
        		<span>Web-сайт</span>
            	<input class="form-control" name="address" value="{{exim.address}}"/>
            </label>
		</div>
        <div class="form-row">
    	    <label class="col-lg-6 col-12 mb-3">
            	<span>Электронная почта </span>
            	<input class="form-control" name="email" value="{{exim.email}}"/>
            </label>
    	    <label class="col-lg-6 col-12 mb-3">
    			<span>Контактный телефон</span>
            	<input class="form-control" name="phone"  placeholder="+998(__)___-__-__" value="{{exim.phone}}"/>
            </label>
		</div>
        
        <div class="cabinet-register-container-form-buttons justify-content-between">
            <button 
            	type="submit"
            	data-attach-loading
            	class="btn-kervan">Продолжить</button>
            
            <button class="btn btn-link text-info" 
            	data-request="onInit" 
            	data-request-update="'exim/register-1': '#registrationFormContainer'">Назад</button>
        </div>
    </form>
</div>