[viewBag]
==
<div class="cabinet-register-container-headline">
    <h5>Регистрация</h5>
</div>

<div class="cabinet-register-container-text">
    <p>Сведения о руководителе компании</p>
</div>

<div class="cabinet-register-container-form">
    
    <form data-request="onRegister3" 
    	data-request-success="$('#exampleModalCenter').modal('show')"
    	data-request-update="'exim/register-steps-nav': '#registrationFormSteeps'"
    	data-request-files data-request-flash>
    	
        <div class="cabinet-register-container-form-inputs">
            <label>
            	<span>Имя</span> 
            	<input class="input-kervan" name="director_name" value="{{exim.director_name}}"/>
            </label>
            
            <label>
            	<span>Фамилия</span> 
            	<input class="input-kervan" name="director_surname" value="{{exim.director_surname}}"/>
            </label>
        </div>
        
        <div class="cabinet-register-container-form-inputs">
            <label>
            	<span>Отчество</span> 
            	<input class="input-kervan" name="director_middlename" value="{{exim.director_middlename}}"/>
            </label>
            
            <label>
            	<span>Должность</span>
            	<input class="input-kervan" name="director_position" value="{{exim.director_position}}"/>
            </label>
        </div>
        
        <div class="cabinet-register-container-form-inputs">
            <label>
            	<span>Эл.почта</span> 
            	<input class="input-kervan" name="director_email" value="{{exim.director_email}}"/>
            </label>
            
            <label>
            	<span>Контактный телефон</span>
            	<input class="input-kervan" name="director_phone" placeholder="+998(__)___-__-__" value="{{exim.director_phone}}"/>
            </label>
        </div>
        
        <div class="cabinet-register-container-form-buttons">
            <button 
            	data-attach-loading
            	class="btn-kervan" >Сохранить</button>
            	
            <button 
            	data-request="onInit"
            	class="btn btn-link text-info" 
            	data-request-update="'exim/register-2': '#registrationFormContainer'">Назад</button>
            	
        </div>
    </form>
</div>