[viewBag]
==
<div class="cabinet-register-container-headline">
    <h5>Регистрация</h5>
</div>
<div class="cabinet-register-container-text">
    <p>Данный раздел позволит Вам пройти этап регистрации на нашем сайте.</p>
</div>
<div class="cabinet-register-container-warning">
    <div class="cabinet-register-container-warning-img">
        <img src="{{'assets/dist/img/cabinet/warning.png' | theme}}" alt="" />
    </div>
    <div class="cabinet-register-container-warning-text">
        <p><strong>Важно!</strong></p>
        <p>Все пункты должны быть заполнены поэтапно для возможности получения доступа.</p>
    </div>
    <div class="cabinet-register-container-warning-close">
        <a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;</a>
    </div>
</div>
<div class="cabinet-register-container-form">
    <h6>Заполните данные</h6>
    <form action="cabinet-register-2.html">
        <div class="cabinet-register-container-form-inputs">
            <label for="Web-site"
                ><span>Название огранизации*</span>
            <input class="input-kervan" name="name" id="Web-site" placeholder="_____"
                /></label>
            <label for="ogpn"
                ><span>Торговая марка*</span>
            <input class="input-kervan" name="name" id="" placeholder="_____"
                /></label>
        </div>
        <div class="cabinet-register-container-form-inputs">
            <label for="ogpn"
                ><span>ОГРН*</span> <input class="input-kervan" name="name" id="ogpn" placeholder="_____"
                /></label>
            <label for="boss"
                >
                <span>Принаддежность к отраслевым союзам</span>
                <select name="boss" id="boss"
                    >
                    <option value="www.kervanyol.uz" selected="selected">www.kervanyol.uz</option
                        >
                    <option value="www.kervanyol.uz">www.kervanyol.uz</option
                        >
                    <option value="www.kervanyol.uz">www.kervanyol.uz</option
                        >
                    <option value="www.kervanyol.uz">www.kervanyol.uz</option
                        >
                    <option value="www.kervanyol.uz">www.kervanyol.uz</option>
                </select
                    >
            </label
                >
        </div>
        <div class="cabinet-register-container-form-inputs">
            <label for="ogpn"
                ><span>Описание</span>
            <textarea name="filling-textarea" placeholder="Краткая информация о компании..."></textarea>
            </label>
        </div>
        <div class="cabinet-register-container-form-inputs cabinet-register-container-form-upload">
            <div class="cabinet-register-container-form-input">
                <h6>Логотип компании</h6>
                <ul class="main-certificates">
                    <li class="cabinet-register-container-form-addFile-item">
                        <label
                            >
                            <div class="addFile-inner">
                                <img src="{{'assets/dist/img/data-falling/plus.png' | theme}}" alt="plus" /> <span>Загрузить</span>
                            </div>
                            <input
                                type="file"
                                rel="1"
                                name="certificates[1]"
                                class="addedPhotoAll"
                                data-name="certificates"
                                />
                            <em class="hidden">замена изображения</em>
                        </label
                            >
                    </li>
                </ul>
                <p>Максимальный</p>
                <p>размер фото 110x110</p>
            </div>
            <div class="cabinet-register-container-form-input">
                <h6>Свидетельство о регистрации</h6>
                <ul class="additional-certificates">
                    <li class="cabinet-register-container-form-addFile-item">
                        <label
                            >
                            <div class="addFile-inner">
                                <img src="{{'assets/dist/img/data-falling/plus.png' | theme}}" alt="plus" /> <span>Загрузить</span>
                            </div>
                            <input
                                type="file"
                                rel="0"
                                name="additional[0]"
                                class="addedPhotoAll"
                                data-name="additional"
                                />
                            <em class="hidden">замена изображения</em>
                        </label
                            >
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn-kervan">Продолжить</button>
    </form>
</div>