[viewBag]
==
<form action="javascript:">
	<div class="cabinet-edit-data-form">
		<div class='form-row'>
			<label class='col-lg-6 col-12 mb-3'>
				<span>Название огранизации*</span>
				<input class="form-control" value="{{exim.name}}"/>
			</label>
			<label class='col-lg-6 col-12 mb-3'>
				<span>Торговая марка*</span>
				<input class="form-control" value="{{exim.brand_name}}"/>
			</label>
		</div>
		
		<div class='form-row align-items-end'>
			<label class='col-lg-6 col-12 mb-3'>
				<span>ОГРН*</span>
				<input class="form-control" value="{{exim.ogrn_number}}"/>
			</label>
			<label class='col-lg-6 col-12 mb-3'>
				<span>Принаддежность к отраслевым союзам</span>
				<select class="form-control" name="category_id">
                	{% for category in eximCategories %}
                    	<option value="{{category.id}}" {{exim.category_id == category.id ? 'selected="selected"' : ''}} >{{category.name}}</option>
                    {% endfor %}
                </select>
			</label>
		</div>
		<div class="form-row">
			<label class="col-md-12 mb-3">
					<span>Описание</span>
					<textarea class="form-control" 
							  placeholder="Краткая информация о компании...">{{exim.short_description}}</textarea>
			</label>
		</div>
		
		<ul class="cabinet-account-foto">
			<li class="cabinet-register-container-form-addFile-item">
				<h3 class="cabinet-account-foto-label">Логотип компании</h3>
				<label>
					{% if exim.logo %}
						<div class="addFile-inner" style="
	  						background: url('{{ exim.logo.thumb(200, 200) }}') no-repeat center;
	  						background-size: cover;"></div>
  					{% else %}
  						<div class="addFile-inner" style="
	  						background: url('{{"assets/dist/img/companies/cola.png" | theme}}') no-repeat center;
	  						background-size: cover;"></div>
  					{% endif %}
					<input type="file" name="logo" class="addedPhoto"/>
				</label>
				<p>Максимальный<br/>размер фото 110x110</p>
			</li>
		</ul>
		
		<div class="cabinet-edit-data-load">
			<h3>Свидетельство о регистрации</h3>
			<div class="cabinet-edit-data-load-complete">
				<div class="cabinet-edit-data-load-complete-img">
				<span><svg xmlns="http://www.w3.org/2000/svg" width="23" height="28" viewBox="0 0 23 28">
  <g>
    <g>
      <path fill="#a1abb8" d="M13.1 9.8V2.1l7.7 7.7zM3.3 0A2.796 2.796 0 0 0 .514 2.8L.5 25.2c0 1.54 1.246 2.8 2.786 2.8H20.1c1.54 0 2.8-1.26 2.8-2.8V8.4L14.5 0z"/>
    </g>
  </g></svg></span>
				</div>
				<div class="cabinet-edit-data-load-complete-text">
					<h5>Jennifer Fritz</h5>
					<p>отправил Вам сообщение</p>
				</div>
				<div class="cabinet-edit-data-load-complete-delete">
					<a href="javascript:">
						<span class="icon-delete"></span>
					</a>
				</div>
			</div>
			<div class="cabinet-store-orders-load-input">
				<label for="uploadProductFile" id="uploadProductFileLabel">Выберите
					файл
				</label>
				<div class="cabinet-store-orders-load-btn">Обзор</div>
				<input type="file" name="upload" onchange="loadURL(this)" id="uploadProductFile"/>
			</div>
		</div>
		<a href="javascript:" class="btn btn-kervan">Сохранить</a>
	</div>
</form>