[viewBag]
==
<form action="javascript:">
	<div class="cabinet-edit-data-form">
		<div class="cabinet-edit-data-inputs">
			<label><span>Название огранизации*</span>
				<input class="input-kervan" placeholder="" class="form-control" value="ООО 'Кока Кола Эйбиси Евразия'"/>
			</label>
			<label><span>Торговая марка*</span>
				<input class="input-kervan" placeholder="" value="Coca Cola"/>
			</label>
		</div>
		<div class="cabinet-edit-data-inputs">
			<label><span>ОГРН*</span>
				<input class="input-kervan" placeholder="" value=" 4666788454"/>
			</label>
			<label><span>Принаддежность к отраслевым союзам</span>
				<input class="input-kervan" placeholder="" value="Coca Cola"/>
			</label>
		</div>
		<a href="javascript:" class="btn btn-kervan">Сохранить</a>
	</div>
</form>