[viewBag]
==
<form 
	data-request="onRegister2" 
	data-request-files 
	data-request-flash
	data-request-update="
		'exim/register-3': '#registrationFormContainer',
		'exim/register-steps-nav': '#registrationFormSteeps'
	">
	
	<div id="partialCountryState">
	    {% partial 'common/country-state' countryId=exim.country_id stateId=exim.state_id %}
	</div>
    <div class="form-row">
		<label class="col-lg-6 col-12 mb-3">
			<span>Web-сайт</span>
			<input class="form-control" name="website" placeholder="www.kervanyol.com" value="{{exim.website}}"/>
		</label>
		<label class="col-lg-6 col-12 mb-3">
			<span>Адрес</span> 
			<input class="form-control" name="address" value="{{exim.address}}"/>
		</label>
	</div>
    <div class="form-row">
		<label class="col-lg-6 col-12 mb-3">
			<span>Web-сайт</span>
			<input class="form-control" name="website" placeholder="www.kervanyol.com" value="{{exim.email}}"/>
		</label>
		<label class="col-lg-6 col-12 mb-3">
			<span>Адрес</span> 
			<input class="form-control" name="address" value="{{exim.phone}}"/>
		</label>
	</div>
    
    <div class="cabinet-register-container-form-buttons justify-content-between">
        <button 
        	type="submit"
        	data-attach-loading
        	class="btn-kervan">Продолжить</button>
        
        <button class="btn btn-link text-info" 
        	data-request="onInit" 
        	data-request-update="'exim/register-1': '#registrationFormContainer'">Назад</button>
    </div>
</form>