.exim-products {
  &-sides {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: rem(28) 0 rem(120);
    @include row-flex();
  }

  &-main {
    @include col();
    @include size(12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 1rem 1rem 3rem;
  }

  &-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: left;
      padding: 0 1rem;

      &-headline h5 {
        color: #000711;
        font-family: "Montserrat";
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(24);
        margin-bottom: rem(20);
      }

      & > div {
        display: flex;
        flex-direction: column;
      }

      &-props {
        padding-top: rem(19);
      }

      &-prop {
        & > h6 {
          color: #000711;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 700;
          line-height: rem(19);
          margin-bottom: rem(9);
        }

        & > ul {
          display: flex;
          flex-direction: row;
        }


        &.kit {

          ul {
            flex-wrap: wrap;
          }

          li {
            padding-right: 0.5rem;
            padding-bottom: .75rem;

            a {
              padding: 5px 1rem;
              border: 1px solid #dfe3eb;
              border-radius: 5px;
              background-color: #ffffff;
              text-decoration: none;
              transition: all .2s ease;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
              }

              &:focus {
                border-color: #000;
              }

              span {
                color: #636363;
                font-size: 12px;
                font-weight: 300;
              }
            }

            p {
              font-family: "Montserrat";
              font-size: rem(12);
              font-weight: 400;
              line-height: rem(22);
              color: #9ea6b0;
              margin-top: rem(5);
            }
          }
        }

        &.count {
          padding-top: .75rem;

          & .exim-products-card-info-prop-counter {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          & .counter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: rem(115);
            height: 26px;
            border: 1px solid #dfe3eb;
            background-color: #ffffff;
            border-radius: 3px;
            overflow: hidden;

            & > * {
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              color: white;
              text-decoration: none;
            }

            input {
              border: 0;
              color: #636363;
              font-family: "Montserrat";
              font-size: 12px;
              font-weight: 500;
              width: rem(67);
            }

            #counter-inc {
              background-color: #ff6f55;
            }

            #counter-decr {
              background-color: #dfe3eb;
            }

          }

          & .limit-count {
            color: #9ea6b0;
            font-family: "Montserrat";
            font-size: 10px;
            font-weight: 400;
            padding-left: 10px;
          }
        }
      }

      &-orders {
        padding-left: 16px;
      }

      &-cost {
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        padding: rem(24) 0;

        h4 {
          color: #000000;
          font-family: "Montserrat";
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }

      &-buttons {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(24);

        & > .buy-on-click {
          color: #ffffff;
          font-family: "Montserrat";
          font-size: rem(14);
          font-weight: 500;
          padding: rem(10) rem(24);
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &-tabs {
    width: 100%;
    padding-top: rem(67);

    .nav-link {
      color: #000000;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 400;
      border: 0;
      padding-bottom: rem(14);

      &.active {
        font-weight: 700;
        color: #ff6f55;
        background: transparent;

      }

      &:first-of-type {
        padding-left: 0;
        padding-right: 2rem;
      }
    }
  }

  &-tab {
    &-info {
      &-banner {
        padding-top: rem(20);
      }

      &-text {
        padding-top: rem(34);

        h5 {
          color: #0f1016;
          font-family: "Montserrat";
          font-size: 20px;
          font-weight: 600;
        }

        p {
          color: #9ea6b0;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
          margin: 0;
        }
      }
    }

    &-properties {
      padding-top: rem(33);

      &-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-item {
        width: calc(50% - 30px);
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #9ea6b0;
        font-family: "Montserrat";
        font-size: rem(14);
        font-weight: 500;
        padding-bottom: 1.25rem;

        p {
          margin-bottom: 0;
        }

        em {
          display: flex;
          align-items: center;
          padding-left: 3.5rem;
          color: #0f1016;
          font-style: normal;
          font-size: 1rem;
          font-weight: 600;
          position: relative;

          &:before {
            position: absolute;
            display: block;
            left: 1.5rem;
            font-size: 1.5rem;
            color: #9ea6b0;
            content: '•';
          }
        }
      }
    }

    &-reviews {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-top: 1.75rem;

      &-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &-rating {
        &-mark {
          padding-top: 1rem;

          h1 {
            color: #000000;
            font-family: "Montserrat";
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 0.06px;
            margin-bottom: 0;
          }
        }

        &-comments {
          padding-top: .25rem;

          span {
            color: #b9b9b9;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.01px;
            padding-left: .5rem;
          }
        }
      }

      &-marks {
        padding-left: 4.5rem;
        padding-top: 1.5rem;
      }

      &-mark {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: rem(6);

        .star {
          font-size: 13px;
        }

        span {
          color: #000000;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 400;
          padding-left: 5px;
          padding-right: 20px;
        }

        &-range {
          width: 142px;
          height: 2px;
          background-color: #dbdbdb;

          div {
            height: 100%;
            background-color: #fbb03b;
          }
        }
      }

      &-comments {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 3.5rem;

        &-count {
          h6 {
            color: #000000;
            font-family: "Montserrat";
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }

        &-items {
          display: flex;
          flex-direction: column;
          text-align: left;
        }

        &-item {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 2rem 0;
          border-bottom: 1px solid #e1e6ee;

          &:last-of-type {
            border-bottom: none;
          }

          &-img {
            display: flex;
            justify-content: center;
            padding-right: 1.5rem;
            min-width: 70px;

            img {
              width: 40px !important;
              border-radius: 50%;
            }
          }

          &-content {
            display: flex;
            flex-direction: column;

            &-info {
              display: flex;
              flex-direction: row;
              align-items: center;
            }

            &-text {
              padding-top: .5rem;

              p {
                color: #9ea6b0;
                font-family: "Montserrat";
                font-size: .75rem;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 0;
              }
            }
          }

          &-name {
            h6 {
              color: #000000;
              font-family: "Montserrat";
              font-size: rem(15);
              font-weight: 600;
              margin: 0;
            }
          }

          &-stars {
            padding-left: 1.25rem;
            padding-right: 1.5rem;

            .star {
              font-size: rem(15);
            }
          }

          &-date {
            padding-right: 1.5rem;

            span {
              color: #b9b9b9;
              font-family: "Montserrat";
              font-size: .75rem;
              font-weight: 400;
            }
          }

          &-review {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #dfe3eb;

            span {
              padding: .25rem 1.125rem;
              color: #636363;
              font-family: "Montserrat";
              font-size: 12px;
              font-weight: 600;
              letter-spacing: 0.01px;
            }
          }

        }

        &-form {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 2rem 0;
          border-bottom: 1px solid #e1e6ee;

          &-img {
            display: flex;
            justify-content: center;
            padding-right: 1.5rem;
            min-width: 70px;

            img {
              width: 40px !important;
              border-radius: 50%;
            }
          }

          &-info {
            display: flex;
            flex-direction: row;
            align-items: center;

            h6 {
              color: #000000;
              font-family: "Montserrat";
              font-size: rem(15);
              font-weight: 600;
              margin-bottom: 0;
            }
          }

          &-content {
            width: 100%;
            display: flex;
            flex-direction: column;
          }

          &-stars {
            padding-left: 2rem;
          }

          &-textarea {
            padding-top: .5rem;

            textarea {
              width: 100%;
              border: 1px solid #DFE3EB;
              text-align: left;
              resize: none;
              padding: .75rem 1rem;
              font-size: .75rem;
              color: #7D8B9D;
              border-radius: 5px;

              &:focus {
                border-color: #ff6f55;
              }
            }
          }

          &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .refresh-btn {
              margin-right: 1.5rem;

              button {
                background: transparent;
                color: #BCCBD9;
                font-family: "Montserrat";
              }
            }

            .submit-btn {
              button {
                padding: .5rem 1.5rem;
              }
            }
          }
        }

      }
    }
  }

  &.content {
    margin-top: 1rem;
    background: #f9fafc;

    .content-container {
      padding-top: 1.5rem;
    }
  }

  &-slider {
    width: 395px;

    &-container {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      z-index: 0;
    }

    &-top {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      overflow: hidden;

      &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      &-slide {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #333;
      }
    }

    &-thumbs {
      padding-top: 1.5rem;

      &-wrapper {
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
      }

      &-slide {
        width: 40px !important;
        padding: 1px;
        margin-right: 10px;
        border: 1px solid #dfe3eb;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

    }
  }

}