<% var data = {title: "Личный кабинет: Все заказы",};%>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content grey">
    <div class="container-lg">
        <div class="content-container pt-4">
            <div class="cabinet">
                <div class="cabinet-nav pb-1">
                    <div class="cabinet-nav-headline">
                        <h5>Личный кабинет</h5>
                    </div>
                    <%= _.template(require('./../includes/cabinet-nav-magazine.html').default)(data) %>
                </div>
                <div class="cabinet-container sticker">
                    <div class="cabinet-store-main">
                        <div class="cabinet-data-container">
                            <h4>Сведения о магазине </h4>
                            <div class="cabinet-delivery"></div>
                            <div class="cabinet-store-main-content">
                                <a href="javascript:" class="cabinet-store-main-edit">
                                  Редактировать
                                </a>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Название: </p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>Star Elite</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Дата открытия: </p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>12 июля 2010 г </p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Контактный телефон:</p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>+ 998 94 123 45 67</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Адрес магазина:</p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>Ташкент, ул, Новикузнецкая 24 стр, 4а, N 15</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Страна: </p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>Узбекистан</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Вид производства: </p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>одежда</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>ФИ руководителя</p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>Иван Иванов</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Эл.почта</p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>example@mail.ru</p>
                                    </div>
                                </div>
                                <div class="cabinet-store-main-info border-bottom-0 pb-4">
                                    <div class="cabinet-store-main-info-headline">
                                        <p>Телефон руководителя:</p>
                                    </div>
                                    <div class="cabinet-store-main-info-text">
                                        <p>+ 998 94 123 45 67</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet-profile">
                        <div class="cabinet-profile-container">
                            <div class="cabinet-profile-image">
                                <img src="img/cabinet/profile.svg" alt="profile"/>
                            </div>
                            <div class="cabinet-profile-name">
                                <h5>John Doe</h5>
                            </div>
                            <div class="cabinet-profile-email">
                                <p>example@gmail.com</p>
                            </div>
                            <div class="cabinet-profile-number">
                                <p>+998 94 538 65 98</p>
                            </div>
                            <div class="cabinet-profile-link">
                                <a href="javascript:">изменение</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>