<% var data = {title: "Личный кабинет: Заказы",};%><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content grey">
    <div class="container-lg">
        <div class="content-container pt-4">
            <div class="cabinet">
                <div class="cabinet-nav pb-1">
                    <div class="cabinet-nav-headline">
                        <h5>Личный кабинет</h5>
                    </div>
                    <ul class="cabinet-nav-items">
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/conversetion.svg" alt="icon"/>
                                <span>Консоль</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/manuscript.svg" alt="icon"/>
                                <span>Мой магазин</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:" class="active">
                                <img src="img/cabinet/transaction.svg" alt="icon"/>
                                <span>Мои продукты</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/list.svg" alt="icon"/>
                                <span>Заказы</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/notification.svg" alt="icon"/>
                                <span>Выйти</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cabinet-container sticker">
                    <div class="cabinet-data cabinet-account">
                        <div class="tab-content">
                            <div class="tab-pane  fade  show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="cabinet-data-container">
                                    <h4>Мои продукты</h4>
                                    <div class="cabinet-delivery">
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-3.png" alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    Редактировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-url">
                                                    Активировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>156 000 UZS</h2>
                                            <div class="cabinet-store-orders-price-delete">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14"><g><g><path fill="#a1abb8" d="M10.5 2.625H0V.875h2.625L3.5 0H7l.875.875H10.5zM.875 3.5h8.75v8.75c0 .963-.787 1.75-1.75 1.75h-5.25c-.963 0-1.75-.787-1.75-1.75zm10.5 3.5h5.25v1.75h-5.25zm0-3.5H17.5v1.75h-6.125zm0 7h3.5v1.75h-3.5z"/></g></g></svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet-profile">
                        <div class="cabinet-profile-container">
                            <div class="cabinet-profile-image">
								<span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="31" viewBox="0 0 28 31"><g><g><g><path
                                            fill="none" stroke="#bccbd9" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-miterlimit="20" stroke-width="3"
                                            d="M26.007 29v0-3a6 6 0 0 0-6-6h-12a6 6 0 0 0-6 6v3"/></g><g><path
                                            fill="none" stroke="#bccbd9" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-miterlimit="20" stroke-width="3"
                                            d="M20.007 8a6 6 0 1 1-12 0 6 6 0 0 1 12 0z"/></g></g></g></svg>
                                </span>
                            </div>
                            <div class="cabinet-profile-name">
                                <h5>Иван Иванов</h5>
                            </div>
                            <div class="cabinet-profile-email">
                                <p>ivanka90@gmail.com</p>
                            </div>
                            <div class="cabinet-profile-number">
                                <p>+ 998 94 123 45 67</p>
                            </div>
                            <div class="cabinet-profile-link">
                                <a href="javascript:">Редактировать</a>
                            </div>
                        </div>
                        <div class="cabinet-profile-sidebar">
                            <h6>Управление товарами</h6>
                            <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">
                                        Активные товары
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="safety-tab" data-toggle="tab" href="#safety" role="tab"
                                       aria-controls="safety" aria-selected="false">
                                        Неактивные товары
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="notice-tab" data-toggle="tab" href="#notice" role="tab"
                                       aria-controls="notice" aria-selected="false">
                                        Загрузка товара
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>