<% var data = {title: "Личный кабинет: Все заказы",};%><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content grey">
    <div class="container-lg">
        <div class="content-container pt-2">
            <div class="cabinet">
                <div class="cabinet-nav pb-1">
                    <div class="cabinet-nav-headline">
                        <h5>Личный кабинет</h5>
                    </div>
                    <ul class="cabinet-nav-items">
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/conversetion.svg" alt="icon"/>
                                <span>Мой кабинет </span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:" class="active">
                                <img src="img/cabinet/manuscript.svg" alt="icon"/>
                                <span>Мои заказы</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/transaction.svg" alt="icon"/>
                                <span>Сообщения</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/list.svg" alt="icon"/>
                                <span>Мои желания </span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/notification.svg" alt="icon"/>
                                <span>Любимые магазины</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/like.svg" alt="icon"/>
                                <span>настройки профиля</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/news.svg" alt="icon"/>
                                <span>Новости</span>
                            </a>
                        </li>
                        <li class="cabinet-nav-item">
                            <a href="javascript:">
                                <img src="img/cabinet/logout.svg" alt="icon"/>
                                <span>Выйти</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cabinet-container sticker">
                    <div class="cabinet-data">
                        <div class="cabinet-store-executed">
                            <h4>Выполненные заказы</h4>
                        </div>
                        <div class="cabinet-store-executed">
                            <div class="cabinet-order">
                                <div class="cabinet-order-headline">
                                    <h5>Заявка № 12636482</h5>
                                    <a href="javascript:">Подробнее</a>
                                    <div class="cabinet-order-nav cabinet-store-executed-nav">
                                        <span>Доставлен</span>
                                    </div>
                                </div>
                                <div class="cabinet-order-description">
                                    <ul>
                                        <li>
                                            <p>Время заказа:</p>
                                            <p><strong>08:44 Apr. 08 2020</strong></p>
                                        </li>
                                        <li>
                                            <p>Стоимость:</p>
                                            <p><strong class="cost">240 000 UZS</strong></p>
                                        </li>
                                        <li>
                                            <p>Тип доставки:</p>
                                            <p><strong>Самолёт</strong></p>
                                        </li>
                                        <li>
                                            <p>Способ оплаты:</p>
                                            <p><strong>pay me</strong></p>
                                        </li>
                                        <li>
                                            <p>Адрес доставки:</p>
                                            <p><strong>Ташкент, ул, Новикузнецкая 24 стр, 4а, N 15</strong></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-order-images">
                                    <ul>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cabinet-store-executed">
                            <div class="cabinet-order">
                                <div class="cabinet-order-headline">
                                    <h5>Заявка № 12636482</h5>
                                    <a href="javascript:">Подробнее</a>
                                    <div class="cabinet-order-nav cabinet-store-executed-nav">
                                        <span>Доставлен</span>
                                    </div>
                                </div>
                                <div class="cabinet-order-description">
                                    <ul>
                                        <li>
                                            <p>Время заказа:</p>
                                            <p><strong>08:44 Apr. 08 2020</strong></p>
                                        </li>
                                        <li>
                                            <p>Стоимость:</p>
                                            <p><strong class="cost">240 000 UZS</strong></p>
                                        </li>
                                        <li>
                                            <p>Тип доставки:</p>
                                            <p><strong>Самолёт</strong></p>
                                        </li>
                                        <li>
                                            <p>Способ оплаты:</p>
                                            <p><strong>pay me</strong></p>
                                        </li>
                                        <li>
                                            <p>Адрес доставки:</p>
                                            <p><strong>Ташкент, ул, Новикузнецкая 24 стр, 4а, N 15</strong></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-order-images">
                                    <ul>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product.html">
                                                <img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-container-pageNavigation">
                            <ul class="catalog-container-pageNavigation-items">
                                <li class="catalog-container-pageNavigation-item active">
                                    <a href="javascript:">1</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:">2</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:">3</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:">4</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:">5</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:">...</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:">10</a>
                                </li>
                                <li class="catalog-container-pageNavigation-item">
                                    <a href="javascript:"><i class="fas fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cabinet-profile">
                        <div class="cabinet-profile-container">
                            <div class="cabinet-profile-image">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="31" viewBox="0 0 28 31"><g><g><g><path
                                            fill="none" stroke="#bccbd9" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-miterlimit="20" stroke-width="3"
                                            d="M26.007 29v0-3a6 6 0 0 0-6-6h-12a6 6 0 0 0-6 6v3"/></g><g><path
                                            fill="none" stroke="#bccbd9" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-miterlimit="20" stroke-width="3"
                                            d="M20.007 8a6 6 0 1 1-12 0 6 6 0 0 1 12 0z"/></g></g></g></svg>
                                </span>
                            </div>
                            <div class="cabinet-profile-name">
                                <h5>John Doe</h5>
                            </div>
                            <div class="cabinet-profile-email">
                                <p>example@gmail.com</p>
                            </div>
                            <div class="cabinet-profile-number">
                                <p>+998 94 538 65 98</p>
                            </div>
                            <div class="cabinet-profile-link">
                                <a href="javascript:">Редактировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>