<% var data = {title: "Личный кабинет: Регистрация компании",};%><%= _.template(require('./../includes/headerExim.html').default)(data) %>

<main class="content grey">
  <div class="container-lg">
    <div class="content-container pt-1">
      <div class="cabinet">
        <div class="cabinet-nav">
          <div class="cabinet-nav-headline">
            <h5>Личный кабинет</h5>
          </div>
          <%= _.template(require('./../includes/cabinet-nav-agriculture.html').default)(data) %>
        </div>
        <div class="cabinet-container">
          <div class="cabinet-register">
            <div class="cabinet-register-container">
              <div class="cabinet-register-container-headline">
                <h5>Регистрация Фермера</h5>
              </div>
              <div class="cabinet-register-container-text">
                <p>Данный раздел поможет Вам заполнить анкету для продолжения мероприятий на нашем сайте.</p>
              </div>
              <div class="cabinet-register-container-warning">
                <div class="cabinet-register-container-warning-img">
                  <img src="img/cabinet/warning.png" alt=""/>
                </div>
                <div class="cabinet-register-container-warning-text">
                  <p><strong>Важно!</strong></p>
                  <p>Все пункты должны быть заполнены поэтапно для возможности получения дальнейшего
                    доступа.
                  </p>
                </div>
                <div class="cabinet-register-container-warning-close">
                  <a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;
                  </a>
                </div>
              </div>
              <div class="cabinet-register-container-form">
                <h6>Заполните данные</h6>
                <form action="index.html">
                  <div class="cabinet-register-container-form-inputs">
                    <label>
                      <span>Банковский счёт *</span>
                      <input type="text" class="input-kervan" name="name" placeholder="____"/>
                    </label>
                    <label>
                      <span>ИНН *</span>
                      <input type="text" class="input-kervan" name="name" placeholder="____"/>
                    </label>
                  </div>
                  <div class="cabinet-register-container-form-inputs">
                    <label>
                      <span>ОКЭД *</span>
                      <input type="text" class="input-kervan" name='name' placeholder="______"/>
                    </label>
                    <label>
                      <span>МФО *</span>
                      <input type="text" class="input-kervan" name="name" placeholder="______"/>
                    </label>
                  </div>
                  <div class="cabinet-register-container-form-inputs">
                    <label>
                      <span>Номер лицензии *</span>
                      <input type="text" class="input-kervan" name='name' placeholder="______"/>
                    </label>
                    <label>
                      <span>Вид предприятия *</span>
                      <input type="text" class="input-kervan" name="name" placeholder="______"/>
                    </label>
                  </div>
                  <div class="cabinet-register-container-form-inputs">
                    <label>
                      <span>Вид деятельности *</span>
                      <input type="text" class="input-kervan" name='name' placeholder="______"/>
                    </label>
                    <label>
                      <span>Юридическое название *</span>
                      <input type="text" class="input-kervan" name="name" placeholder="______"/>
                    </label>
                  </div>
                  <div class="custom-control custom-radio tab-sign-form-checkbox cabinet-register-export">
                    <input type="checkbox" class="custom-control-input"
                           id="customControlValidation2" name="radio-stacked">
                    <label class="custom-control-label"
                           for="customControlValidation2">Я Согласен Со Всеми Условиями</label>
                  </div>
                  <div class="cabinet-register-container-form-buttons justify-content-between">
                    <button type="submit" class="btn-kervan">
                      Продолжить
                    </button>
                    <a href="javascript:" onclick="window.history.back()">
                      Назад
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="cabinet-sticker">
              <div class="cabinet-register-stages cabinet-register-export">
                <div class="cabinet-register-stages-headline">
                  <h5>Этапы заполнения</h5>
                </div>
                <ul class="cabinet-register-stages-items">
                  <li class="cabinet-register-stages-item done">
                    <h6>Основные данные</h6>
                    <p>Укажите базовые сведения о компании</p>
                  </li>
                  <li class="cabinet-register-stages-item done">
                    <h6>Сведения о земельном участке</h6>
                    <p>Укажите сведения о земельном участке</p>
                  </li>
                  <li class="cabinet-register-stages-item done">
                    <h6>Юридическая информация</h6>
                    <p>Данные банковских счетов</p>
                  </li>
                </ul>
              </div>
              <div class="cabinet-sticker-form">
                <div class="cabinet-sticker-form-company">
                  <div class="cabinet-sticker-form-company-header">
                    <h5>Этапы заполнения:</h5>
                  </div>
                  <form action="cabinet-register-export-2.html">
                    <div class="cabinet-sticker-form-company-select cabinet-register-container-form">
                      <label for="ecp">
                        <span>Электронная цифровая подпись</span>
                        <select name="ecp" id="ecp">
                          <option value="Выберите ЭЦП" selected>Выберите ЭЦП</option>
                          <option value="www.kervanyol.uz">www.kervanyol.uz</option>
                          <option value="www.kervanyol.uz">www.kervanyol.uz</option>
                          <option value="www.kervanyol.uz">www.kervanyol.uz</option>
                          <option value="www.kervanyol.uz">www.kervanyol.uz</option>
                        </select>
                      </label>
                    </div>
                    <button type="submit" class="btn-kervan">
                      войти
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>