<% var data = {title: "Личный кабинет: Заказы",};%><%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content grey">
    <div class="container-lg">
        <div class="content-container pt-1">
            <div class="cabinet">
                <div class="cabinet-nav pb-1">
                    <div class="cabinet-nav-headline">
                        <h5>Личный кабинет</h5>
                    </div>
                    <%= _.template(require('./../includes/cabinet-nav-magazine.html').default)(data) %>
                </div>
                <div class="cabinet-container sticker">
                    <div class="cabinet-data cabinet-account">
                        <div class="tab-content">
                            <div class="tab-pane  fade show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="cabinet-data-container">
                                    <h4>Мои продукты</h4>
                                    <div class="cabinet-delivery">
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-3.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    <span class="icon-megaphone"></span>
                                                    Рекламировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>156 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-1.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    <span class="icon-megaphone"></span>
                                                    Рекламировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>56 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                               <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-2.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    <span class="icon-megaphone"></span>
                                                    Рекламировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>6 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-4.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    <span class="icon-megaphone"></span>
                                                    Рекламировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>106 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog-container-pageNavigation">
                                    <ul class="catalog-container-pageNavigation-items">
                                        <li class="catalog-container-pageNavigation-item">
                                            <p>
                                                Отображено товаров: 1-10 из 3455
                                            </p>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item active">
                                            <a href="javascript:">1</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">2</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">3</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">4</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">5</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">...</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">10</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:"><i class="fas fa-angle-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="inactive" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="cabinet-data-container">
                                    <h4>Мои продукты</h4>
                                    <div class="cabinet-delivery">
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-3.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    Активировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>156 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-1.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    Активировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>56 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-2.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    Активировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>6 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cabinet-store-orders">
                                        <div class="cabinet-store-orders-img">
                                            <img src="img//product/product-collection-4.png"
                                                 alt="product-collection-3"/>
                                        </div>
                                        <div class="cabinet-store-orders-info">
                                            <h4>Oukitel K3 Pro Global <br/>Version </h4>
                                            <div class="cabinet-store-orders-btn">
                                                <a href="javascript:" class="cabinet-store-orders-btn-edit">
                                                    <span class="icon-edit"></span>Редактировать
                                                </a>
                                                <a href="javascript:" class="cabinet-store-orders-btn-left">
                                                    Активировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cabinet-store-orders-price">
                                            <h2>106 000 UZS</h2>
                                            <a class="cabinet-store-orders-price-delete" href="javascript:">
                                                <span class="icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog-container-pageNavigation">
                                    <ul class="catalog-container-pageNavigation-items">
                                        <li class="catalog-container-pageNavigation-item">
                                            <p>
                                                Отображено товаров: 1-10 из 3455
                                            </p>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item active">
                                            <a href="javascript:">1</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">2</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">3</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">4</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">5</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">...</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:">10</a>
                                        </li>
                                        <li class="catalog-container-pageNavigation-item">
                                            <a href="javascript:"><i class="fas fa-angle-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="load" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="cabinet-data-container">
                                    <h4>Мои продукты</h4>
                                    <div class="cabinet-delivery">
                                    </div>
                                    <div class="cabinet-store-orders-load">
                                        <h5>Загрузка товара</h5>
                                        <p>
                                            Для загрузки товара Вам необходимо <a href="javascript:">скачать шаблон
                                            Excel,</a> заполнить его
                                            сведениями Вашего товара и загрузить готовый документ на сайт.
                                            Процесс загрузки товара займёт некоторое время.
                                        </p>
                                        <div class="cabinet-store-orders-load-input">
                                            <label for="uploadProductFile" id="uploadProductFileLabel">Выберите файл</label>
                                            <div class="cabinet-store-orders-load-btn">Обзор</div>
                                            <input type="file" name="upload" id="uploadProductFile"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet-profile">
                        <div class="cabinet-profile-container">
                            <div class="cabinet-profile-image">
                                <img src="img/cabinet/profile.svg" alt="profile"/>
                            </div>
                            <div class="cabinet-profile-name">
                                <h5>Иван Иванов</h5>
                            </div>
                            <div class="cabinet-profile-email">
                                <p>ivanka90@gmail.com</p>
                            </div>
                            <div class="cabinet-profile-number">
                                <p>+ 998 94 123 45 67</p>
                            </div>
                            <div class="cabinet-profile-link">
                                <a href="javascript:">Редактировать</a>
                            </div>
                        </div>
                        <div class="cabinet-profile-sidebar">
                            <h6>Управление товарами</h6>
                            <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">
                                        Активные товары
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive" role="tab"
                                       aria-controls="inactive" aria-selected="false">
                                        Неактивные товары
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="load-tab" data-toggle="tab" href="#load" role="tab"
                                       aria-controls="load" aria-selected="false">
                                        Загрузка товара
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>