<% var data = {title: "Личный кабинет: Декларации",};%>
<%= _.template(require('./../includes/headerExim.html').default)(data) %>

<main class="content grey">
  <div class="container-lg">
    <div class="content-container pt-4">
      <div class="breadcrumbs">
        <ul class="breadcrumbs-items">
          <li class="breadcrumbs-item active">
            <a href="/">
              Главная
            </a>
          </li>
          <li class="breadcrumbs-item">
            <a href="javascript:">
              Документация
            </a>
          </li>
        </ul>
      </div>
      <div class="cabinet">
        <div class="cabinet-nav">
          <div class="cabinet-nav-headline">
            <h5>Личный кабинет</h5>
          </div>
          <%= _.template(require('./../includes/cabinet-nav-exim.html').default)(data) %>
        </div>
        <div class="cabinet-container sticker">
          <div class="cabinet-data">
            <form action="javascript:" method="post" class="cabinet-data-form" enctype="multipart/form-data">
                <div class="cabinet-declaration-bid">
                  <div class="cabinet-declaration-bid-return">
                    <a href="./cabinet-declaration.html">
                      <i class="fas fa-chevron-left"></i> <span>
											Вернуться к списку
										</span>
                    </a>
                  </div>
                  <div class="cabinet-declaration-bid-headline">
                    <h5>Заявка на импорт товара</h5>
                  </div>
                  <div class="cabinet-declaration-bid-item">
                    <div class="cabinet-declaration-bid-number">
                      <h6>Товар № 1</h6>
                    </div>
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Наименование товара</p>
                        <p><strong>Газированная вода Bonaqua</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Количество товара:</p>
                        <p><strong>14 000</strong></p>
                      </li>
                    </ul>
                    <div class="cabinet-declaration-bid-label">
                      <label>
                        <span>Код ТНВЭД</span>
                        <input type="text" class="input-kervan" value="123549816439" disabled/>
                      </label>
                    </div>
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Наименование товара</p>
                        <p><strong>Газированная вода Bonaqua</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p> Госпошлина</p>
                        <p><strong>200$ ( 12% )</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Таможенный платеж</p>
                        <p><strong>75$ ( 8% )</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>НДС</p>
                        <p><strong>95$ ( 9.5% )</strong></p>
                      </li>
                    </ul>
                    <div class="cabinet-declaration-bid-certificates">
                      <h6>Требуемые сертификаты</h6>
                      <div class="cabinet-edit-data-load">
                        <div class="cabinet-edit-data-load-wrapper"></div>
                        <div class="cabinet-store-orders-load-input">
                          <label>
                            Выберите файл
                          </label>
                          <div class="cabinet-store-orders-load-btn">Обзор</div>
                          <input type="file" name="upload" multiple onchange="uploadCompanyFIleRegister(this)"/>
                        </div>
                      </div>
                      <h6>Дополнительные сертификаты</h6>
                      <div class="cabinet-edit-data-load">
                        <div class="cabinet-edit-data-load-wrapper"></div>
                        <div class="cabinet-store-orders-load-input">
                          <label>
                            Выберите файл
                          </label>
                          <div class="cabinet-store-orders-load-btn">Обзор</div>
                          <input type="file" name="upload" onchange="uploadCompanyFIleRegister(this)"/>
                        </div>
                      </div>
                    </div>
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Цена за единицу</p>
                        <p><strong>12$</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Количество</p>
                        <p><strong>14 000 шт</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Ед. измерения</p>
                        <p><strong>кг</strong></p>
                      </li>
                    </ul>
                  </div>
                  <div class="cabinet-declaration-bid-item">
                    <div class="cabinet-declaration-bid-number">
                      <h6>Товар № 1</h6>
                    </div>
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Наименование товара</p>
                        <p><strong>Газированная вода Bonaqua</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Количество товара:</p>
                        <p><strong>14 000</strong></p>
                      </li>
                    </ul>
                    <div class="cabinet-declaration-bid-label">
                      <label>
                        <span>Код ТНВЭД</span>
                        <input type="text" class="input-kervan" value="123549816439" disabled/>
                      </label>
                    </div>
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Наименование товара</p>
                        <p><strong>Газированная вода Bonaqua</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p> Госпошлина</p>
                        <p><strong>200$ ( 12% )</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Таможенный платеж</p>
                        <p><strong>75$ ( 8% )</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>НДС</p>
                        <p><strong>95$ ( 9.5% )</strong></p>
                      </li>
                    </ul>
                    <div class="cabinet-declaration-bid-certificates">
                      <h6>Требуемые сертификаты</h6>
                      <div class="cabinet-edit-data-load">
                        <div class="cabinet-edit-data-load-wrapper"></div>
                        <div class="cabinet-store-orders-load-input">
                          <label>
                            Выберите файл
                          </label>
                          <div class="cabinet-store-orders-load-btn">Обзор</div>
                          <input type="file" name="upload" onchange="uploadCompanyFIleRegister(this)"/>
                        </div>
                      </div>
                      <h6>Дополнительные сертификаты</h6>
                      <div class="cabinet-edit-data-load">
                        <div class="cabinet-edit-data-load-wrapper"></div>
                        <div class="cabinet-store-orders-load-input">
                          <label>
                            Выберите файл
                          </label>
                          <div class="cabinet-store-orders-load-btn">Обзор</div>
                          <input type="file" name="upload" onchange="uploadCompanyFIleRegister(this)"/>
                        </div>
                      </div>
                    </div>
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Цена за единицу</p>
                        <p><strong>12$</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Количество</p>
                        <p><strong>14 000 шт</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Ед. измерения</p>
                        <p><strong>кг</strong></p>
                      </li>
                    </ul>
                  </div>
                  <div class="cabinet-declaration-bid-item inputs">
                    <ul class="cabinet-declaration-bid-descs">
                      <li class="cabinet-declaration-bid-desc">
                        <p>Условия доставки</p>
                        <p><strong>CIP</strong></p>
                      </li>
                      <li class="cabinet-declaration-bid-desc">
                        <p>Грузополучатель</p>
                        <p><strong>ООО СТРОЙ ГРОУП</strong></p>
                      </li>
                    </ul>
                    <div class="cabinet-inputs">
                      <label>
                        <span>Руководитель организации</span>
                        <input type="text" class="input-kervan" name="name" placeholder="www.kervanyol.uz"/>
                      </label>
                      <label>
                        <span>Руководитель организации</span>
                        <input type="text" class="input-kervan" name="name" placeholder="www.kervanyol.uz"/>
                      </label>
                    </div>
                    <div class="cabinet-inputs">
                      <label>
                        <span>Руководитель организации</span>
                        <input type="text" class="input-kervan" name="name" placeholder="www.kervanyol.uz"/>
                      </label>
                      <label>
                        <span>Руководитель организации</span>
                        <input type="text" class="input-kervan" name="name" placeholder="www.kervanyol.uz"/>
                      </label>
                    </div>
                    <div class="cabinet-inputs">
                      <label>
                        <span>Руководитель организации</span>
                        <input type="text" class="input-kervan" name="name" placeholder="www.kervanyol.uz"/>
                      </label>
                      <label>
                        <span>Руководитель организации</span>
                        <input type="text" class="input-kervan" name="name" placeholder="www.kervanyol.uz"/>
                      </label>
                    </div>
                    <div class="cabinet-declaration-bid-select">
                      <h6>Общая сумма: 5000</h6>
                      <select name="rates" id="rates">
                        <option value="USD">USD</option>
                        <option value="RUB">RUB</option>
                        <option value="UZB">UZB</option>
                      </select>
                    </div>
                    <button type="submit" class="btn-kervan">
                      Продолжить
                    </button>

                  </div>
                </div>
            </form>
          </div>
          <div class="cabinet-sticker">
            <div class="cabinet-sticker-company">
              <div class="cabinet-sticker-company-header">
                <div class="cabinet-sticker-company-img">
                  <img src="img/companies/pepsi.png" alt="">
                </div>
                <div class="cabinet-sticker-company-description">
                  <h5>OOO Bonaqua</h5>
                  <span>
											Производство газированной
											воды</span>
                </div>
              </div>
              <div class="cabinet-sticker-company-info">
                <div class="cabinet-sticker-company-info-address">
                  <span>Москва, ул, Новикузнецкая 24 стр, 4а, N 15</span>
                </div>
                <div class="cabinet-sticker-company-info-numbers">
                  <a href="tel:+99871 800-80-80">
                    <span>71 800-80-80</span>
                  </a>
                  <a href="tel:+99871 700-70-70">
                    <span>71 700-70-70</span>
                  </a>
                </div>
                <div class="cabinet-sticker-company-info-site">
                  <a href="https://www.example.com">
                    <span>www.example.com</span>
                  </a>
                </div>
              </div>
              <div class="cabinet-sticker-company-replace">
                <a href="javascript:">Редактировать</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>