<% var data = {title: "Личный кабинет: Регистрация компании",};%><%= _.template(require('./../includes/headerExim.html').default)(data) %>

<main class="content grey">
	<div class="container-lg">
		<div class="content-container pt-4">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="/">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Документация
						</a>
					</li>
				</ul>
			</div>
			<div class="cabinet">
				<div class="cabinet-nav">
					<div class="cabinet-nav-headline">
						<h5>Личный кабинет</h5>
					</div>
					<%= _.template(require('./../includes/cabinet-nav-exim.html').default)(data) %>
				</div>
				<div class="cabinet-container">
					<div class="cabinet-register">
						<div class="cabinet-register-container">
							<div class="cabinet-register-container-headline">
								<h5>Регистрация</h5>
							</div>
							<div class="cabinet-register-container-text">
								<p>Данные этап является заключетельным и сохранит Ваши учетные данные.</p>
							</div>
							<div class="cabinet-register-container-form">
								<h6>Сведения о руководителе компании</h6>
								<form action="cabinet-register-3.html">
									<div class="form-row">
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Фамилия</span>
                      <input type="text" class="form-control" placeholder="_____"/>
                    </label>
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Имя</span>
                      <input type="text" class="form-control" placeholder="_____"/>
                    </label>
                  </div>
									<div class="form-row">
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Отчество</span>
                      <input type="text" class="form-control" placeholder="_____"/>
                    </label>
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Должность</span>
                      <input type="text" class="form-control" placeholder="_____"/>
                    </label>
                  </div>
									<div class="form-row">
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Эл.почта</span>
                      <input type="text" class="form-control" placeholder="_____"/>
                    </label>
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Контактный телефон</span>
                      <input type="text" class="form-control" placeholder="_____"/>
                    </label>
                  </div>
									<div class="cabinet-register-container-form-buttons">
										<button type="button" class="btn-kervan" data-toggle="modal" data-target="#exampleModalCenter">
											Сохранить
										</button>
										<a href="javascript:" onclick="window.history.back()">
											Назад
										</a>
									</div>
								</form>
							</div>
						</div>
						<div class="cabinet-register-stages">
							<div class="cabinet-register-stages-headline">
								<h5>Этапы заполнения</h5>
							</div>
							<ul class="cabinet-register-stages-items">
								<li class="cabinet-register-stages-item done">
									<h6>Основные данные</h6>
									<p>Укажите базовые сведения о компании</p>
								</li>
								<li class="cabinet-register-stages-item done">
									<h6>Контактные данные</h6>
									<p>Заполните данные поля для возможности связаться с Вами</p>
								</li>
								<li class="cabinet-register-stages-item done">
									<h6>Сведения о руководителе</h6>
									<p>Данные о руководителе остаются конфедициальными</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<section class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered container" role="document">
		<div class="modal-content cabinet-modal">

			<div class="cabinet-modal-img">
				<img src="img/cabinet/operator.png" alt="icon"/>
			</div>
			<div class="cabinet-modal-info">
				<div class="cabinet-modal-info-headline">
					<h6>Процесс заполнения формы завершен!</h6>
				</div>
				<div class="cabinet-modal-info-warning">
					<div class="cabinet-modal-info-warning-img">
						<img src="img/cabinet/success.png" alt=""/>
					</div>
					<div class="cabinet-modal-info-warning-text">
						<p><strong>Статус: "Успешно"</strong></p>
					</div>
					<div class="cabinet-modal-info-warning-close">
						<a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;
						</a>
					</div>
				</div>
				<div class="cabinet-modal-info-text">
					<p>Ваши данные переданы на обработку нашим сотрудникам. Это займёт некоторое время.</p>
					<p>По окончании процесса рассмотрения, на указанный Вами номер телефона придёт <strong>СМС-оповещение.</strong>
					</p>
					<b>Благодарим Вас за содействие!</b>
				</div>
				<div class="cabinet-modal-info-button">
					<a href="javascript:" class="btn btn-kervan">Продолжить</a>
				</div>
			</div>
		</div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>