<% var data = {title: "Оформление заявки",};
%><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content grey">
	<div class="container">
		<div class="content-container pt-4">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="/">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Импорт и Экспорт
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Оформление заявки
						</a>
					</li>
				</ul>
			</div>
			<div class="create-request">
					<div class="create-request-headline">
						<h3>Оформление заявки</h3>
						<div class="create-request-container">

						</div>
					</div>
			</div>
		</div>
	</div>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>