<% var data = {title: "Документация",};
%>
<%= _.template(require('./../includes/headerExim.html').default)(data) %>
<main class="content grey">
    <div class="container-lg">
        <div class="content-container pt-4">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-items">
                    <li class="breadcrumbs-item active">
                        <a href="javascript:">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="javascript:">
                            документация
                        </a>
                    </li>
                </ul>
            </div>
            <div class="exim-doc-container">
                <div class="sidebar">
                    <div class="sidebar-nav">
                        <div class="sidebar-nav-headline">
                            <h5>Начать</h5>
                        </div>
                    </div>
                    <div class="sidebar-catalog">
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-skirts" checked/>
                            <label for="companies-skirts">
                                <span>Построить решения</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:" class="active">
                                        <span>Лучшие варианты использования</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Лучшие практики</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Все решения</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Рекомендуемые товары</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>ИИ и машинное обучение</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Управление API</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-art" checked/>
                            <label for="companies-art">
                                <span>Облачные продукты</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Аналитика данных</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Инструменты разработчика</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Гибрид и мульти-облако</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>миграция</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Носовой платок</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шарфы</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Перчатки</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-games"/>
                            <label for="companies-games">
                                <span>Развивающие игры</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Очки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Ремни</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шапки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Бабочки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Носовой платок</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шарфы</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Перчатки</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-skin"/>
                            <label for="companies-skin">
                                <span>Уход за кожей</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Очки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Ремни</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шапки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Бабочки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Носовой платок</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шарфы</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Перчатки</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-furniture"/>
                            <label for="companies-furniture">
                                <span>Мебель</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Очки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Ремни</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шапки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Бабочки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Носовой платок</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шарфы</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Перчатки</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-accessories"/>
                            <label for="companies-accessories">
                                <span>Аксессуары</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Очки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Ремни</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шапки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Бабочки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Носовой платок</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шарфы</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Перчатки</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="companies-nav-categories">
                            <input type="checkbox" id="companies-beauty"/>
                            <label for="companies-beauty">
                                <span>Красота и здоровье</span>
                            </label>
                            <ul class="companies-nav-categories-items">
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Очки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Ремни</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шапки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Бабочки</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Носовой платок</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Шарфы</span>
                                    </a>
                                </li>
                                <li class="companies-nav-categories-item">
                                    <a href="javascript:">
                                        <span>Перчатки</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="exim-doc-content">
                    <div class="exim-doc-content-inner">
                        <div class="exim-doc-header">
                            <h2>Начните с документации Kervanyol</h2>
                            <p>Прыгайте прямо в код, передавайте свои знания
                                или смотрите общую картину.</p>
                        </div>
                        <div class="exim-doc-logo">
                            <img src="img/logo.png" alt="logo.png">
                        </div>
                        <div class="exim-doc-items">
                            <div class="exim-doc-item">
                                <a href="javascript:">Облачные основы</a>
                                <p>Развить понимание облачной разработки и IT maker</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Сравнение платформ</h5>
                                <p>Сравните Google Cloud с AWS, Azure, OpenStack и
                                    локальными центрами обработки данных.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Руководства для предприятий</h5>
                                <p>Следуйте инструкциям по настройке Google Cloud для предприятия.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Бесплатный уровень Google Cloud Platform</h5>
                                <p>Узнайте о бесплатной пробной версии, чтобы начать работу с Google Cloud,
                                    и о том, какие продукты всегда бесплатны.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Программа "Здравствуйте, Kervanyol"</h5>
                                <p>Начните работу с Google Cloud, используя знакомый язык программирования:</p>
                            </div>
                        </div>
                    </div>
                    <div class="exim-doc-content-inner">
                        <div class="exim-doc-header">
                            <h2>Создавайте решения в Kervanyol</h2>
                            <p>Изучите популярные решения, учебные пособия и лучшие практики.</p>
                        </div>
                        <div class="exim-doc-headline">
                            <h4>Лучшие варианты использования</h4>
                        </div>
                        <div class="exim-doc-items">
                            <div class="exim-doc-item">
                                <h5>Облачные основы</h5>
                                <p>Развить понимание облачной разработки и IT maker</p>
                            </div>
                            <div class="exim-doc-item">
                                <a href="javascript:">Сравнение платформ</a>
                                <p>Сравните Google Cloud с AWS, Azure, OpenStack и
                                    локальными центрами обработки данных.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Руководства для предприятий</h5>
                                <p>Следуйте инструкциям по настройке Google Cloud для предприятия.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Бесплатный уровень Google Cloud Platform</h5>
                                <p>Узнайте о бесплатной пробной версии, чтобы начать работу с Google Cloud,
                                    и о том, какие продукты всегда бесплатны.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Программа "Здравствуйте, Kervanyol"</h5>
                                <p>Начните работу с Google Cloud, используя знакомый язык программирования:</p>
                            </div>
                        </div>
                    </div>
                    <div class="exim-doc-content-inner">
                        <div class="exim-doc-items">
                            <div class="exim-doc-item">
                                <h5>Облачные основы</h5>
                                <p>Развить понимание облачной разработки и IT maker</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Сравнение платформ</h5>
                                <p>Сравните Google Cloud с AWS, Azure, OpenStack и
                                    локальными центрами обработки данных.</p>
                            </div>
                            <div class="exim-doc-item">
                                <a href="javascript:">Руководства для предприятий</a>
                                <p>Следуйте инструкциям по настройке Google Cloud для предприятия.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Бесплатный уровень Google Cloud Platform</h5>
                                <p>Узнайте о бесплатной пробной версии, чтобы начать работу с Google Cloud,
                                    и о том, какие продукты всегда бесплатны.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Программа "Здравствуйте, Kervanyol"</h5>
                                <p>Начните работу с Google Cloud, используя знакомый язык программирования:</p>
                            </div>
                        </div>
                    </div>
                    <div class="exim-doc-content-inner">
                        <div class="exim-doc-items">
                            <div class="exim-doc-item">
                                <h5>Облачные основы</h5>
                                <p>Развить понимание облачной разработки и IT maker</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Сравнение платформ</h5>
                                <p>Сравните Google Cloud с AWS, Azure, OpenStack и
                                    локальными центрами обработки данных.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Руководства для предприятий</h5>
                                <p>Следуйте инструкциям по настройке Google Cloud для предприятия.</p>
                            </div>
                            <div class="exim-doc-item">
                                <a href="javascript:">Бесплатный уровень Google Cloud Platform</a>
                                <p>Узнайте о бесплатной пробной версии, чтобы начать работу с Google Cloud,
                                    и о том, какие продукты всегда бесплатны.</p>
                            </div>
                            <div class="exim-doc-item">
                                <h5>Программа "Здравствуйте, Kervanyol"</h5>
                                <p>Начните работу с Google Cloud, используя знакомый язык программирования:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>