<% var data = {title: "PRODUCT_PAGE",}; %><%= _.template(require('./../includes/headerExIm.html').default)(data) %>

<main class="content product">
    <div class="container-lg">
        <div class="content-container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-items">
                    <li class="breadcrumbs-item active">
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="javascript:">
                            Все категории
                        </a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="javascript:">
                            Верхняя одежда
                        </a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="javascript:">
                            Головные уборы спецназначения
                        </a>
                    </li>
                    <li class="breadcrumbs-item">
                        <a href="javascript:">
                            Air Jordan XXXIV
                        </a>
                    </li>
                </ul>
            </div>
            <div class="exim-products-sides">
                <div class="exim-products-main">
                    <div class="exim-products-card">
                        <div class="product-slider">
                            <div class="preview col">
                                <div class="app-figure" id="zoom-fig">
                                    <a id="Zoom-1" class="MagicZoom"
                                       data-options="textHoverZoomHint: Наведите чтобы увеличить;
                                       textClickZoomHint: нажмите чтобы увеличит;
                                       textExpandHint: нажмите чтобы открыть отдельно;
                                       variableZoom: true;
                                       lazyZoom: true;
                                       rightClick: true;
                                       selectorTrigger: hover;"
                                       href="img/product/cola-1.png"
                                       data-zoom-image-2x="img/product/cola-1.png"
                                       data-image-2x="img/product/cola-1.png"
                                    >
                                        <img src="img/product/cola-1.png" srcset="img/product/cola-1.png"
                                             alt=""/>
                                    </a>
                                    <div class="selectors">
                                        <a
                                                data-zoom-id="Zoom-1"
                                                href="img/product/cola-1.png"
                                                data-image="img/product/cola-1.png"
                                                data-zoom-image-2x="img/product/cola-1.png 2x"
                                                data-image-2x="img/product/cola-1.png -2x"
                                        >
                                            <img srcset="img/product/cola-1.png" src="img/product/cola-1.png"/>
                                        </a>
                                        <a
                                                data-zoom-id="Zoom-1"
                                                href="img/product/exim-product-1.png"
                                                data-image="img/product/exim-product-1.png"
                                                data-zoom-image-2x="img/product/exim-product-1.png"
                                                data-image-2x="img/product/exim-product-1.png"
                                        >
                                            <img srcset="img/product/exim-product-1.png" src="img/product/exim-product-1.png"/>
                                        </a>
                                        <a
                                                data-zoom-id="Zoom-1"
                                                href="img/product/exim-product-2.png"
                                                data-image="img/product/exim-product-2.png"
                                                data-zoom-image-2x="img/product/exim-product-2.png"
                                                data-image-2x="img/product/exim-product-2.png"
                                        >
                                            <img srcset="img/product/exim-product-2.png" src="img/product/exim-product-2.png"/>
                                        </a>
                                        <a
                                                data-zoom-id="Zoom-1"
                                                href="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-4.jpg?h=1400"
                                                data-image="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-4.jpg?h=400"
                                                data-zoom-image-2x="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-4.jpg?h=2800"
                                                data-image-2x="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-4.jpg?h=800"
                                        >
                                            <img srcset="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-4.jpg?h=120 2x"
                                                 src="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-4.jpg?h=60"/>
                                        </a>
                                        <a
                                                data-zoom-id="Zoom-1"
                                                href="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-5.jpg?h=1400"
                                                data-image="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-5.jpg?h=400"
                                                data-zoom-image-2x="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-5.jpg?h=2800"
                                                data-image-2x="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-5.jpg?h=800"
                                        >
                                            <img srcset="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-5.jpg?h=400"
                                                 src="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-5.jpg?h=400"/>
                                        </a>
                                        <a
                                                data-zoom-id="Zoom-1"
                                                href="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-6.jpg?h=1400"
                                                data-image="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-6.jpg?h=400"
                                                data-zoom-image-2x="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-6.jpg?h=2800"
                                                data-image-2x="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-6.jpg?h=800"
                                        >
                                            <img srcset="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-6.jpg?h=1400"
                                                 src="https://magictoolbox.sirv.com/images/magiczoomplus/colorful-colors-6.jpg?h=1400"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="exim-products-card-info">
                            <div class="exim-products-card-info-headline">
                                <h5>Oukitel K3 Pro Global Version 5,5-дюймовый FHD Android 9,0 6000 мАч Face Unlock 4GB
                                    RAM 64GB ROM MT6763
                                </h5>
                            </div>
                            <div class="exim-products-card-info-cost">
                                <h4>23 000 - 141 000 UZS</h4>
                            </div>
                            <div class="exim-products-card-info-props">
                                <div class="exim-products-card-info-prop kit">
                                    <h6>Код ТНВЭД</h6>
                                    <div>
                                        <span>123549816439</span>
                                        <p>Срок отгрузки: 40 дней</p>
                                    </div>
                                </div>
                                <div class="exim-products-card-info-prop count">
                                    <h6>Количество:</h6>
                                    <div class="exim-products-card-info-prop-counter">
                                        <div class="counter">
                                            <a href="javascript:" id="counter-decr">
                                                -
                                            </a>
                                            <input type="text" id="counterSum" value="2000"/>
                                            <a href="javascript:" id="counter-inc">+</a>
                                        </div>
                                        <span class="limit-count">
											1861 шт. в наличии
										</span>
                                    </div>
                                </div>
                            </div>
                            <div class="exim-products-card-info-buttons">
                                <a href="javascript:" class="buy-on-click btn btn-kervan">
                                    Добавить в корзину
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="exim-products-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Общая информация
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Профиль компании</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="home" role="tabpanel">
                                <div class="exim-products-tab-info">
                                    <div class="exim-products-tab-info-banner">
                                        <img src="img/product/exim-product-1.png" alt="exim-product-1"/>
                                    </div>
                                    <div class="exim-products-tab-info-banner">
                                        <img src="img/product/exim-product-2.png" alt="exim-product-2"/>
                                    </div>
                                    <div class="exim-products-tab-info-text">
                                        <h5>Основная информация о товаре:</h5>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                            dolor sit amet.
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut labore et dolore
                                            magna aliquyam erat, sed diam voluptua. At vero eos et
                                        </p>
                                    </div>
                                    <div class="exim-products-tab-info-text">
                                        <h5>Основная информация о товаре:</h5>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                            dolor sit amet.
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut labore et dolore
                                            magna aliquyam erat, sed diam voluptua. At vero eos et
                                        </p>
                                    </div>
                                    <div class="exim-products-tab-info-text">
                                        <h5>Основная информация о товаре:</h5>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                            dolor sit amet.
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut labore et dolore
                                            magna aliquyam erat, sed diam voluptua. At vero eos et
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="messages" role="tabpanel">
                                <div class="exim-products-tab-properties">
                                    <ul class="exim-products-tab-properties-items">
                                        <li class="exim-products-tab-properties-item">
                                            <p>Название бренда</p>
                                            <hr class="points"/>
                                            <em>woodvoice</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Название бренда</p>
                                            <hr class="points"/>
                                            <em>woodvoice</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Стиль</p>
                                            <hr class="points"/>
                                            <em>На каждый день</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Стиль</p>
                                            <hr class="points"/>
                                            <em>На каждый день</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Номер модели</p>
                                            <hr class="points"/>
                                            <em>K1602</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Номер модели</p>
                                            <hr class="points"/>
                                            <em>K1602</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Материал</p>
                                            <hr class="points"/>
                                            <em>Хлопок</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Материал</p>
                                            <hr class="points"/>
                                            <em>Хлопок</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Название бренда</p>
                                            <hr class="points"/>
                                            <em>woodvoice</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Название бренда</p>
                                            <hr class="points"/>
                                            <em>woodvoice</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Стиль</p>
                                            <hr class="points"/>
                                            <em>На каждый день</em>
                                        </li>
                                        <li class="exim-products-tab-properties-item">
                                            <p>Стиль</p>
                                            <hr class="points"/>
                                            <em>На каждый день</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>