<% var data = {title: "Password-recovery"}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content sign-register">
    <div class="container">
        <div class="sign-register-items">
            <div class="sign-register-item-img">
                <img src="img/register.png" alt="register.png">
            </div>
            <div class="sign-register-item">
                <div class="sign-register-inner">
                    <div class="sign-register-tabs">
                        <ul class="nav sign-register-nav">
                            <li class="sign-register-nav-item">
                                <a class="sign-register-nav-link active" href="javascript:">
                                    Вход в Личный кабинет
                                </a>
                            </li>
                            <span class="sign-register-nav-br"></span>
                            <li class="sign-register-nav-item">
                                <a class="sign-register-nav-link" href="javascript:">
                                    Регистрация
                                </a>
                            </li>
                        </ul>
                        <div class="rec-password">
                            <h3>Восстановление пароля</h3>
                            <p>Для восстановления пароля необходимо ввести код</p>
                            <form>
                                <div class="form-row">
                                    <div class="col-md-12 mb-4">
                                        <label for="validatRec01">Введите номер телефона или адрес эл.почты</label>
                                        <input type="text" class="input-kervan" id="validatRec01"
                                               required>
                                        <small>Мы отправим код подтверждения на этот номер или письмо на эл.почту</small>
                                    </div>
                                </div>
                                <button class="btn tab-register-form-btn" type="submit">
                                    Отправить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>