<% var data = {title: "Password-recovery-2"}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content sign-register">
  <div class="container">
    <div class="sign-register-items">
      <div class="sign-register-item-img">
        <img src="img/register.png" alt="register.png">
      </div>
      <div class="sign-register-item">
        <div class="sign-register-inner">
          <div class="sign-register-tabs">
            <ul class="nav sign-register-nav">
              <li class="sign-register-nav-item">
                <a class="sign-register-nav-link" href="javascript:">
                  Вход в Личный кабинет
                </a>
              </li>
              <span class="sign-register-nav-br"></span>
              <li class="sign-register-nav-item">
                <a class="sign-register-nav-link" href="javascript:">
                  Регистрация
                </a>
              </li>
            </ul>
            <div class="rec-password">
              <h3>Восстановление пароля</h3>
              <p>Восстановить пароль с помощью <a href="javascript:">Эл.почты</a></p>
              <form>
                <div class="form-row">
                  <label class="col-12 mb-3">
                    <span>Введите код</span>
                    <input type="text" class="form-control" placeholder="Код подтверждения" required/>
                    <small>Мы отправим код подтверждения на эл.почту</small>
                  </label>
                </div>
                <button class="btn-kervan" type="submit">
                  Сохранить
                </button>
                <div class="rec-password-number">
                  <p>Код был выслан на указанный номер. 1:30 </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>