<% var data = {title: "SignIn-Register"}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content sign-register">
  <div class="container-lg">
    <div class="sign-register-items">
      <div class="sign-register-item-img">
        <img src="img/register.png" alt="register.png">
      </div>
      <div class="sign-register-item">
        <div class="sign-register-inner">
          <div class="sign-register-tabs">
            <ul class="nav sign-register-nav" role="tablist">
              <li class="sign-register-nav-item">
                <a class="sign-register-nav-link" href="sign-in.html">
                  Вход в Личный кабинет
                </a>
              </li>
              <span class="sign-register-nav-br"></span>
              <li class="sign-register-nav-item">
                <a class="sign-register-nav-link active">
                  Регистрация
                </a>
              </li>
            </ul>
            <div class="tab-register">
              <div class="tab-register-social">
                <h3>Также Вы можете войти через:</h3>
                <ul class="tab-register-blocks">
                  <li class="tab-register-block">
                    <a href="javascript:">
                      <img src="img/google.png" alt="google.png">
                      Google
                    </a>
                  </li>
                  <li class="tab-register-block">
                    <a href="javascript:">
                      <img src="img/facebook.png" alt="facebook.png">
                      facebook
                    </a>
                  </li>
                  <li class="tab-register-block">
                    <a href="javascript:">
                      <img src="img/twitter.png" alt="twitter.png">
                      twitter
                    </a>
                  </li>
                </ul>
                <p>Регистрация с помощью социальных сетей занимает минимум времени.
                  Вам не нужно создавать новые пароли и запоминать их.
                  Все данные остаются конфиденциальными.</p>
              </div>
              <div class="tab-register-br">
                <span></span>
                <div class="tab-register-br-text">
                  <p>или</p>
                </div>
              </div>
              <div class="tab-register-form">
                <h4>Зарегистрируйтесь с помощью номера телефона или Эл.почты</h4>
                <form>
                  <div class="form-row">
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Имя</span>
                      <input type="text" class="form-control" placeholder="Имя" required/>
                    </label>
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Фамилия:</span>
                      <input type="text" class="form-control" placeholder="Фамилия" required/>
                    </label>
                  </div>
									<div class="form-row">
                    <label class="col-12 mb-3">
                      <span>Введите адрес эл.почты</span>
                      <input type="text" class="form-control" placeholder="mail@m.com" required/>
                    </label>
                  </div>
                  <div class="form-row tab-register-form-password">
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Создайте пароль</span>
                      <input type="password"
                             class="form-control password-input"
                             placeholder="Password"
                             required>
                    </label>
                    <label class="col-lg-6 col-12 mb-3">
                      <span>Повторите пароль</span>
                      <input type="password"
                             class="form-control password-input"
                             placeholder="Password"
                             required>
                      <a href="javascript:" class="password-control">
                        <i class="far fa-eye"></i>
                      </a>
                    </label>
                  </div>
                  <button class="btn-kervan" type="submit">
                    Зарегистрироваться
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>