<% var data = {title: "SignIn-Register"}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content sign-register">
	<div class="container-lg sign-register">
		<div class="sign-register-items">
			<div class="sign-register-item-img">
				<img src="img/register.png" alt="register.png">
			</div>
			<div class="sign-register-item">
				<div class="sign-register-inner">
					<div class="sign-register-tabs">
						<ul class="nav sign-register-nav" role="tablist">
							<li class="sign-register-nav-item">
								<a class="sign-register-nav-link active" href="#">
									Вход в Личный кабинет
								</a>
							</li>
							<span class="sign-register-nav-br"></span>
							<li class="sign-register-nav-item">
								<a class="sign-register-nav-link" href="sign-up.html">
									Регистрация
								</a>
							</li>
						</ul>
						<div class="tab-sign">
							<div class="tab-sign-form">
								<form>
									<div class="form-row">
										<div class="sign-register-input">
											<label for="validatSing01">Введите логин</label>
											<input type="text"
											       class="input-kervan"
											       id="validatSing01"
											       placeholder="username@m.com"
											       required>


										</div>
									</div>
									<div class="form-row tab-sign-form-password">
										<div class="sign-register-input">
											<label for="validatSing02">Пароль</label>
											<input type="password"
											       class="input-kervan"
											       id="validatSing02"
											       placeholder="Password"
											       required>
										</div>
									</div>
									<div class="custom-control custom-radio tab-sign-form-checkbox">
										<input type="checkbox" class="custom-control-input"
										       id="customControlValidation2" name="radio-stacked">
										<label class="custom-control-label"
										       for="customControlValidation2">Запомнить пароль</label>
									</div>
									<button class="btn-kervan " type="submit">
										Вход
									</button>
								</form>
								<a href="javascript:" class="tab-sign-form-help mt-3">Забыли пароль?</a>
							</div>
							<div class="tab-register-br">
								<span></span>
								<div class="tab-register-br-text">
									<p>или</p>
								</div>
							</div>
							<div class="tab-register-social">
								<h3>Также Вы можете войти через:</h3>
								<ul class="tab-register-blocks">
									<li class="tab-register-block">
										<a href="javascript:">
											<img src="img/google.png" alt="google.png">
											Google
										</a>
									</li>
									<li class="tab-register-block">
										<a href="javascript:">
											<img src="img/facebook.png" alt="facebook.png">
											facebook
										</a>
									</li>
									<li class="tab-register-block">
										<a href="javascript:">
											<img src="img/twitter.png" alt="twitter.png">
											twitter
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>