<% var data = {title: "PRODUCT_PAGE",}; %>
<% var sale_0 = {sale: ""} %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content store">
	<div class="container">
		<div class="content-container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="/">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Все категории
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Верхняя одежда
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Головные уборы спецназначения
						</a>
					</li>
				</ul>
			</div>
			<div class="store-sides">
				<div class="store-main">
					<div class="store-card">
						<img src="img/city-style-logo.png" alt="city-style-logo.png">
						<div class="store-card-info">
							<h1>City style storest</h1>
							<div class="store-card-info-rating">
								<ul class="stars">
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star">
										<i class="fas fa-star"></i>
									</li>
								</ul>
								<div class="store-card-info-rating-orders">
									<span>4.0</span>
								</div>
							</div>
							<div class="store-card-info-reviews">
								<p>Отзывы</p>
								<div class="store-card-info-reviews-orders">
									<span>-45</span>
								</div>
							</div>
						</div>
					</div>
					<div class="store-nav">
						<nav class="store-nav-menu">
							<ul class="store-nav-menu-categories">
								<li class="store-nav-menu-call">
									<span class="icon-call"></span>
									<a href="javascript:">
										+998 (99) 111 <span class="underline">показать</span>
									</a>
									<div class="store-nav-menu-call-inner">
										<div class="store-nav-menu-call-inner-wrapper">
											<div class="store-nav-menu-call-column">
												<h4>Контакты продавца</h4>
												<div class="store-nav-menu-call-item">
													<a href="">+998 (99) 111 22 66</a>
													<div class="store-nav-menu-call-social">
														<a class="tg" href="javascript:">
                              <img src="img/icon-telegram.png" alt="icon-telegram"/>
														</a>
														<a class="viber" href="javascript:">
                              <img src="img/icon-viber.png" alt="icon-viber"/>
														</a>
														<a class="whatsapp" href="javascript:">
                              <img src="img/icon-whatsapp.png" aicon-whatsapplt=""/>
														</a>
													</div>
												</div>
												<p>Служба поддержки клиентов</p>
											</div>
										</div>
									</div>
								</li>
								<li class="store-nav-menu-category">
									<span class="icon-shipped"></span>
									<a href="javascript:">Доставка <span class="arrow"></span>
									</a>
								</li>
								<li class="store-nav-menu-category">
									<span class="icon-credit-card"></span>
									<a href="javascript:">Оплата <span class="arrow"></span>
									</a>
								</li>
								<li class="store-nav-menu-category">
									<span class="icon-map"></span>
									<a href="javascript:">Ташкент</a>
									<span class="arrow"></span>
								</li>
								<li class="store-nav-menu-category">
									<span class="icon-clock"></span>
									<a href="javascript:">Круглосуточно</a>
									<span class="arrow"></span>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="store-banner">
				<img src="img/store/banner-store.png" alt="banner-store.png">
			</div>
			<div class="store-products">
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-6.png" alt="product-6.png">
						<span>Нижняя одежда</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-4.png" alt="product-6.png">
						<span>Стройматериалы</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-1.png" alt="product-6.png">
						<span>Товары для дома</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-2.png" alt="product-6.png">
						<span>Товары для офиса</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-5.png" alt="product-6.png">
						<span>Товары для праздника</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-3.png" alt="product-6.png">
						<span>Сумки и чемоданы</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-3.png" alt="product-6.png">
						<span>Сумки и чемоданы</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-1.png" alt="product-6.png">
						<span>Товары для дома</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-4.png" alt="product-6.png">
						<span>Стройматериалы</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-5.png" alt="product-6.png">
						<span>Товары для праздника</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-2.png" alt="product-6.png">
						<span>Товары для офиса</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-6.png" alt="product-6.png">
						<span>Нижняя одежда</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-3.png" alt="product-6.png">
						<span>Сумки и чемоданы</span>
					</a>
				</div>
				<div class="store-products-item">
					<a href="/catalog.html">
						<img src="img/store/product-2.png" alt="product-6.png">
						<span>Товары для офиса</span>
					</a>
				</div>
			</div>
			<div class="store-links">
				<div class="store-links-block">
					<a href="javascript:">Новинка</a>
				</div>
				<div class="store-links-block">
					<a href="javascript:">Дорогой</a>
				</div>
				<div class="store-links-block">
					<a href="javascript:">Дешевые</a>
				</div>
				<div class="store-links-block">
					<a href="javascript:">Популярные</a>
				</div>
				<div class="store-links-block">
					<a href="javascript:">Высший рейтинг</a>
				</div>
				<div class="store-links-block">
					<a href="javascript:">Дорогой</a>
				</div>
				<div class="store-links-block">
					<a href="javascript:">Низкий рейтинг</a>
				</div>
			</div>
			<div class="store-items">
				<ul class="product-container">
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                    <%= _.template(require('./../includes/product-cards.html').default)(sale_0) %>
                </ul>
			</div>
		</div>
	</div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>