<% var data = {title: "Личный кабинет: Все заказы",};%><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content grey">
	<div class="container-lg">
		<div class="content-container pt-4">
			<div class="cabinet">
				<div class="cabinet-nav pb-1">
					<div class="cabinet-nav-headline">
						<h5>Личный кабинет</h5>
					</div>
					<ul class="cabinet-nav-items">
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/conversetion.svg" alt="icon"/>
								<span>Мой кабинет </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:" class="active">
								<img src="img/cabinet/manuscript.svg" alt="icon"/>
								<span>Мои заказы</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/transaction.svg" alt="icon"/>
								<span>Сообщения</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/list.svg" alt="icon"/>
								<span>Мои желания </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/notification.svg" alt="icon"/>
								<span>Любимые магазины</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/like.svg" alt="icon"/>
								<span>настройки профиля</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/news.svg" alt="icon"/>
								<span>Новости</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/logout.svg" alt="icon"/>
								<span>Выйти</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="cabinet-container sticker">
					<div class="cabinet-data">
						<div class="tab-content">
							<div class="tab-pane  fade" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="cabinet-data-container">
									<h4>Все заказы</h4>
									<p class="my-0 text-muted">
										<small>В разделе «Все заказы» Вы просмотреть список ваших заказов в realtime
											режиме!
										</small>
									</p>
								</div>
								<div class="cabinet-data-container">
									<div class="cabinet-order">
										<div class="cabinet-order-headline">
											<h5>Заявка № 12636482</h5>
											<a href="javascript:">Подробнее</a>
										</div>
										<div class="cabinet-order-description">
											<ul>
												<li>
													<p>Время заказа:</p>
													<p><strong>08:44 Apr. 08 2020</strong></p>
												</li>
												<li>
													<p>Стоимость:</p>
													<p><strong class="cost">240 000 UZS</strong></p>
												</li>
												<li>
													<p>Тип доставки:</p>
													<p><strong>Самолёт</strong></p>
												</li>
												<li>
													<p>Способ оплаты:</p>
													<p><strong>pay me</strong></p>
												</li>
												<li>
													<p>Адрес доставки:</p>
													<p><strong>Ташкент, ул, Новикузнецкая 24 стр, 4а, N 15</strong></p>
												</li>
											</ul>
										</div>
										<div class="cabinet-order-images">
											<ul>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
													</a>
												</li>
												<li>
													<a href="javascript:">
														<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
													</a>
												</li>
											</ul>
										</div>
										<div class="cabinet-order-nav">
											<a href="javascript:">NПроверить отслеживание</a>
											<a href="javascript:">Добавить в корзину снова</a>
											<a href="javascript:" class="btn">Завершено</a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane  fade" id="profile" role="tabpanel" aria-labelledby="home-tab">
								<div class="cabinet-data-container">
									<h4>Все заказы</h4>
									<p class="my-0 text-muted">
										<small>В разделе «Все заказы» Вы просмотреть список ваших заказов в realtime
											режиме!
										</small>
									</p>
									<ul class="cabinet-coupons">
										<li class="cabinet-coupon">
											<div class="cabinet-coupon-image">
												<img src="img/cabinet/cabinet-coupons/coupon-red.svg" alt="coupon"/>
												<div class="cabinet-coupon-image-text">
													<p>На заказ от US $0.91</p>
													<h6><strong>14 000 uzs </strong><br/> Купон</h6>
												</div>
											</div>
											<ul class="cabinet-coupon-description">
												<li>
													<p>Срок действия:</p>
													<p><strong>1 июля 2020 – 1 августа 2020 г.</strong></p>
												</li>
												<li>
													<p>Действует на:</p>
													<p><strong>только избранные товары</strong></p>
												</li>
												<li>
													<p>Магазин:</p>
													<p><strong>KOTTON</strong></p>
												</li>
												<li>
													<p>Ограничения:</p>
													<p><strong>безвозвратный</strong></p>
												</li>
												<li>
													<p>Статус купона:</p>
													<p>только избранные товары</p>
												</li>
											</ul>
										</li>
										<li class="cabinet-coupon">
											<div class="cabinet-coupon-image">
												<img src="img/cabinet/cabinet-coupons/coupon.svg" alt="coupon"/>
												<div class="cabinet-coupon-image-text">
													<p>На заказ от US $0.91</p>
													<h6><strong>14 000 uzs </strong><br/> Купон</h6>
												</div>
											</div>
											<ul class="cabinet-coupon-description">
												<li>
													<p>Срок действия:</p>
													<p><strong>1 июля 2020 – 1 августа 2020 г.</strong></p>
												</li>
												<li>
													<p>Действует на:</p>
													<p><strong>только избранные товары</strong></p>
												</li>
												<li>
													<p>Магазин:</p>
													<p><strong>KOTTON</strong></p>
												</li>
												<li>
													<p>Ограничения:</p>
													<p><strong>безвозвратный</strong></p>
												</li>
												<li>
													<p>Статус купона:</p>
													<p><strong class="expired">просрочено</strong></p>

												</li>
											</ul>
										</li>
										<li class="cabinet-coupon">
											<div class="cabinet-coupon-image">
												<img src="img/cabinet/cabinet-coupons/coupon.svg" alt="coupon"/>
												<div class="cabinet-coupon-image-text">
													<p>На заказ от US $0.91</p>
													<h6><strong>14 000 uzs </strong><br/> Купон</h6>
												</div>
											</div>
											<ul class="cabinet-coupon-description">
												<li>
													<p>Срок действия:</p>
													<p><strong>1 июля 2020 – 1 августа 2020 г.</strong></p>
												</li>
												<li>
													<p>Действует на:</p>
													<p><strong>только избранные товары</strong></p>
												</li>
												<li>
													<p>Магазин:</p>
													<p><strong>KOTTON</strong></p>
												</li>
												<li>
													<p>Ограничения:</p>
													<p><strong>безвозвратный</strong></p>
												</li>
												<li>
													<p>Статус купона:</p>
													<p><strong class="active">Активен</strong></p>

												</li>
											</ul>
										</li>
										<li class="cabinet-coupon">
											<div class="cabinet-coupon-image">
												<img src="img/cabinet/cabinet-coupons/coupon.svg" alt="coupon"/>
												<div class="cabinet-coupon-image-text">
													<p>На заказ от US $0.91</p>
													<h6><strong>14 000 uzs </strong><br/> Купон</h6>
												</div>
											</div>
											<ul class="cabinet-coupon-description">
												<li>
													<p>Срок действия:</p>
													<p><strong>1 июля 2020 – 1 августа 2020 г.</strong></p>
												</li>
												<li>
													<p>Действует на:</p>
													<p><strong>только избранные товары</strong></p>
												</li>
												<li>
													<p>Магазин:</p>
													<p><strong>KOTTON</strong></p>
												</li>
												<li>
													<p>Ограничения:</p>
													<p><strong>безвозвратный</strong></p>
												</li>
												<li>
													<p>Статус купона:</p>
													<p>только избранные товары</p>
												</li>
											</ul>
										</li>
										<li class="cabinet-coupon">
											<div class="cabinet-coupon-image">
												<img src="img/cabinet/cabinet-coupons/coupon.svg" alt="coupon"/>
												<div class="cabinet-coupon-image-text">
													<p>На заказ от US $0.91</p>
													<h6><strong>14 000 uzs </strong><br/> Купон</h6>
												</div>
											</div>
											<ul class="cabinet-coupon-description">
												<li>
													<p>Срок действия:</p>
													<p><strong>1 июля 2020 – 1 августа 2020 г.</strong></p>
												</li>
												<li>
													<p>Действует на:</p>
													<p><strong>только избранные товары</strong></p>
												</li>
												<li>
													<p>Магазин:</p>
													<p><strong>KOTTON</strong></p>
												</li>
												<li>
													<p>Ограничения:</p>
													<p><strong>безвозвратный</strong></p>
												</li>
												<li>
													<p>Статус купона:</p>
													<p>только избранные товары</p>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class="tab-pane  fade" id="messages" role="tabpanel" aria-labelledby="home-tab">
								<div class="cabinet-data-container">
									<h4>Карты и способы оплаты</h4>
									<p class="my-0 text-muted">
										<small>Примите во внимание, что различные платежные системы и сервисы могут
											взимать разную комиссию. Также, поступление платежа занимает от нескольких
											минут до пары часов.
										</small>
									</p>
									<div class="cabinet-payment">
										<form action="javascript:">
											<div class="cabinet-payment-check">
												<div class="cabinet-payment-check-container">
													<div class="cabinet-payment-check-container-hidden">
														<div class="cabinet-payment-check-container-elements" id="check-loaded">
															<h6>Сумма к оплате</h6>
															<h4>141 000 UZS</h4>
															<em>Номер заказа <strong>№5549875</strong></em>
														</div>
													</div>
												</div>
												<div class="cabinet-payment-check-types">
													<h6>Выберите способ оплаты:</h6>
													<ul class="cabinet-payment-check-types-items">
														<li class="cabinet-payment-check-types-item">
															<input type="radio" id="payment-visa" name="payment-types"/>
															<label for="payment-visa">
																<img src="img/cabinet/cabinet-coupons/visa.svg" alt="payment"/>
															</label>
														</li>
														<li class="cabinet-payment-check-types-item">
															<input type="radio" id="payment-mastercard" name="payment-types"/>
															<label for="payment-mastercard">
																<img src="img/cabinet/cabinet-coupons/mastercard.svg" alt="payment"/>
															</label>
														</li>
														<li class="cabinet-payment-check-types-item">
															<input type="radio" id="payment-paypal" name="payment-types"/>
															<label for="payment-paypal">
																<img src="img/cabinet/cabinet-coupons/paypal.svg" alt="payment"/>
															</label>
														</li>
														<li class="cabinet-payment-check-types-item">
															<input type="radio" id="payment-express" name="payment-types"/>
															<label for="payment-express">
																<img src="img/cabinet/cabinet-coupons/american-express.svg" alt="payment"/>
															</label>
														</li>
														<li class="cabinet-payment-check-types-item">
															<input type="radio" id="payment-uzcard" name="payment-types"/>
															<label for="payment-uzcard">
																<img src="img/cabinet/cabinet-coupons/uzcard.png" alt="payment"/>
															</label>
														</li>
														<li class="cabinet-payment-check-types-item">
															<input type="radio" id="payment-payme" name="payment-types"/>
															<label for="payment-payme">
																<img src="img/cabinet/cabinet-coupons/payme.png" alt="payment"/>
															</label>
														</li>

													</ul>
												</div>
											</div>
											<div class="cabinet-payment-form">
												<h4>ОПЛАТА КАРТОЙ</h4>
												<div class="cabinet-payment-form-cardNumber cabinet-data-inputs">
													<label>
														<span>Номер карты</span>
														<input type="text" placeholder="___ ___ ___ ___"/>
													</label>
												</div>
												<div class="cabinet-payment-form-deadline cabinet-data-inputs">
													<label>
														<span> Срок действия:</span>
														<div>
															<input type="text" placeholder="MM"/>
															<input type="text" placeholder="YY"/>
														</div>
													</label>
													<label>
														<span>Код CVV|CVC:</span>
														<input type="text" placeholder="___"/>
													</label>
												</div>
												<div class="cabinet-payment-form-name cabinet-data-inputs">
													<label>
														<span>Имя владельца карты:</span>
														<div>
															<input type="text" placeholder="Имя"/>
															<input type="text" placeholder="Фамилия"/>
														</div>
													</label>
												</div>
												<a href="javascript:" class="btn btn-kervan">оплатить </a>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="tab-pane  fade  show active" id="settings" role="tabpanel" aria-labelledby="home-tab">
								<div class="cabinet-data-container">
									<h4>Карты и способы оплаты</h4>
									<p class="my-0 text-muted">
										<small>
											Укажите адреса доставки.
										</small>
									</p>
									<div class="cabinet-delivery">
										<form action="javascript:">
											<div class="cabinet-delivery-form">
												<div class="cabinet-delivery-form-name cabinet-data-inputs">
													<label>
														<span>Имя получателя</span>
														<input type="text" placeholder="___ ___ ___ ___"/>
													</label>
													<label>
														<span>Страна/Регион</span>
														<select name="sss">
															<option value="uzb" selected>uzb</option>
															<option value="rus">rus</option>
															<option value="usa">usa</option>
														</select>
													</label>
												</div>
												<div class="cabinet-delivery-form-address cabinet-data-inputs">
													<label>
														<span> Улица, дом, квартира:</span>
															<input type="text" placeholder="MM"/>
													</label>
												</div>
												<div class="cabinet-delivery-form-name cabinet-data-inputs">
													<label>
														<span>Край/Область/Регион:</span>
														<select name="sss">
															<option value="uzb">uzb</option>
															<option value="rus" selected>rus</option>
															<option value="usa">usa</option>
														</select>
													</label>
													<label>
														<span>Город:</span>
														<input type="text" placeholder="___ ___ ___ ___"/>
													</label>
												</div>
												<div class="cabinet-delivery-form-name cabinet-data-inputs">
													<label>
														<span>Почтовый индекс:</span>
														<input type="text" placeholder="___ ___ ___ ___"/>
													</label>
													<label>
														<span>Номер телефона</span>
														<input type="text" name="client-phone" placeholder="+998-(__) ___ - __ - __"/>
													</label>
												</div>
												<div class="cabinet-delivery-form-checkbox">
													<input type="checkbox" id="box"/>
													<label for="box">
														<span>В моём адресе нет почтового кода.</span>
													</label>

												</div>
												<div class="cabinet-delivery-form-checkbox">
													<input type="checkbox" id="remember"/>

													<label for="remember">
														<span>Запомнить данные</span>
													</label>
												</div>
												<a href="javascript:" class="btn btn-kervan">оплатить </a>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="tab-pane  fade" id="last" role="tabpanel" aria-labelledby="home-tab">
								<div class="cabinet-data-container">
									<h4>Возврат</h4>
									<p class="my-0 text-muted">
										<small>
											В случае дефекта заказанного товара, Вы сможете обсудить условия возврата непосредственно с Поставщиком.
										</small>
									</p>
									<div class="cabinet-delivery">
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="cabinet-profile">
						<div class="cabinet-profile-container">
							<div class="cabinet-profile-image">
								<img src="img/cabinet/default-user.svg" alt=""/>
							</div>
							<div class="cabinet-profile-name">
								<h5>John Doe</h5>
							</div>
							<div class="cabinet-profile-email">
								<p>example@gmail.com</p>
							</div>
							<div class="cabinet-profile-number">
								<p>+998 94 538 65 98</p>
							</div>
							<div class="cabinet-profile-link">
								<a href="javascript:">изменение</a>
							</div>
						</div>
						<div class="cabinet-profile-sidebar">
							<h6>Управление заказами</h6>
							<ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
										Все заказы
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
										Мои купоны
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">
										Карты и способы оплаты
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
										Адреса доставки
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="last-tab" data-toggle="tab" href="#last" role="tab" aria-controls="last" aria-selected="false">
										Возвраты и споры
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script>
  function readURL(input) {
    let rel = Number(input.getAttribute('rel'));
    const nameInput = input.getAttribute('data-name');
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        input.previousElementSibling.style.backgroundImage = `url(${e.target.result})`;
        input.previousElementSibling.innerHTML = ' ';
        input.nextElementSibling.classList.remove('hidden');
      };
      reader.readAsDataURL(input.files[0]);
      document.getElementsByClassName('')
    }
    rel++;
    const wrapper = input.parentElement.parentElement.parentElement;
    if (!input.parentElement.parentElement.nextElementSibling) {
      let htmlSection = `
			<li class="cabinet-register-container-form-addFile-item">
			 <label>
			   <div class="addFile-inner">
			       <img src="img/data-falling/plus.png" alt="plus">
			       <span>Загрузить</span>
			   </div>
			   <input type="file"
			    onchange="readURL(this)"
			     rel="${rel}"
			     name='${nameInput}[${rel}]'>
			   <em class="hidden">замена изображения</em>
			 </label>
			 <a href="javascript:" class="remove-container" onclick="this.parentElement.remove()">&times;</a>
			</li>`;
      wrapper.insertAdjacentHTML("beforeend", htmlSection);
    }
  }
</script>

<%= _.template(require('./../includes/footer.html').default)(data) %>