<% var data = {title: "Личный кабинет: Регистрация компании",};%><%= _.template(require('./../includes/headerExim.html').default)(data) %>
<main class="content grey">
	<div class="container-lg">
		<div class="content-container pt-4">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Документация
						</a>
					</li>
				</ul>
			</div>
			<div class="cabinet">
				<div class="cabinet-nav">
					<div class="cabinet-nav-headline">
						<h5>Личный кабинет</h5>
					</div>
					<ul class="cabinet-nav-items">
						<li class="cabinet-nav-item">
							<a href="javascript:" class="active">
								<img src="img/cabinet/conversetion.svg" alt="icon"/>
								<span>Основные данные </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:" class="disabled">
								<img src="img/cabinet/manuscript.svg" alt="icon"/>
								<span>История покупок</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/transaction.svg" alt="icon"/>
								<span>История транзакций</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/list.svg" alt="icon"/>
								<span>Список обязательных документов </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/notification.svg" alt="icon"/>
								<span>Уведомления</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/like.svg" alt="icon"/>
								<span>Понравившееся</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/news.svg" alt="icon"/>
								<span>Новости</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/checklist.svg" alt="icon"/>
								<span>Ассортимент</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/deal.svg" alt="icon"/>
								<span>Иностранные партнеры</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/building.svg" alt="icon"/>
								<span>Импортёры-компании РУз</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/term.svg" alt="icon"/>
								<span>Условия и правила </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/feedback.svg" alt="icon"/>
								<span>Отзывы обо мне</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/help.svg" alt="icon"/>
								<span>Центр поддержки</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/lock.svg" alt="icon"/>
								<span>Безопасность</span>
							</a>
						</li>
					</ul>
					<div class="cabinet-nav-logout">
						<a href="javascript:">
							<img src="img/cabinet/logout.svg" alt="icon"/>
							<span>Выйти</span>
						</a>
					</div>
				</div>
				<div class="cabinet-container">
					<div class="cabinet-register">
						<div class="cabinet-register-container">
							<div class="cabinet-register-container-headline">
								<h5>Регистрация</h5>
							</div>
							<div class="cabinet-register-container-text">
								<p>Данный этап регистрации позволит сохранить Ваши контактные данные в базе Kervanyol.</p>
							</div>
							<div class="cabinet-register-container-warning">
								<div class="cabinet-register-container-warning-img">
									<img src="img/cabinet/warning.png" alt=""/>
								</div>
								<div class="cabinet-register-container-warning-text">
									<p><strong>Важно!</strong></p>
									<p>Все пункты должны быть заполнены поэтапно для возможности получения дальнейшего
										доступа.
									</p>
								</div>
								<div class="cabinet-register-container-warning-close">
									<a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;
									</a>
								</div>
							</div>
							<div class="cabinet-register-container-form">
								<h6>Контактные данные компании</h6>
								<form action="cabinet-register-3.html">
									<div class="cabinet-register-container-form-inputs">
										<label for="ogpn">
											<span>Регион</span>
											<input type="text" name="name" placeholder="____"/>
										</label>
										<label for="Web-site">
											<span>Web-сайт</span>
											<input type="text" name="name" id="Web-site" placeholder="www.kervanyol.com"/>
										</label>
									</div>
									<div class="cabinet-register-container-form-inputs">
										<label for="ogpn">
											<span>Адрес</span>
											<input type="text" name='name' placeholder="______"/>
										</label>
										<label for="ogpn">
											<span>Контактный телефон</span>
											<input type="text" name="client-phone" id="ogpn" placeholder="+998(__)___-__-__"/>
										</label>
									</div>
									<button type="submit" class="btn-kervan">
										Продолжить
									</button>
								</form>
							</div>
						</div>
						<div class="cabinet-register-stages">
							<div class="cabinet-register-stages-headline">
								<h5>Этапы заполнения</h5>
							</div>
							<ul class="cabinet-register-stages-items">
								<li class="cabinet-register-stages-item done">
									<h6>Основные данные</h6>
									<p>Укажите базовые сведения о компании</p>
								</li>
								<li class="cabinet-register-stages-item done">
									<h6>Контактные данные</h6>
									<p>Заполните данные поля для возможности связаться с Вами</p>
								</li>
								<li class="cabinet-register-stages-item">
									<h6>Сведения о руководителе</h6>
									<p>Данные о руководителе остаются конфедициальными</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>