<% var data = {title: "Личный кабинет: Регистрация компании",};%><%= _.template(require('./../includes/headerExim.html').default)(data) %>
<main class="content grey">
	<div class="container-lg">
		<div class="content-container pt-4">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Документация
						</a>
					</li>
				</ul>
			</div>
			<div class="cabinet">
				<div class="cabinet-nav">
					<div class="cabinet-nav-headline">
						<h5>Личный кабинет</h5>
					</div>
					<ul class="cabinet-nav-items">
						<li class="cabinet-nav-item">
							<a href="javascript:" class="active">
								<img src="img/cabinet/conversetion.svg" alt="icon"/>
								<span>Основные данные </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:" class="disabled">
								<img src="img/cabinet/manuscript.svg" alt="icon"/>
								<span>История покупок</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/transaction.svg" alt="icon"/>
								<span>История транзакций</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/list.svg" alt="icon"/>
								<span>Список обязательных документов </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/notification.svg" alt="icon"/>
								<span>Уведомления</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/like.svg" alt="icon"/>
								<span>Понравившееся</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/news.svg" alt="icon"/>
								<span>Новости</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/checklist.svg" alt="icon"/>
								<span>Ассортимент</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/deal.svg" alt="icon"/>
								<span>Иностранные партнеры</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/building.svg" alt="icon"/>
								<span>Импортёры-компании РУз</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/term.svg" alt="icon"/>
								<span>Условия и правила </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/feedback.svg" alt="icon"/>
								<span>Отзывы обо мне</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/help.svg" alt="icon"/>
								<span>Центр поддержки</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/lock.svg" alt="icon"/>
								<span>Безопасность</span>
							</a>
						</li>
					</ul>
					<div class="cabinet-nav-logout">
						<a href="javascript:">
							<img src="img/cabinet/logout.svg" alt="icon"/>
							<span>Выйти</span>
						</a>
					</div>
				</div>
				<div class="cabinet-container">
					<div class="cabinet-register">
						<div class="cabinet-register-container">
							<div class="cabinet-register-container-headline">
								<h5>Настройки</h5>
							</div>
							<div class="cabinet-register-container-text">
								<p>Данный раздел поможет Вам заполнить анкету для продолжения мероприятий на нашем сайте.
								</p>
							</div>
							<div class="cabinet-register-container-warning">
								<div class="cabinet-register-container-warning-img">
									<img src="img/cabinet/warning.png" alt=""/>
								</div>
								<div class="cabinet-register-container-warning-text">
									<p><strong>Важно!</strong></p>
									<p>Все пункты должны быть заполнены поэтапно для возможности получения дальнейшего
										доступа.
									</p>
								</div>
								<div class="cabinet-register-container-warning-close">
									<a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;
									</a>
								</div>
							</div>
							<div class="cabinet-register-container-form">
								<h6>Сведения о руководителе компании</h6>
								<form action="cabinet-register-3.html">
									<div class="cabinet-register-container-form-inputs">
										<label for="ogpn">
											<span>Фамилия</span>
											<input type="text" name="name" placeholder="____"/>
										</label>
										<label for="Web-site">
											<span>Имя</span>
											<input type="text" name="name" id="Web-site" placeholder="____"/>
										</label>
									</div>
									<div class="cabinet-register-container-form-inputs">
										<label for="ogpn">
											<span>Отчество</span>
											<input type="text" name="name" placeholder="____"/>
										</label>
										<label for="Web-site">
											<span>Должность</span>
											<input type="text" name="name" id="position" placeholder="____"/>
										</label>
									</div>
									<div class="cabinet-register-container-form-inputs">
										<label for="ogpn">
											<span>Эл.почта</span>
											<input type="text" name='name' placeholder="______"/>
										</label>
										<label for="ogpn">
											<span>Контактный телефон</span>
											<input type="text" name="client-phone" id="ogpn" placeholder="+998(__)___-__-__"/>
										</label>
									</div>
									<button type="button" class="btn-kervan" data-toggle="modal" data-target="#exampleModalCenter">
										Продолжить
									</button>
								</form>
							</div>
						</div>
						<div class="cabinet-register-stages">
							<div class="cabinet-register-stages-headline">
								<h5>Этапы заполнения</h5>
							</div>
							<ul class="cabinet-register-stages-items">
								<li class="cabinet-register-stages-item done">
									<h6>Основные данные</h6>
									<p>Укажите базовые сведения о компании</p>
								</li>
								<li class="cabinet-register-stages-item done">
									<h6>Контактные данные</h6>
									<p>Заполните данные поля для возможности связаться с Вами</p>
								</li>
								<li class="cabinet-register-stages-item done">
									<h6>Сведения о руководителе</h6>
									<p>Данные о руководителе остаются конфедициальными</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<section class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered container" role="document">
		<div class="modal-content cabinet-modal">

			<div class="cabinet-modal-img">
				<img src="img/cabinet/operator.png" alt="icon"/>
			</div>
			<div class="cabinet-modal-info">
				<div class="cabinet-modal-info-headline">
					<h6>Процесс заполнения формы завершен!</h6>
				</div>
				<div class="cabinet-modal-info-warning">
					<div class="cabinet-modal-info-warning-img">
						<img src="img/cabinet/success.png" alt=""/>
					</div>
					<div class="cabinet-modal-info-warning-text">
						<p><strong>Статус: "Успешно"</strong></p>
					</div>
					<div class="cabinet-modal-info-warning-close">
						<a href="javascript:" onclick="this.parentElement.parentElement.remove()">&times;
						</a>
					</div>
				</div>
				<div class="cabinet-modal-info-text">
					<p>Ваши данные переданы на обработку нашим сотрудникам. Это займёт некоторое время.</p>
					<p>По окончанию процесса рассмотрения, на указанный Вами номер телефона придёт <strong>СМС-оповещение.</strong>
					</p>
					<b>Благодарим Вас за содействие!</b>
				</div>
				<div class="cabinet-modal-info-button">
					<a href="javascript:" class="btn btn-kervan">Продолжить</a>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
  function readURL(input) {
    let rel = Number(input.getAttribute('rel'));
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        input.previousElementSibling.style.backgroundImage = `url(${e.target.result})`;
        input.previousElementSibling.innerHTML = ' ';
        input.nextElementSibling.classList.remove('hidden');
      };
      reader.readAsDataURL(input.files[0]);
      document.getElementsByClassName('')
    }
    rel++;
    if (!input.parentElement.parentElement.nextElementSibling) {
      let collection = document.getElementById('formWrapper');
      let htmlSection = `
			<li class="cabinet-register-container-form-addFile-item">
			 <label>
			   <div class="addFile-inner">
			       <img src="img/data-falling/plus.png" alt="plus">
			       <span>Загрузить</span>
			   </div>
			   <input type="file"
			    onchange="readURL(this)"
			     rel="${rel}"
			     name='img[${rel}]'>
			   <em class="hidden">замена изображения</em>
			 </label>
			 <a href="javascript:" class="remove-container" onclick="this.parentElement.remove()">&times;</a>
			</li>`;
      collection.insertAdjacentHTML("beforeend", htmlSection);
    }
  }
</script>
<%= _.template(require('./../includes/footer.html').default)(data) %>