<% var data = {title: "Личный кабинет: Все заказы",};%><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content grey">
	<div class="container-lg">
		<div class="content-container pt-4">
			<div class="cabinet">
				<div class="cabinet-nav py-2">
					<div class="cabinet-nav-headline">
						<h5>Личный кабинет</h5>
					</div>
					<ul class="cabinet-nav-items">
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/conversetion.svg" alt="icon"/>
								<span>Мой кабинет </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:" class="disabled">
								<img src="img/cabinet/manuscript.svg" alt="icon"/>
								<span>Мои заказы</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/transaction.svg" alt="icon"/>
								<span>Сообщения</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/list.svg" alt="icon"/>
								<span>Мои желания </span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/notification.svg" alt="icon"/>
								<span>Любимые магазины</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/like.svg" alt="icon"/>
								<span>настройки профиля</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/news.svg" alt="icon"/>
								<span>Новости</span>
							</a>
						</li>
						<li class="cabinet-nav-item">
							<a href="javascript:">
								<img src="img/cabinet/logout.svg" alt="icon"/>
								<span>Выйти</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="cabinet-container sticker">
					<div class="cabinet-data">
						<div class="cabinet-data-container">
							<h4>Все заказы</h4>
							<p class="my-0 text-muted">
								<small>В разделе «Все заказы» Вы просмотреть список ваших заказов в realtime режиме!
								</small>
							</p>
						</div>
						<div class="cabinet-data-container">
							<div class="cabinet-order">
								<div class="cabinet-order-headline">
									<h5>Заявка № 12636482</h5>
									<a href="javascript:">Подробнее</a>
								</div>
								<div class="cabinet-order-description">
									<ul>
										<li>
											<p>Время заказа:</p>
											<p><strong>08:44 Apr. 08 2020</strong></p>
										</li>
										<li>
											<p>Стоимость:</p>
											<p><strong class="cost">240 000 UZS</strong></p>
										</li>
										<li>
											<p>Тип доставки:</p>
											<p><strong>Самолёт</strong></p>
										</li>
										<li>
											<p>Способ оплаты:</p>
											<p><strong>pay me</strong></p>
										</li>
										<li>
											<p>Адрес доставки:</p>
											<p><strong>Ташкент, ул, Новикузнецкая 24 стр, 4а, N 15</strong></p>
										</li>
									</ul>
								</div>
								<div class="cabinet-order-images">
									<ul>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/4.png" alt="img"/>
											</a>
										</li>
										<li>
											<a href="javascript:">
												<img src="img/cabinet/cabinet-orders/1.png" alt="img"/>
											</a>
										</li>
									</ul>
								</div>
								<div class="cabinet-order-nav">
									<a href="javascript:">NПроверить отслеживание</a>
									<a href="javascript:">Добавить в корзину снова</a>
									<a href="javascript:" class="btn">Завершено</a>
								</div>
							</div>
						</div>
					</div>
					<div class="cabinet-profile">
						<div class="cabinet-profile-container">
							<div class="cabinet-profile-image">
								<img src="" alt=""/>
							</div>

						</div>
						<div class="cabinet-profile-sidebar">
							<ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Заполнить</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Требуемые сертификаты</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Основные данные</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Информация об адресе</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="last-tab" data-toggle="tab" href="#last" role="tab" aria-controls="last" aria-selected="false">Контакты организации</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script>
  function readURL(input) {
    let rel = Number(input.getAttribute('rel'));
    const nameInput = input.getAttribute('data-name');
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        input.previousElementSibling.style.backgroundImage = `url(${e.target.result})`;
        input.previousElementSibling.innerHTML = ' ';
        input.nextElementSibling.classList.remove('hidden');
      };
      reader.readAsDataURL(input.files[0]);
      document.getElementsByClassName('')
    }
    rel++;
    const wrapper = input.parentElement.parentElement.parentElement;
    if (!input.parentElement.parentElement.nextElementSibling) {
      let htmlSection = `
			<li class="cabinet-register-container-form-addFile-item">
			 <label>
			   <div class="addFile-inner">
			       <img src="img/data-falling/plus.png" alt="plus">
			       <span>Загрузить</span>
			   </div>
			   <input type="file"
			    onchange="readURL(this)"
			     rel="${rel}"
			     name='${nameInput}[${rel}]'>
			   <em class="hidden">замена изображения</em>
			 </label>
			 <a href="javascript:" class="remove-container" onclick="this.parentElement.remove()">&times;</a>
			</li>`;
      wrapper.insertAdjacentHTML("beforeend", htmlSection);
    }
  }
</script>

<%= _.template(require('./../includes/footer.html').default)(data) %>