<% var data = {title: "Список компаний",};
%>
<%= _.template(require('./../includes/headerExim.html').default)(data) %>
<main class="content grey">
	<div class="container">
		<div class="content-container pt-4">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Импорт и Экспорт
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Оформление заявки
						</a>
					</li>
				</ul>
			</div>
			<div class="companies">
				<div class="companies-banner">
					<%= _.template(require('./../includes/banner-discount.html').default)(data) %>
				</div>
				<div class="companies-headline">
					<h4>Список компаний</h4>
				</div>
				<div class="companies-container">
					<div class="companies-nav">
							<div class="companies-nav-headline">
								<h5>категории</h5>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-skirts" checked/>
								<label for="companies-skirts">
									<span>Верхняя одежда</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Классические туфли</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ботинки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Кеды</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Повседневная обувь</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Кроссовки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Тапочки</span>
										</a>
									</li>

								</ul>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-art" checked/>
								<label for="companies-art">
									<span>Искусство</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Очки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ремни</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шапки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Бабочки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Носовой платок</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шарфы</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Перчатки</span>
										</a>
									</li>

								</ul>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-games"/>
								<label for="companies-games">
									<span>Развивающие игры</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Очки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ремни</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шапки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Бабочки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Носовой платок</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шарфы</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Перчатки</span>
										</a>
									</li>

								</ul>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-skin"/>
								<label for="companies-skin">
									<span>Уход за кожей</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Очки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ремни</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шапки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Бабочки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Носовой платок</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шарфы</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Перчатки</span>
										</a>
									</li>

								</ul>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-furniture"/>
								<label for="companies-furniture">
									<span>Мебель</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Очки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ремни</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шапки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Бабочки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Носовой платок</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шарфы</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Перчатки</span>
										</a>
									</li>

								</ul>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-accessories"/>
								<label for="companies-accessories">
									<span>Аксессуары</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Очки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ремни</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шапки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Бабочки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Носовой платок</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шарфы</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Перчатки</span>
										</a>
									</li>

								</ul>
							</div>
							<div class="companies-nav-categories">
								<input type="checkbox" id="companies-beauty"/>
								<label for="companies-beauty">
									<span>Красота и здоровье</span>
								</label>
								<ul class="companies-nav-categories-items">
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Очки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Ремни</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шапки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Бабочки</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Носовой платок</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Шарфы</span>
										</a>
									</li>
									<li class="companies-nav-categories-item">
										<a href="javascript:">
											<span>Перчатки</span>
										</a>
									</li>

								</ul>
							</div>
						</div>
					<div class="companies-elements">
						<div class="companies-elements-headline">
							<div class="companies-elements-types">
								<a class="companies-elements-type" href="javascript:">Экспорт</a>
								<a class="companies-elements-type" href="javascript:">Импорт</a>
								<a class="companies-elements-type" href="javascript:">Все компрнии</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>