<% var data = {title: "Список компаний",};
%>
<%= _.template(require('./../includes/headerExim.html').default)(data) %>
<main class="content grey">
	<div class="container">
		<div class="content-container pt-4">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Импорт и Экспорт
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Оформление заявки
						</a>
					</li>
				</ul>
			</div>
			<div class="companies">
				<div class="companies-banner">
					<%= _.template(require('./../includes/banner-discount.html').default)(data) %>
				</div>
				<div class="companies-headline">
					<h4>Список компаний</h4>
				</div>
				<div class="companies-container">
					<div class="companies-filter">
						<div class="companies-filter-nav">
							<div class="companies-filter-nav-headline">
								<h5>категории</h5>
							</div>
							<div class="companies-filter-nav-categories">
								<input type="checkbox" id="selected-catalog-categories" checked/>
								<label for="selected-catalog-categories">
									<img src="img/catalog/catalog-category-mini.png" alt="img"/>
									<span>Смежные категории</span>
								</label>
								<ul class="companies-filter-nav-categories-items">
									<li class="companies-filter-nav-categories-item">
										<a href="javascript:">
											<span>Классические туфли</span> <strong>15520</strong>
										</a>
									</li>
									<li class="companies-filter-nav-categories-item">
										<a href="javascript:">
											<span>Ботинки</span> <strong>15520</strong>
										</a>
									</li>
									<li class="companies-filter-nav-categories-item">
										<a href="javascript:">
											<span>Кеды</span> <strong>15520</strong>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="catalog-container">
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>