<% var data = {title: "PRODUCT_PAGE",}; %><%= _.template(require('./../includes/headerExIm.html').default)(data) %>
<main class="content product">
	<div class="container-lg">
		<div class="content-container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Все категории
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Верхняя одежда
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Головные уборы спецназначения
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Air Jordan XXXIV
						</a>
					</li>
				</ul>
			</div>
			<div class="exim-products-sides">
				<div class="exim-products-main">
					<div class="exim-products-card">
						<div class="product-slider">
							<div class="product-slider-container swiper-container product-slider-top">
								<div class="product-slider-top-wrapper swiper-wrapper">
									<div class="product-slider-top-slide swiper-slide swiper-slide-active">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/cola-1.png" data-zoom="img/product/cola-1.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/exim-product-1.png" data-zoom="img/product/exim-product-1.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/cola-1.png" data-zoom="img/product/cola-1.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/exim-product-1.png" data-zoom="img/product/exim-product-1.png" alt=""/>
										</div>
									</div>
								</div>
							</div>
							<div class="product-slider-container swiper-container product-slider-thumbs">
								<div class="product-slider-thumbs-wrapper swiper-wrapper">
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/cola-1.png" data-zoom="img/product/cola-1.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/exim-product-1.png" data-zoom="img/product/exim-product-1.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img class="product-slider-thumbs-slide-img" src="img/product/cola-1.png" data-zoom="img/product/cola-1.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/exim-product-1.png" data-zoom="img/product/exim-product-1.png" alt=""/>
									</div>
								</div>
							</div>
						</div>
						<div class="exim-products-card-info">
							<div class="exim-products-card-info-headline">
								<h5>Oukitel K3 Pro Global Version 5,5-дюймовый FHD Android 9,0 6000 мАч Face Unlock 4GB
									RAM 64GB ROM MT6763
								</h5>
							</div>
							<div class="exim-products-card-info-cost">
								<h4>23 000 - 141 000 UZS</h4>
							</div>
							<div class="exim-products-card-info-props">
								<div class="exim-products-card-info-prop kit">
									<h6>Код ТНВЭД</h6>
									<ul>
										<li>
											<a href="javascript:" id="exim-btn-copy" class="selected">
												<span id="text">
													123549816439
												</span>
											</a>
                                            <p>Срок отгрузки: 40 дней</p>
										</li>
									</ul>
								</div>
								<div class="exim-products-card-info-prop count">
									<h6>Количество:</h6>
									<div class="exim-products-card-info-prop-counter">
										<div class="counter">
											<a href="javascript:" id="counter-decr">
												-
											</a>
											<input type="text" pattern="[1000-9000]" id="counterSum" value="2000"/>
											<a href="javascript:" id="counter-inc">+</a>
										</div>
										<span class="limit-count">
											1861 шт. в наличии
										</span>
									</div>
								</div>
							</div>
							<div class="exim-products-card-info-buttons">
								<a href="javascript:" class="buy-on-click btn btn-kervan">
									Добавить в корзину
								</a>
							</div>
						</div>
					</div>
					<div class="exim-products-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home" role="tab">Общая информация
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#messages" role="tab">Профиль компании</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="home" role="tabpanel">
								<div class="exim-products-tab-info">
									<div class="exim-products-tab-info-banner">
										<img src="img/product/exim-product-1.png" alt="exim-product-1"/>
									</div>
									<div class="exim-products-tab-info-banner">
										<img src="img/product/exim-product-2.png" alt="exim-product-2"/>
									</div>
									<div class="exim-products-tab-info-text">
										<h5>Основная информация о товаре:</h5>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
											sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
											erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
											rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
											dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
											sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
											erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
											rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
											dolor sit amet.
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
											nonumy eirmod tempor invidunt ut labore et dolore
											magna aliquyam erat, sed diam voluptua. At vero eos et
										</p>
									</div>
									<div class="exim-products-tab-info-text">
										<h5>Основная информация о товаре:</h5>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
											sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
											erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
											rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
											dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
											sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
											erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
											rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
											dolor sit amet.
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
											nonumy eirmod tempor invidunt ut labore et dolore
											magna aliquyam erat, sed diam voluptua. At vero eos et
										</p>
									</div>
									<div class="exim-products-tab-info-text">
										<h5>Основная информация о товаре:</h5>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
											sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
											erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
											rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
											dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
											sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
											erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
											rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
											dolor sit amet.
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
											nonumy eirmod tempor invidunt ut labore et dolore
											magna aliquyam erat, sed diam voluptua. At vero eos et
										</p>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="messages" role="tabpanel">
								<div class="exim-products-tab-properties">
									<ul class="exim-products-tab-properties-items">
										<li class="exim-products-tab-properties-item">
											<p>Название бренда</p>
											<em>woodvoice</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Название бренда</p>
											<em>woodvoice</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Стиль</p>
											<em>На каждый день</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Стиль</p>
											<em>На каждый день</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Номер модели</p>
											<em>K1602</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Номер модели</p>
											<em>K1602</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Материал</p>
											<em>Хлопок</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Материал</p>
											<em>Хлопок</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Название бренда</p>
											<em>woodvoice</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Название бренда</p>
											<em>woodvoice</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Стиль</p>
											<em>На каждый день</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Стиль</p>
											<em>На каждый день</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Номер модели</p>
											<em>K1602</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Номер модели</p>
											<em>K1602</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Материал</p>
											<em>Хлопок</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Материал</p>
											<em>Хлопок</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Название бренда</p>
											<em>woodvoice</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Название бренда</p>
											<em>woodvoice</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Стиль</p>
											<em>На каждый день</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Стиль</p>
											<em>На каждый день</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Номер модели</p>
											<em>K1602</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Номер модели</p>
											<em>K1602</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Материал</p>
											<em>Хлопок</em>
										</li>
										<li class="exim-products-tab-properties-item">
											<p>Материал</p>
											<em>Хлопок</em>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>