<% var data = {title: "ExIm",banner: 'Все категории'}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content exim">
    <div class="exim-static-slider">
        <div class="exim-static-slider-banner">
            <img src="img/exIm/banner-exim.png" alt="banner-exim"/>
        </div>
        <div class="exim-static-slider-info">
            <div class="container">
                <div class="exim-static-slider-block">
                    <h1>Добро пожаловать на страницу импорта и экспорта сайта Kervanyol</h1>
                    <p>Пришли за 1 месяц и неделю. Сшиты хорошо, запаха нету.
                        Цвет как на фото человеку понравились.
                        Размер заказывала как и на джинса такой же и шорты заказала.
                        Все соответствует. </p>
                    <a href="javascript:">
                        Перейти <img src="img/right-arr-red.png" alt="right-arr-red.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="exim-static-rows">
            <div class="exim-static-items">
                <div class="exim-static-item exim-static-item-first">
                    <img src="img/exIm/clock.png" alt="clock.png">
                    <div class="exim-static-item-text">
                        <h4>Быстро</h4>
                        <p>Пришли за 1 месяц и неделю . Сшиты хорошо , запаха нету .</p>
                    </div>
                </div>
            </div>
            <div class="exim-static-items">
                <div class="exim-static-item exim-static-item-second">
                    <img src="img/exIm/winner.png" alt="winner.png">
                    <div class="exim-static-item-text">
                        <h4>Качественно</h4>
                        <p>Пришли за 1 месяц и неделю . Сшиты хорошо , запаха нету .</p>
                    </div>
                </div>
            </div>
            <div class="exim-static-items">
                <div class="exim-static-item exim-static-item-third">
                    <img src="img/exIm/medal.png" alt="medal.png">
                    <div class="exim-static-item-text">
                        <h4>Гарантировано</h4>
                        <p>Пришли за 1 месяц и неделю . Сшиты хорошо , запаха нету .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="exim-btn-rows">
            <div class="exim-btn-items">
                <a href="javascript:">&darr;</a>
                <p>прокрутить вниз</p>
            </div>
        </div>
        <div class="exim-export">
            <div class="exim-export-header">
                <h2>Экспортёрам</h2>
                <p>Пришли за 1 месяц и неделю. Сшиты хорошо, запаха нету.</p>
            </div>
            <div class="exim-export-content">
                <div class="exim-export-content-left">
                    <img src="img/exIm/export.png" alt="export-1">
                </div>
                <div class="exim-export-content-right">
                    <h4>Это очень легко экспортировать с нами.</h4>
                    <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt.</h5>
                    <ul>
                        <li>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing</p>
                        </li>
                        <li>
                            <p>Дуров инвесторлар</p>
                        </li>
                        <li>
                            <p>сотиб олганларнинг баъзилари бу шартга рози</p>
                        </li>
                        <li>
                            <p>Gram криптовалютасини сотиб </p>
                        </li>
                    </ul>
                    <p>Gram криптовалютасини сотиб олганларнинг баъзилари бу шартга рози
                        ҳам бўлган.</p>
                    <div class="exim-btn">
                        <a href="javascript:" class="btn btn-red">начать экспорт</a>
                    </div>
                </div>
            </div>
            <div class="exim-export-bottom">
                <div class="exim-export-bottom-items">
                    <div class="exim-export-bottom-inner">
                        <div class="exim-export-bottom-left">
                            <h2>В нашей системе более <span class="text-red">540+</span> компаний-экспортеров</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                        </div>
                        <div class="exim-export-bottom-right">
                            <a href="javascript:" class="btn btn-yellow">Увидеть Экспортеров</a>
                        </div>
                    </div>
                </div>
                <div class="exim-export-bottom-item">
                    <h3 class="purple">571 +</h3>
                    <p>успешно выполненная работа</p>
                </div>
                <div class="exim-export-bottom-item">
                    <h3 class="red">8+</h3>
                    <p>постоянные клиенты</p>
                </div>
                <div class="exim-export-bottom-item">
                    <h3 class="yellow">84%</h3>
                    <p>эффективная работа</p>
                </div>
                <div class="exim-export-bottom-item">
                    <h3 class="green">100</h3>
                    <p>служба персонала</p>
                </div>
            </div>
        </div>
    </div>
    <div class="exim-import">
        <div class="exim-import-color">
            <div class="container">
                <div class="exim-import-content">
                    <div class="exim-headline">
                        <h2>Импортёрам</h2>
                        <p>Пришли за 1 месяц и неделю. Сшиты хорошо, запаха нету.</p>
                    </div>
                    <div class="exim-import-content-left">
                        <h4>Это очень легко Импортировать с нами.</h4>
                        <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam nonumy eirmod tempor invidunt.</h5>
                        <ul>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing</p>
                            </li>
                            <li>
                                <p>Дуров инвесторлар</p>
                            </li>
                            <li>
                                <p>сотиб олганларнинг баъзилари бу шартга рози</p>
                            </li>
                            <li>
                                <p>Gram криптовалютасини сотиб </p>
                            </li>
                        </ul>
                        <p>Gram криптовалютасини сотиб олганларнинг баъзилари бу шартга рози
                            ҳам бўлган.</p>
                        <div class="exim-btn">
                            <a href="javascript:" class="btn btn-red">начать импорт</a>
                        </div>
                    </div>
                    <div class="exim-import-content-right">
                        <img src="img/exIm/import.png" alt="import-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="exim-import-bottom">
                <div class="exim-import-bottom-items">
                    <div class="exim-import-bottom-inner">
                        <div class="exim-import-bottom-left">
                            <h2>В нашей системе более
                                <span class="text-red">540+</span> компаний-импортеров</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                        </div>
                        <div class="exim-import-bottom-right">
                            <a href="javascript:" class="btn btn-yellow">Увидеть Импортеров</a>
                        </div>
                    </div>
                </div>
                <div class="exim-import-bottom-item">
                    <div class="exim-import-bottom-item-img back-blue-light">
                        <img src="img/exIm/copy.png" alt="copy.png">
                    </div>
                    <div class="exim-import-bottom-item-info">
                        <h3>Это очень легко Импортировать с нами.</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
                <div class="exim-import-bottom-item">
                    <div class="exim-import-bottom-item-img back-purple-light">
                        <img src="img/exIm/copy.png" alt="copy.png">
                    </div>
                    <div class="exim-import-bottom-item-info">
                        <h3>Это очень легко Импортировать с нами.</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
                <div class="exim-import-bottom-item">
                    <div class="exim-import-bottom-item-img back-yellow-light">
                        <img src="img/exIm/copy.png" alt="copy.png">
                    </div>
                    <div class="exim-import-bottom-item-info">
                        <h3>Это очень легко Импортировать с нами.</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
                <div class="exim-import-bottom-item">
                    <div class="exim-import-bottom-item-img back-green-light">
                        <img src="img/exIm/copy.png" alt="copy.png">
                    </div>
                    <div class="exim-import-bottom-item-info">
                        <h3>Это очень легко Импортировать с нами.</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="exim-market">
        <div class="exim-market-color">
            <div class="container">
                <div class="exim-market-content">
                    <div class="exim-headline">
                        <h2>Market</h2>
                        <p>Пришли за 1 месяц и неделю. Сшиты хорошо, запаха нету.</p>
                    </div>
                    <div class="exim-market-content-left">
                        <img src="img/exIm/market.png" alt="market">
                    </div>
                    <div class="exim-market-content-right">
                        <h4>Это очень легко Импортировать с нами.</h4>
                        <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam nonumy eirmod tempor invidunt.</h5>
                        <ul>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing</p>
                            </li>
                            <li>
                                <p>Дуров инвесторлар</p>
                            </li>
                            <li>
                                <p>сотиб олганларнинг баъзилари бу шартга рози</p>
                            </li>
                            <li>
                                <p>Gram криптовалютасини сотиб </p>
                            </li>
                        </ul>
                        <p>Gram криптовалютасини сотиб олганларнинг баъзилари бу шартга рози
                            ҳам бўлган.</p>
                        <div class="exim-btn">
                            <a href="javascript:" class="btn btn-red">Вход в market</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="exim-call">
        <div class="container">
            <div class="exim-call-content">
                <div class="exim-headline">
                    <h2>Обратная связь с клиентами</h2>
                    <p>Вы обязательно найдете ответ на свой вопрос</p>
                </div>
                <div class="exim-call-content-left owl-carousel owl-theme">
                    <div class="exim-call-carousel">
                        <div class="exim-call-carousel-img">
                            <img src="img/exIm/client.png" alt="client.png">
                        </div>
                        <div class="exim-call-carousel-headline">
                            <h3>Ric Manning</h3>
                            <p>GizmoEditor Website Builder Review</p>
                        </div>
                        <div class="exim-call-carousel-text">
                            "Pour moi, <b>Mobirise ressemblait</b> à un projet Lego fait avec une
                            collection ou une création de pierres... Il produit des sites qui
                            étincellent dans un monde mobile!"En tant que pionnier dans sa
                            catégorie (Category Pioneer), Mobirise rend le <b>Bootstrap 3 accessibles
                            aux professionnels</b> du graphisme, amateurs et concepteurs
                            de sites internet sans qu’ils aient à maîtriser la base du codage"
                        </div>
                    </div>
                    <div class="exim-call-carousel">
                        <div class="exim-call-carousel-img">
                            <img src="img/exIm/client.png" alt="client.png">
                        </div>
                        <div class="exim-call-carousel-headline">
                            <h3>Ric Manning</h3>
                            <p>GizmoEditor Website Builder Review</p>
                        </div>
                        <div class="exim-call-carousel-text">
                            "Pour moi, <b>Mobirise ressemblait</b> à un projet Lego fait avec une
                            collection ou une création de pierres... Il produit des sites qui
                            étincellent dans un monde mobile!"En tant que pionnier dans sa
                            catégorie (Category Pioneer), Mobirise rend le <b>Bootstrap 3 accessibles
                            aux professionnels</b> du graphisme, amateurs et concepteurs
                            de sites internet sans qu’ils aient à maîtriser la base du codage"
                        </div>
                    </div>
                    <div class="exim-call-carousel">
                        <div class="exim-call-carousel-img">
                            <img src="img/exIm/client.png" alt="client.png">
                        </div>
                        <div class="exim-call-carousel-headline">
                            <h3>Ric Manning</h3>
                            <p>GizmoEditor Website Builder Review</p>
                        </div>
                        <div class="exim-call-carousel-text">
                            "Pour moi, <b>Mobirise ressemblait</b> à un projet Lego fait avec une
                            collection ou une création de pierres... Il produit des sites qui
                            étincellent dans un monde mobile!"En tant que pionnier dans sa
                            catégorie (Category Pioneer), Mobirise rend le <b>Bootstrap 3 accessibles
                            aux professionnels</b> du graphisme, amateurs et concepteurs
                            de sites internet sans qu’ils aient à maîtriser la base du codage"
                        </div>
                    </div>
                </div>
                <div class="exim-call-content-right">
                    <img src="img/exIm/call.png" alt="call">
                </div>
            </div>
        </div>
    </div>
    <div class="exim-quetions">
        <div class="container">
            <div class="exim-questions-content">
                <div class="exim-headline">
                    <h2>Часто задаваемые вопросы</h2>
                    <p>Вы обязательно найдете ответ на свой вопрос</p>
                </div>
                <div class="exim-questions-card">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header exim-questions-card-header" id="headingOne"
                                 data-toggle="collapse" data-target="#collapseOne"
                                 aria-expanded="true" aria-controls="collapseOne">
                                <div class="exim-questions-card-header-text">
                                    <h5>Основная информация о товаре:</h5>
                                    <button class="card-btn" type="button" data-toggle="collapse"
                                            data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                    </button>
                                </div>
                                <hr/>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body exim-questions-card-body">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                    dolore magna aliquyam erat,
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header exim-questions-card-header collapsed" id="headingTwo"
                                 data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                 aria-controls="collapseTwo">
                                <div class="exim-questions-card-header-text">
                                    <h5>Какие документы требуются для ввоза?</h5>
                                    <button class="card-btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                    </button>
                                </div>
                                <hr/>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header exim-questions-card-header collapsed" id="headingThird"
                                 data-toggle="collapse" data-target="#collapseThird" aria-expanded="false"
                                 aria-controls="collapseThird">
                                <div class="exim-questions-card-header-text">
                                    <h5>Кто такие пользователи и как с ними связаться?</h5>
                                    <button class="card-btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThird" aria-expanded="false"
                                            aria-controls="collapseThird">
                                    </button>
                                </div>
                                <hr/>
                            </div>
                            <div id="collapseThird" class="collapse" aria-labelledby="headingThird"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header exim-questions-card-header collapsed" id="headingFourth"
                                 data-toggle="collapse" data-target="#collapseFourth" aria-expanded="false"
                                 aria-controls="collapseFourth">
                                <div class="exim-questions-card-header-text">
                                    <h5>Какая система используется для оплаты?</h5>
                                    <button class="card-btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseFourth" aria-expanded="false"
                                            aria-controls="collapseFourth">
                                    </button>
                                </div>
                            </div>
                            <div id="collapseFourth" class="collapse" aria-labelledby="headingFourth"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>