<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<ul style="text-transform: uppercase">
	<li>
		<a href="/">Гланая</a>
	</li>
	<li>
		<a href="/categories.html">Категории</a>
	</li>
	<li>
		<a href="/catalog.html">Каталог</a>
	</li>
	<li>
		<a href="/product.html">Продукт</a>
	</li>
	<li>
		<a href="/store.html">Магазин</a>
	</li>
	<li>
		<a href="/allStores.html">Все Магазины</a>
	</li>
	<li>
		<a href="/exIm.html">Export and Import</a>
	</li>
	<li>
		<a href="/data-filling.html">Export and Import -> Заполнение данных</a>
	</li>
</ul>

</body>
</html>