<% var data = {title: "PRODUCT_PAGE",}; %><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content product">
	<div class="container">
		<div class="content-container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Все категории
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Верхняя одежда
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Головные уборы спецназначения
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Air Jordan XXXIV
						</a>
					</li>
				</ul>
			</div>
			<div class="product-sides">
				<div class="product-main">
					<div class="product-card">
						<div class="product-slider">
							<div class="product-slider-container swiper-container product-slider-top">
								<div class="product-slider-top-wrapper swiper-wrapper">
									<div class="product-slider-top-slide swiper-slide swiper-slide-active">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
										</div>
									</div>
								</div>
							</div>
							<div class="product-slider-container swiper-container product-slider-thumbs">
								<div class="product-slider-thumbs-wrapper swiper-wrapper">
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img class="product-slider-thumbs-slide-img" src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
									</div>
								</div>
							</div>
						</div>
						<div class="product-card-info">
							<div class="product-card-info-headline">
								<h5>Oukitel K3 Pro Global Version 5,5-дюймовый FHD Android 9,0 6000 мАч Face Unlock 4GB
									RAM 64GB ROM MT6763
								</h5>
							</div>
							<div class="product-card-info-rating">
								<ul class="stars">
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star">
										<i class="fas fa-star"></i>
									</li>
								</ul>
								<div class="product-card-info-orders">
									<span>889 заказа(ов)</span>
								</div>
							</div>
							<div class="product-card-info-cost">
								<h4>23 000 - 141 000 UZS</h4>
							</div>
							<div class="product-card-info-coupon">
								<div class="product-card-info-coupon-received">
									<span>141 000 UZS Купон нового пользователя</span>
								</div>
								<div class="product-card-info-coupon-get">
									<a href="javascript:">Получить купоны</a>
								</div>
							</div>
							<div class="product-card-info-props">
								<div class="product-card-info-prop color">
									<h6>Цвет:</h6>
									<ul>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-1.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-2.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-3.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-4.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-5.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-6.png"/>
											</a>
										</li>
									</ul>
								</div>
								<div class="product-card-info-prop kit">
									<h6>Комплект:</h6>
									<ul>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<span>
													iPhone 6 16GB
												</span>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<span>
													iPhone 6 32GB
												</span>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<span>
													iPhone 6 64GB
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="product-card-info-prop count">
									<h6>Комплект:</h6>
									<div class="product-card-info-prop-counter">
										<div class="counter">
											<a href="javascript:" id="counter-inc">
												-
											</a>
											<input type="number" id="counterSum"/>
											<a href="javascript:" id="counter-decr"></a>
										</div>
										<span class="limit-count">
											1861 шт. в наличии
										</span>
									</div>
								</div>
							</div>
							<div class="product-card-info-delivery">
								<h6>Бесплатная доставка</h6>
								<p>Расчётное время доставки: 26-43дн.</p>
							</div>
							<div class="product-card-info-buttons">
								<a href="javascript:" class="buy-on-click btn btn-kervan">
									Купить сейчас
								</a>
								<a href="javascript:" class="to-basket btn btn-kervan">
									Добавить в корзину
								</a>
								<a href="javascript:" class="favourite-btn" onclick="this.classList.toggle('active')">
									<i class="far fa-heart"></i>
								</a>
							</div>
							<div class="product-card-info-protection">
								<div>
									<i class="fal fa-shield-check"></i>
								</div>
								<div>
									<p><strong>Защита покупателя в течение 90 д.</strong></p>
									<a href="javascript:">
										Гарантированный возврат средств
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-rightSide"></div>
			</div>

		</div>
	</div>
</main><%= _.template(require('./../includes/footer.html').default)(data) %>