<% var data = {title: "PRODUCT_PAGE",}; %><%= _.template(require('./../includes/header.html').default)(data) %>
<main class="content product">
	<div class="container">
		<div class="content-container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-items">
					<li class="breadcrumbs-item active">
						<a href="javascript:">
							Главная
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Все категории
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Верхняя одежда
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Головные уборы спецназначения
						</a>
					</li>
					<li class="breadcrumbs-item">
						<a href="javascript:">
							Air Jordan XXXIV
						</a>
					</li>
				</ul>
			</div>
			<div class="product-sides">
				<div class="product-main">
					<div class="product-card">
						<div class="product-slider">
							<div class="product-slider-container swiper-container product-slider-top">
								<div class="product-slider-top-wrapper swiper-wrapper">
									<div class="product-slider-top-slide swiper-slide swiper-slide-active">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
										</div>
									</div>
									<div class="product-slider-top-slide swiper-slide">
										<div class="swiper-slide-inner">
											<img class="swiper-slide-inner-img" src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
										</div>
									</div>
								</div>
							</div>
							<div class="product-slider-container swiper-container product-slider-thumbs">
								<div class="product-slider-thumbs-wrapper swiper-wrapper">
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img class="product-slider-thumbs-slide-img" src="img/product/huawei-p30.png" data-zoom="img/product/huawei-p30.png" alt=""/>
									</div>
									<div class="product-slider-thumbs-slide swiper-slide">
										<img src="img/product/banner-2.png" data-zoom="img/product/banner-2.png" alt=""/>
									</div>
								</div>
							</div>
						</div>
						<div class="product-card-info">
							<div class="product-card-info-headline">
								<h5>Oukitel K3 Pro Global Version 5,5-дюймовый FHD Android 9,0 6000 мАч Face Unlock 4GB
									RAM 64GB ROM MT6763
								</h5>
							</div>
							<div class="product-card-info-rating">
								<ul class="stars">
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star active">
										<i class="fas fa-star"></i>
									</li>
									<li class="star">
										<i class="fas fa-star"></i>
									</li>
								</ul>
								<div class="product-card-info-orders">
									<span>889 заказа(ов)</span>
								</div>
							</div>
							<div class="product-card-info-cost">
								<h4>23 000 - 141 000 UZS</h4>
							</div>
							<div class="product-card-info-coupon">
								<div class="product-card-info-coupon-received">
									<span>141 000 UZS Купон нового пользователя</span>
								</div>
								<div class="product-card-info-coupon-get">
									<a href="javascript:">Получить купоны</a>
								</div>
							</div>
							<div class="product-card-info-props">
								<div class="product-card-info-prop color">
									<h6>Цвет:</h6>
									<ul>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-1.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-2.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-3.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-4.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-5.png"/>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<img src="img/product/prop-color-1.png" alt="prop-color-6.png"/>
											</a>
										</li>
									</ul>
								</div>
								<div class="product-card-info-prop kit">
									<h6>Комплект:</h6>
									<ul>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<span>
													iPhone 6 16GB
												</span>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<span>
													iPhone 6 32GB
												</span>
											</a>
										</li>
										<li>
											<a href="javascript:" onclick="this.classList.toggle('selected')" class="selected">
												<span>
													iPhone 6 64GB
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="product-card-info-prop count">
									<h6>Количество:</h6>
									<div class="product-card-info-prop-counter">
										<div class="counter">
											<a href="javascript:" id="counter-decr">
												-
											</a>
											<input type="text" pattern="[0-9]" id="counterSum" value="1"/>
											<a href="javascript:" id="counter-inc">+</a>
										</div>
										<span class="limit-count">
											1861 шт. в наличии
										</span>
									</div>
								</div>
							</div>
							<div class="product-card-info-delivery">
								<h6>Бесплатная доставка</h6>
								<p>Расчётное время доставки: 26-43дн.</p>
							</div>
							<div class="product-card-info-buttons">
								<a href="javascript:" class="buy-on-click btn btn-kervan">
									Купить сейчас
								</a>
								<a href="javascript:" class="to-basket btn btn-kervan">
									Добавить в корзину
								</a>
								<a href="javascript:" class="favourite-btn" onclick="this.classList.toggle('active')">
									<i class="far fa-heart"></i>
								</a>
							</div>
							<div class="product-card-info-protection">
								<div>
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" viewBox="0 0 21 25">
										<g>
											<g>
												<path d="M7.934 10.972a.93.93 0 1 0-1.316 1.316l2.6 2.6a.93.93 0 0 0 1.317 0l4.657-4.657a.93.93 0 1 0-1.316-1.316l-4 4zm11.16-1.194a13.724 13.724 0 0 1-8.189 12.56 13.725 13.725 0 0 1-8.188-12.56V5.797l8.188-3.4 8.188 3.4zm1.286-5.462L11.262.53a.93.93 0 0 0-.714 0L1.43 4.316a.93.93 0 0 0-.574.86v4.602c0 6.337 3.83 12.037 9.698 14.432a.93.93 0 0 0 .703 0 15.582 15.582 0 0 0 9.697-14.432V5.176a.93.93 0 0 0-.574-.86z"/>
											</g>
										</g>
									</svg>
								</div>
								<div class="pl-2">
									<p><strong>Защита покупателя в течение 90 д.</strong></p>
									<a href="javascript:">
										Гарантированный возврат средств
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="product-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home" role="tab">Общая информация</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#profile" role="tab">Отзывы( 90 )</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#messages" role="tab">Характеристики</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="home" role="tabpanel">
								<div class="product-tab-info">
									<div class="product-tab-info-banner">
										<img src="img/product/banner-2.png" alt=""/>
									</div>
									<div class="product-tab-info-banner">
										<img src="img/product/banner-3.png" alt=""/>
									</div>
									<div class="product-tab-info-text">
										<h5>Основная информация о товаре:</h5>
										<p>Торговая марка: APPLE <br/>
											Модель: iPhone 6 (A1586 или A1549, отправка случайным образом) <br/>
											Цвет: серый, серебристый, золотой <br/>
											Язык: многоязычный <br/>
											Дисплей: 4,0 дюйма, 750x1334 пикселей, соотношение 16:9, ips lcd емкостный сенсорный экран
											<br/>
										</p>
									</div>
									<div class="product-tab-info-text">
										<h5>Основная информация о товаре:</h5>
										<p>Торговая марка: APPLE <br/>
											Модель: iPhone 6 (A1586 или A1549, отправка случайным образом) <br/>
											Цвет: серый, серебристый, золотой <br/>
											Язык: многоязычный <br/>
											Дисплей: 4,0 дюйма, 750x1334 пикселей, соотношение 16:9, ips lcd емкостный сенсорный экран
											<br/>
										</p>
									</div>
									<div class="product-tab-info-text">
										<h5>Основная информация о товаре:</h5>
										<p>Торговая марка: APPLE <br/>
											Модель: iPhone 6 (A1586 или A1549, отправка случайным образом) <br/>
											Цвет: серый, серебристый, золотой <br/>
											Язык: многоязычный <br/>
											Дисплей: 4,0 дюйма, 750x1334 пикселей, соотношение 16:9, ips lcd емкостный сенсорный экран
											<br/>
										</p>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="profile" role="tabpanel">222...</div>
							<div class="tab-pane" id="messages" role="tabpanel">333...</div>
						</div>
					</div>
				</div>
				<div class="product-rightSide"></div>
			</div>
			<div class="product-recommended">
				<div class="product-recommended-headline">
					<div class="product-recommended-headline-inner">
						<h6>Специально для вас</h6>
					</div>
				</div>
				<ul class="product-recommended-items">
					<li class="product-recommended-item">
						<div class="product-recommended-item-img">
							<img src="./img/products-item-2.png" alt="product-1"/>
						</div>
						<div class="product-recommended-item-name">
							<a href="javascript:">Оливковое масло для тела (...</a>
						</div>
						<div class="product-recommended-item-brand">
							<a href="javascript:">Procter and campbell</a>
						</div>
						<div class="product-recommended-item-rating">
							<ul class="stars">
								<li class="star active">
									<i class="fas fa-star"></i>
								</li>
								<li class="star active">
									<i class="fas fa-star"></i>
								</li>
								<li class="star active">
									<i class="fas fa-star"></i>
								</li>
								<li class="star active">
									<i class="fas fa-star"></i>
								</li>
								<li class="star">
									<i class="fas fa-star"></i>
								</li>
							</ul>
						</div>
						<div class="product-recommended-item-cost">
							<span>5$</span> <span class="inactive-price">25$</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</main><%= _.template(require('./../includes/footer.html').default)(data) %>