description = "Cabinet store - nav"

[viewBag]
==
<div class="cabinet-nav-headline"><h5>Личный кабинет</h5></div>
              <ul class="cabinet-nav-items">
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="img/cabinet/conversetion.svg" alt="icon" /> <span>Консоль</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:" class="active"
                    ><img src="img/cabinet/manuscript.svg" alt="icon" /> <span>Мой магазин</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"
                    ><img src="img/cabinet/transaction.svg" alt="icon" /> <span>Мои продукты</span></a
                  >
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="img/cabinet/list.svg" alt="icon" /> <span>Заказы</span></a>
                </li>
                <li class="cabinet-nav-item">
                  <a href="javascript:"><img src="img/cabinet/notification.svg" alt="icon" /> <span>Выйти</span></a>
                </li>
              </ul>