[viewBag]
==
{% set posts = component.posts %}


<h2>Новости о проекте</h2>
<ul class="faq-list row">
	{% for post in posts %}
		<li class="faq-item col-4">
			<div class="faq-item-img">
				<a href="{{post.url}}">
					<img src="{{ post.featured_images[0].thumb(360, 200) }}">
				</a>
			</div>
			<div class="faq-item-headline">
				<a href="{{post.url}}">
					<h6> {{ post.title }} </h6>
				</a>
			</div>
			<div class="faq-item-text">
				<p>{{ post.summary|raw }}</p>
			</div>
		</li>
	{% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
    {% endfor %}
</ul>