description = "menu"

[viewBag]
==
{% set obCategoryList = CategoryList.make().tree() %}
{% if obCategoryList.isNotEmpty() %}
	<ul class="nav-menu-categories">
		 {% for obCategory in obCategoryList|slice(0,4) %}
		    <li class="nav-menu-category">
		      <a href="/catalog.html"
		         >{{obCategory.name}}
		         	<span class="arrow">
		         		<i class="fas fa-chevron-down"></i>
		         	</span
		         ></a>
		      <div class="nav-menu-category-inner">
		         <div class="nav-menu-category-inner-wrapper container">
		            <div class="nav-menu-column">
		               <ul class="nav-menu-items">
		                  <li class="nav-menu-item headline"><a href="/catalog.html">Категории</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Новинки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Брюки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Верхняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Вязаные костюмы</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Джемперы, свитеры и кардиганы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Джинсы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Домашняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Новинки</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Брюки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Верхняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Вязаные костюмы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Джемперы, свитеры и кардиганы</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Джинсы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Домашняя одежда</a></li>
		               </ul>
		            </div>
		            <div class="nav-menu-column">
		               <ul class="nav-menu-items">
		                  <li class="nav-menu-item"><a href="/catalog.html">Новинки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Брюки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Верхняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Вязаные костюмы</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Джемперы, свитеры и кардиганы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Джинсы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Домашняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Новинки</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Брюки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Верхняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Вязаные костюмы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Джемперы, свитеры и кардиганы</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Джинсы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Домашняя одежда</a></li>
		               </ul>
		            </div>
		            <div class="nav-menu-column">
		               <ul class="nav-menu-items">
		                  <li class="nav-menu-item headline"><a href="/catalog.html">Бренды</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Новинки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Брюки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Верхняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Вязаные костюмы</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Джемперы, свитеры и кардиганы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Джинсы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Домашняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Новинки</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Брюки</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Верхняя одежда</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Вязаные костюмы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Джемперы, свитеры и кардиганы</a></li>
		                  <li class="nav-menu-item rec"><a href="/catalog.html">Джинсы</a></li>
		                  <li class="nav-menu-item"><a href="/catalog.html">Домашняя одежда</a></li>
		               </ul>
		            </div>
		            <div class="nav-menu-column">
		               <ul class="nav-menu-items">
		                  <li class="nav-menu-item headline"><a href="/catalog.html">Магазин</a></li>
		                  <li class="nav-menu-item">
		                     <a href="/catalog.html"
		                        ><img
		                        src="https://yakapitalist.ru/wp-content/uploads/2018/12/Foto-12.-Francuzy-znayut-tolk-v-nastoyashhikh-sumkakh.-A-Louis-Vuitton-%E2%80%93-eshhyo-i-v-odezhde.jpg"
		                        alt="store"
		                        /></a>
		                  </li>
		               </ul>
		            </div>
		         </div>
		      </div>
		   </li>
		 {% endfor %}
	</ul>
{% endif %}