.allStores {
  padding-bottom: rem(120);
  &.content {
    margin-top: rem(24);
    background: #f9fafc;

    .content-container {
      padding-top: 1rem;
    }
  }
  &-headline{
    padding: rem(24) 0 rem(6);
    h3{
      font-family: "Montserrat";
      font-size: rem(24);
      font-weight: 600;
      margin-bottom: rem(5);
    }
    p{
      font-family: "Montserrat";
      font-size: rem(12);
      font-weight: 400;
      letter-spacing: 0.01px;
      margin: 0;
    }
  }
  &-items{
    @include row-flex();
  }
  &-item{
    @include col();
    @include size(3);
    @include size-md(4);
    @include size-xs(6);
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
  &-card{
    display: block;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 rem(16) rem(50) #E9EEF780;
    border-radius: 5px;
    padding: rem(22) rem(14) rem(13);

    &:hover, &:focus{
      text-decoration: none;
      box-shadow: 0 0 1px 1px #bccbd9;
    }
    &-block{
      display: flex;
      align-items: center;
      padding-bottom: rem(6);
      &-info{
        h5 {
          color: #000000;
          font-family: "Montserrat";
          font-size: rem(16);
          font-weight: 500;
          margin-bottom: rem(3);
        }
        p{
          font-family: "Montserrat";
          font-size: rem(10);
          font-weight: 400;
          color: #9EA6B0;
          margin: 0;
        }
        &-rating {
          display: flex;

          .star {
            font-size: 13px;
          }

          &-orders{
            padding-left: rem(5);
            span{
              font-family: "Montserrat";
              font-size: rem(12);
              font-weight: 500;
              color: #000000;
            }
          }
        }
      }
    }
    &-items{
      display: flex;
      flex-wrap: wrap;
      margin: 0 rem(-3);
    }
    &-item{
      width: calc(50% - 6px);
      margin: rem(3);
      max-height: rem(105);
      min-height: rem(105);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F2F2F2;
      border-radius: rem(5);
      overflow: hidden;
    }
  }

  .catalog-container-pageNavigation{
    padding-top: rem(20);
  }

}