
.top-slider {
  position: relative;

  &-image {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    h3 {
      font-size: 46px;
      font-weight: 400;
      padding-bottom: 20px;
    }

    h5 {
      color: #333333;
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 20px;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .owl-dot {
    width: 11px;
    height: 11px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 50%;
    margin: 0 5px;

    &.active {
      background: transparent;
      width: 20px;
      height: 20px;
      border: 4px solid #ff6f55;
    }
  }

  @include xs-block() {
    &-image {
      img {
        height: 300px;
        object-fit: cover;
      }
    }
  }
}

.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > div {
    width: 100%;
  }

  &-top {
    &-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 15px;
      min-height: 200px;

      &.yellow {
        background-color: #fed327;
      }

      &.green {
        background-color: #d1efb6;
      }

      &-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: #000000;
        @include sm-block() {
          flex-direction: column-reverse;
        }

        h5 {
          font-size: rem(20);
          font-weight: 500;
          padding-top: rem(10);
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
          font-size: rem(16);
          font-weight: 500;
        }
      }

      &-btn {
        min-width: 215px;
        padding-top: 2rem;

        a {
          justify-content: center;
        }
      }

      &-text {
        padding-left: rem(20);
      }
    }
  }

  &-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0 1rem;
    background-color: #f0f5f9;
    border-radius: 10px;
    padding: 1.75rem 6rem 0 3rem;

    h2 {

      color: #3c4348;
      font-size: 100px;
      font-weight: 500;
    }

    h5 {
      color: #3c4348;
      font-size: 40px;
    }

    a {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 1rem;
      font-weight: 400;
      color: #5f6f7b;
      text-decoration: none;

      span {
        color: #385164;
        font-weight: 400;
        padding-left: .5rem;
      }

      &:hover::before {
        width: 100%;
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        right: 0;
        width: 35%;
        height: 1px;
        background: #667a89;
        transition: all .5s ease-in;
      }

      &:after {
        position: absolute;
        display: block;
        content: '';
        right: -1rem;
        width: 9px;
        height: 14px;
        background: url("../img/arrow-right.png") no-repeat right;
        background-size: cover;
      }
    }
  }

  &-bottom {
    &-left {
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
        box-sizing: border-box;
        padding: 2rem 1rem;
        border-radius: 10px;
        color: #383941;

        &:first-of-type {
          margin-bottom: 1.75rem;
        }

        &.top {
          text-align: right;
        }

        h4 {
          font-size: 23px;
          font-weight: 500;
        }

        h3 {
          font-size: 29px;
          font-weight: 600;
        }

        a {
          color: #000000;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    &-right {
      &-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        & > li {
          height: 100%;
        }
      }

      &-item {
        position: relative;
        display: flex;
        align-items: flex-start;
        text-align: center;
        min-height: 435px;
        border-radius: 1rem;
        transition: all .3s ease-in;
        height: 100%;

        &:hover {
          box-shadow: 0 0 15px 2px rgba(0, 0, 0, .15);
        }

        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }

        &-headline {
          padding-top: 2rem;

          h2 {
            position: relative;
            display: flex;
            justify-content: center;
            color: #383941;
            font-size: 23px;
            font-weight: 400;

            &:after {
              display: block;
              position: absolute;
              content: '';
              bottom: -1rem;
              width: 147px;
              height: 5px;
              box-shadow: 0 3px 10px rgba(255, 111, 85, 0.76);
              background-color: #ff6f55;
              border-radius: 500rem;
            }
          }
        }

      }
    }
  }

  @include bd-block() {
    &-top {
      &-item {
        height: 100%;

        &-text {
          padding-left: 0;
        }
      }
    }
  }
  @include lg-block() {
    &-middle {
      padding: rem(10);
      justify-content: space-evenly;
    }
  }
  @include md-block() {
    &-middle {
      &-discount {
        h1 {
          font-size: 90px;
        }
      }

      &-info {
        h5 {
          font-size: 30px;
        }

        a {
          font-size: 15px;
          display: block;
          position: relative;

          &:before {
            content: none;
          }

          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }

          span {
            display: block;
            padding: 0;
          }
        }
      }
    }
    &-bottom {
      &-left {
        &-items {
          padding-bottom: rem(30);
        }
      }
    }
  }
  @include xs-block() {
    &-top {
      &-item {
        &-top {
          flex-wrap: wrap;
        }

        &-img {
          max-height: rem(86);
          height: 100%;
          padding-bottom: rem(15);
        }
      }
    }
    &-middle {
      align-items: center;

      &-img {
        max-width: rem(100);
      }

      &-discount {
        h1 {
          font-size: 50px;
        }
      }

      &-info {
        h5 {
          font-size: 20px;
        }

        a {
          font-size: 13px;
          display: block;
          position: relative;

          &:before {
            content: none;
          }

          &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          span {
            display: block;
            padding: 0;
          }
        }
      }
    }
  }
}

.owl-stage {
  display: flex;
}

.owl-item {
  flex-basis: auto;
  flex-shrink: 0;
}

.recent-products {
  margin-top: 2.5rem;
  border: 1px solid #e8e8e8;
  position: relative;

  .owl-nav {
    position: absolute;
    top: -2.5rem;
    right: .5rem;
    display: flex;
    flex-direction: row;

    > div {
      width: 29px;
      height: 29px;
      border-radius: .5rem;
      margin: 0 7px;

      &:hover {
        box-shadow: 0 0 2px 4px #FF6F554D;
      }

      &:first-of-type {
        background: url("../img/nav-arr-prev.png") no-repeat center #f6f6f6;
      }

      &:last-of-type {
        background: url("../img/nav-arr-next.png") no-repeat center #f6f6f6;
      }
    }
  }

  .owl-stage-outer {
    border-radius: 0.5rem;
  }

  &-headline {
    display: flex;
    text-align: left;
    padding: .75rem 1rem 0;
    border-bottom: 1px solid #e8e8e8;

    h4 {
      color: #000000;
      font-size: 24px;
      font-weight: 500;
    }
  }

  & .cards {
  }

  & .card {
    width: auto;
  }

  @include lg-block() {
    &-item {
      height: 100%;

      &-brand {
        display: block;
        margin-top: auto;
      }
    }
  }
  @include md-block() {
    &-item {
      &-img {
        max-height: 176px;
        height: 100%;

        img {
          max-height: 100%;
          object-fit: none;
          height: 100%;
        }
      }

      &-brand {
        margin-top: auto;
      }
    }
  }
}

.faq {
  padding: 3.25rem 0 2.5rem;

  h2 {
    text-align: center;
  }

  &-list {
    padding-top: 2rem;
  }

  &-item {
    &-headline {
      a {
        display: block;
      }

      h6 {
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding-top: 1rem;
      }
    }

    &-text {
      color: #636363;
      font-size: 14px;
      font-weight: 400;
    }

    img {
      border-radius: .75rem;
    }
  }
}

.getApp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;

  &-img {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
  }

  &-text {
    padding-top: 2.25rem;

    h3 {
      color: #000000;
      font-size: 40px;
      font-weight: 400;
    }

    p {
      color: #636363;
      font-size: 16px;
      font-weight: 400;
      padding: 1.25rem 0;
    }

    a {
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.popular-products {
  margin-top: 2.5rem;
  border: 1px solid #e8e8e8;
  position: relative;

  .owl-nav {
    position: absolute;
    top: -40px;
    right: .5rem;
    display: flex;
    flex-direction: row;
    z-index: 2;

    > div {
      width: 29px;
      height: 29px;
      border-radius: .5rem;
      margin: 0 7px;

      &:hover {
        box-shadow: 0 0 2px 4px #FF6F554D;
      }

      &:first-of-type {
        background: url("../img/nav-arr-prev.png") no-repeat center #f6f6f6;
      }

      &:last-of-type {
        background: url("../img/nav-arr-next.png") no-repeat center #f6f6f6;
      }
    }
  }

  .owl-dots {
    position: absolute;
    top: -44px;
    left: 0;
    right: 0;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .owl-dot {
    padding-right: rem(25);
    font-size: rem(11);
    font-weight: 400;
    text-transform: uppercase;
    color: #636363;

    &.active {
      color: #f9b536;
    }
  }

  .owl-stage-outer {
    border-radius: 0.5rem;
  }

  &-categories {
    @include sm-block() {
      .owl-dots {
        overflow-x: scroll;
        justify-content: flex-start;
      }
      .owl-dot {
        white-space: nowrap;
      }
    }
  }

  &-category {
    display: flex;
    flex-direction: row;
    padding: 1rem;

  }

  &-banner {
    &.absolute {
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
      }
    }
  }

  &-headline {
    display: flex;
    text-align: left;
    padding-right: 1rem;
    border-bottom: 1px solid #e8e8e8;

    &-container {
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 1rem;
      padding-right: 1.5rem;
      background-color: #f9b536;
      border-top-right-radius: 1rem;

      h6 {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
      }

    }

  }

  &-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-item {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    padding: 0 1rem;
    background: #fff;

    &:before {
      position: absolute;
      display: none;
      top: 1rem;
      left: 1rem;
      content: 'Sale';
      background-color: #ff2600;
      padding: .25rem .5rem;
      border-radius: 4px;
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
    }

    &:after {
      position: absolute;
      display: none;
      top: 1rem;
      right: 1rem;
      content: 'New';
      background-color: #68d20b;
      padding: .25rem .5rem;
      border-radius: 4px;
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
    }

    &.new {
      &:after {
        display: block;
      }
    }

    &.sale {
      &:before {
        display: block;
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 10px;
      padding: 0 .5rem;
      min-height: 200px;
      width: 100%;

      img {
        max-height: 176px;
        object-fit: contain;
      }
    }

    &-name {
      a {
        color: #000000;
        font-size: 12px;
        font-weight: 500;
      }
    }

    &-brand {
      margin-top: -6px;

      a {
        color: #636363;
        font-size: 11px;
        font-weight: 400;
      }
    }

    &-cost {
      padding-bottom: 8px;

      span {
        color: #ff6f55;
        font-size: 13px;
        font-weight: 500;

        &.inactive-price {
          color: #7a7a7a;
          font-size: 11px;
          font-weight: 300;
          text-decoration: line-through;
        }
      }
    }

    &-period {
      background-color: #ff6f55;
      border-radius: 10px;
      padding: .25rem .5rem;

      span {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  @include lg-block() {
    .owl-dots {
      left: 20%;
    }
    &-item {
      &-img {
        max-height: 176px;
        height: 100%;

        img {
          max-height: 100%;
          object-fit: none;
          height: 100%;
        }
      }

      &-brand {
        margin-top: auto;
      }
    }
  }
  @include md-block() {
    &-category {
      padding: 1rem 0;
    }
    &-headline {
      &-container {
        background-color: transparent;
      }
    }
    .owl-dots {
      left: 20px;
      justify-content: start;
    }
    &-banner {
      display: none;
    }
    &-stores {
      h2 {
        padding-bottom: 0;
      }
    }
  }
  @include xs-block() {
    margin-top: 6rem;
    &-headline {
      display: none;
    }
    &-categories {
      .owl-nav {
        top: -4.5rem;
      }

      .owl-dots {
        left: 0;
        justify-content: flex-end;
      }
    }
    &-item {
      width: 33.3333%;
    }
  }
}

.popular-stores {
  padding: 50px 0 34px;

  h2 {
    text-align: center;
    text-transform: none;
    color: #000000;
    font-size: 38px;
    font-weight: 400;
    padding-bottom: 1.75rem;

  }

  a {
    font-size: 14px;
    font-weight: 300;
    padding: .25rem 1rem;
  }

  p {
    margin-bottom: .5rem;
    color: #A2A2A2;

    strong {
      color: #000000;
    }
  }

  &-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;

    &:nth-of-type(2) {
      &:before, &:after {
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        height: 90%;
        width: 1px;
        background: #e3e3e3;

      }

      &:before {
        left: -.25rem;
      }

      &:after {
        right: -.25rem;
      }
    }

    & > * {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    &-top {
      justify-content: center;
      padding: 1rem;

      &-image {
        max-width: 40%;
      }

      &-info {
        flex: 1;
        padding-left: 1rem;

        h5 {
          a {
            font-size: inherit;
            color: #000;
            font-weight: 500;
            padding: 0;

          }
        }

        &-stars {
          display: flex;

          strong {
            font-weight: 500;
            padding-left: .5rem;
          }
        }
      }
    }

    &-images {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

    }
  }

  &-button {
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding-top: .5rem;
      padding-bottom: .5rem;
      padding-right: 2rem;
    }
  }
}

.partners {
  padding: 50px 0 70px;

  h2 {
    text-align: center;
    text-transform: none;
    color: #000000;
    font-size: 38px;
    font-weight: 400;
    padding-bottom: 1.75rem;

  }

  &-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-item {
    &-inner {
      position: relative;
      border: 1px solid #f3f3f3;
      min-height: 160px;
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all .5s ease;

      &:hover {
        box-shadow: 0 0 25px 2px rgba(0, 0, 0, .1);
      }

      strong {
        color: #f0f5f9;
        font-size: 70px;
        font-weight: 900;
        line-height: 73px;
      }

      & > .absolute {
        position: absolute;
        z-index: 3;
        color: #ff6f55;
        font-size: 18px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }

  @include md-block() {
    padding: rem(30) 0;
    &-item {
      padding-bottom: rem(30);
    }
  }
}

.subscribe {
  background-color: #f3f3f3;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 3rem;
  }

  &-info {
    padding-left: 2rem;
    padding-right: 4rem;

    h4 {
      color: #000000;
      font-size: 26px;
      font-weight: 400;
    }

    p {
      color: #636363;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  &-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }

  label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    border-radius: 1.5rem;
    margin-bottom: 0;
    margin-right: 2rem;

    &:after {
      position: absolute;
      display: block;
      content: '';
      right: 1.5rem;
      width: 9px;
      height: 14px;
      background: url("../img/arrow-right.png") no-repeat right;
      background-size: cover;
    }
  }

  input {
    width: 100%;
    height: 100%;
    border: 0;
    text-indent: 2rem;
    font-size: 16px;
    font-weight: 400;
    color: #afafaf;
  }

  button {
    padding: .5rem 2rem;
  }

  @include lg-block() {
    &-container {
      padding: 2rem 1rem;
    }
    &-info {
      padding-left: 0;
    }
  }
  @include md-block() {
    &-container {
      display: block;
    }
    &-info {
      padding-bottom: rem(20);
    }
    &-info, &-form {
      width: 100%;
    }
  }
}


@media (max-width: 1200px) {
  .popular-products {
    .owl-dots {
      left: 20%;
    }
  }
}

@media (max-width: 991px) {
  .banners {
    &-middle {
      a {
        flex-wrap: wrap;

        &:before {
          width: 100%;
        }

        &:after {
          right: 0;
        }

        span {
          padding: 0;
        }
      }
    }

    &-bottom {
      &-right {
        &-item {
          margin-top: 1.75rem;
        }
      }
    }
  }
  .popular {
    &-stores {
      &-item {
        &:after {
          opacity: 0;
        }
      }
    }
    &-products{
      &-headline{
        &-container{
          opacity: 0;
        }
      }
      .owl-dots{
        left: 5%;
        justify-content: left;
      }
      &-category{
        padding: 0;
        height: 100%;
      }
      &-banner{
        padding: 0;
        border-radius: 0;
      }
    }
  }
}