.sign-register {
  background-color: #f9fafc;

  &-items {
    display: flex;
    justify-content: space-between;
    padding: rem(25) 0 rem(88);
  }

  &-item {
    max-width: rem(664);
    width: 100%;

    &-img {
      display: flex;
      padding-top: rem(55);
      justify-content: center;
      align-items: start;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-image: url("../img/register-1.png");
        top: 61px;
        left: 49px;
        width: 28px;
        height: 36px;
        animation: parachute 5s infinite linear;
      }

      &:after {
        content: '';
        position: absolute;
        background-image: url("../img/register-2.png");
        top: 55px;
        right: 0;
        width: 70px;
        height: 93px;
        animation: parachute 4s infinite linear;
      }
    }
  }

  &-inner {
    background-color: #ffffff;
    box-shadow: 0 16px 50px rgba(233, 238, 247, 0.5);
    padding: rem(46) rem(42) rem(45) rem(55);
  }

  &-nav {
    justify-content: center;
    align-items: center;
    border-bottom: rem(1) solid #E1E6EE;

    &-item {
      margin-bottom: -2px;
      width: 49%;
      text-align: center;
    }

    &-br {
      position: relative;
      width: 1px;
      height: 32px;
      background-color: #c1c7cf;
    }

    &-link {
      display: inline-block;
      padding: rem(20);
      color: #c1c7cf;
      font-family: "Montserrat";
      font-size: rem(16);
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: #222227;
        text-decoration: none;
      }

      &.active {
        color: #222227;
        position: relative;
        font-weight: 600;
        text-decoration: none;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: rem(2);
          background-color: #ff6f55;
          box-shadow: 0 3px 6px rgba(255, 111, 85, 0.5);
        }
      }
    }
  }

  &-input {
    width: 100%;
    padding-bottom: 2rem;
  }
  .btn-kervan {
    padding: .5625rem 1.5rem;
  }

  @include lg-block() {
    &-inner {
      padding: rem(20);
    }
    &-item {
      width: 65%;
    }
  }
  @include xs-block() {
    .sign-register {
      &-item {
        width: 100%;

        &-img {
          display: none;
        }
      }
      &-nav{
        &-link{
          padding: 0 0 rem(10);
        }
      }
    }
  }
}

.tab-register {
  &-social {
    padding-top: rem(30);

    h3 {
      color: #222227;
      font-family: "Montserrat";
      font-size: rem(16);
      font-weight: 500;
      margin-bottom: rem(14);
    }

    p {
      color: #9ea6b0;
      font-family: "Montserrat";
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(22);
      margin: 1rem 0;
    }
  }

  &-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: rem(-12);
    margin-right: rem(-12);
  }

  &-block {
    width: calc(37% - 1.5rem);
    padding: 0 rem(12);

    a {
      background-color: #ffffff;
      padding: rem(13);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-family: "Montserrat";
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.24px;
      border: 1px solid #99999929;
      border-radius: 4px;
      transition: all.3s ease;
      box-shadow: 0 3px 15px #e9eef7;

      &:hover {
        box-shadow: none;
        text-decoration: none;
      }

      img {
        padding-right: rem(10);
      }
    }
  }

  &-br {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: rem(15) 0;

    span {
      width: 100%;
      height: 1px;
      background-color: #E1E6EE;
    }

    &-text {
      position: absolute;
      padding: 0 rem(24);
      background-color: white;

      p {
        color: #222227;
        font-family: "Montserrat";
        font-size: rem(16);
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }

  &-form {
    padding: rem(15) 0;

    h4 {
      font-family: "Montserrat";
      font-size: rem(14);
      font-weight: 500;
      color: #000000;
      margin-bottom: rem(24);
    }

    label, input {
      font-family: "Montserrat";
      font-size: rem(14);
      font-weight: 500;
    }

    label {
      color: #7d8b9d;
    }

    input {
      width: 100%;

      &:focus {
        color: #000000;
        box-shadow: none;
      }
    }

    &-password {
      position: relative;

      a {
        position: absolute;
        bottom: 8px;
        right: 20px;
        color: black;
      }

      .view {
        i {
          &:before {
            content: "\f070";
          }
        }
      }
    }

    .btn-kervan {
      padding: .5625rem 1.5rem;

      &:hover, &:focus {
        color: #ffffff;
      }
    }
  }
}

.tab-sign {
  padding: rem(30) 0 rem(15);

  label, input {
    font-family: "Montserrat";
    font-size: rem(14);
    font-weight: 500;
  }

  label {
    color: #7d8b9d;
  }

  input {
    width: 100%;
    max-width: none;

    &:focus {
      color: #000000;
      box-shadow: none;
    }
  }

  &-form {
    padding-bottom: 1.5rem;

    &-checkbox {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
      }

      .custom-control-label:after,
      .custom-control-label:before {
        top: auto;
      }

      .custom-control-input:focus:not(:checked) ~ .custom-control-label:before {
        border-color: #ff6f55;
        box-shadow: 0 3px 16px rgba(255, 111, 85, 0.32);
      }

      .custom-control-input:checked ~ .custom-control-label {
        &:before {
          box-shadow: none;
          background-color: transparent;
          border-color: #ff6f55;
        }

        &:after {
          position: absolute;
          content: "";
          left: rem(-20);
          width: 8px;
          height: 8px;
          background-color: #fe6f55;
          background-image: none !important;
          border-radius: 50%;

        }
      }

      label:before {
        box-shadow: 0 3px 16px rgba(255, 111, 85, 0.32);
        border: 2px solid #ff6f55;
      }
    }

    &-help {
      display: block;
      font-family: "Montserrat";
      font-size: rem(14);
      font-weight: 400;
      text-decoration: underline;
      color: #FF6F55;

      &:hover, &:focus {
        color: #FF6F55;
      }
    }

    .btn-kervan {
      margin-top: .75rem;
      padding: rem(9) 1.5rem;
    }
  }
}

.rec-password {
  padding-top: rem(34);

  h3 {
    font-size: rem(18);
    font-weight: 500;
  }

  p {
    line-height: rem(21);
  }

  p, label, input {
    font-size: rem(14);
    font-weight: 500;
  }

  label {
    color: #7d8b9d;
  }

  small {
    color: #c1c7cf;
    font-family: "Montserrat";
    font-size: rem(10);
    font-weight: 500;
  }

  a {
    text-decoration: underline;
  }

  &-number {
    padding-top: rem(32);

    p {
      margin: 0;
    }
  }
}