.store {
  &-sides {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2rem;
    @include row-flex();
  }

  &-main {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.25rem .5rem;
  }

  &.content {
    background: #f9fafc;

    .content-container {
      padding-top: 1rem;
    }
  }

  &-card {
    display: flex;
    align-items: center;

    img {
      width: 114px;
      height: 96px;
      object-fit: cover;
      border-radius: 5px;
    }

    &-info {
      padding: 1rem 1.5rem;

      h1 {
        color: #000000;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      &-rating {
        display: flex;
        padding-bottom: 5px;

        .star {
          font-size: 13px;
        }

        &-orders {
          padding-left: .5rem;

          span {
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      &-reviews {
        display: flex;

        p {
          margin: 0;
        }

        &-orders {
          padding-left: .5rem;

          span {
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }

  &-nav {
    @include col();
    @include size(9);
    @include size-sm(12);

    &-menu {
      position: relative;
      z-index: 1;

      &-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }

      &-category {
        border-radius: rem(20);
        padding: 0 rem(20);
        transition: all .3s ease-in;

        .arrow {
          padding-left: rem(5);

          &:before {
            content: "";
            background-image: url("../img/search-arrow-down.png");
            background-size: cover;
            position: relative;
            width: 8px;
            height: 5px;
            display: inline-block;
          }
        }

        & > a {
          color: #000711;
          font-size: rem(14);
          font-weight: 500;
          text-decoration: none;
          padding-left: 12px;
        }

        &-inner {
          display: none;
          opacity: 0;
          position: absolute;
          right: 0;
          left: 0;
          z-index: 32;
          padding-top: 30px;

          &-wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.08);
            background: white;
            padding: 2rem 3rem;
            border: 1px solid rgba(60, 60, 60, 0.08);
            border-radius: 1rem;
          }
        }
      }

      &-call {
        border-radius: rem(20);
        padding-right: rem(20);
        transition: all .3s ease-in;
        position: relative;

        .underline {
          text-decoration: underline;
        }

        &:hover {
          .arrow {
            opacity: 0;
          }

          & > div {
            display: block;
            opacity: 1;
          }
        }

        & > a {
          color: #000711;
          font-size: 12px;
          font-weight: 500;
          text-decoration: none;
          padding-left: 12px;
        }

        &-inner {
          display: none;
          opacity: 0;
          position: absolute;
          left: 0;
          z-index: 31;
          min-width: rem(325);
          padding-top: 5px;

          &-wrapper {
            display: flex;
            box-shadow: 0px 10px 30px #00000029;
            background: white;
            padding: rem(24) rem(14) rem(24) rem(24);
            border: none;
            border-radius: 5px;
          }
        }

        &-column {
          width: 100%;

          h4 {
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 500;
          }

          p {
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 300;
            color: #7D8B9D;
            margin-bottom: 6px;
          }
        }

        &-item {
          display: flex;
          align-items: flex-end;
          padding-bottom: 5px;

          a {
            font-family: "Montserrat";
            font-size: 18px;
            font-weight: 300;
            color: #FF6F55;
            margin-bottom: 0;

            &:hover {
              text-decoration: none;
              box-shadow: 0 16px 50px rgba(233, 238, 247, 0.5);
            }
          }
        }

        &-social {
          margin-left: auto;

          a {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }

  &-banner {
    padding: rem(24) 0 rem(18);
    img{
      width: 100%;
    }
  }

  &-products {
    padding-bottom: rem(20);
    @include row-flex();

    &-item {
      @include col();
      @include size(2);
      @include size-md(4);
      margin-bottom: rem(12);

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #000000;
        min-height: rem(80);
        height: 100%;
        word-break: break-word;
        padding: 0 .5rem;
        border-radius: rem(5);

        &:hover {
          box-shadow: 0 0 1px 1px #BCCBD9;
          text-decoration: none;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          margin-left: rem(4);
        }
      }
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-block {
      display: flex;
      padding: rem(23) rem(4.5) 0;

      a {
        padding: rem(6) rem(24);
        border-radius: rem(14);
        border: rem(1) solid #dfe3eb;
        background-color: white;
        color: black;
        text-decoration: none;
        font-family: "Montserrat";
        font-size: rem(12);
        font-weight: 500;

        &:hover, &:focus {
          background-color: #fe8b27;
          color: white;
          border: rem(1) solid #fe8b27;
        }
      }
    }
  }

  &-items {
    padding-bottom: rem(80);
    .catalog-container-item{
      @include col();
      @include size(2.4);
      @include size-lg(3);
      @include size-sm(4);
      @include size-xs(6);
      padding-bottom: 1.5rem;
    }
  }

  .product-recommended-item {
    @include size-md(4);
    @include size-xs(6);
  }

  @include sm-block(){
    &-main{
      flex-wrap: wrap;
    }
    &-nav{
      &-menu{
        &-categories{
          justify-content: space-between;
        }
        &-call, &-category{
          padding: 0;
        }
      }
    }
  }
}